@import "variables.scss";
#dm-content-wrapper{
  overflow: hidden;
}
div#reservation-orders-show, #waiting-dinein-show {
  .rinning-order-title {
    padding: $px45;
  }
}
.dinein-footer-icon {
  >button {
    >span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      margin-right: $px10;
    }
    line-height: normal;
  }
  padding: $px20;
  >button#dine-pay {
    width: $px131;
    text-align: left;
  }
}

.search-dine-table {
  input {
    border: medium none !important;
  }
  form.form-inline.search-inline {
    margin: $px15 0;
  }
}
li#circle-table-shape {
  .sitting-image.round-sitting-image {
    display: none;
  }
  width: $px75;
  height: $px75;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-left: $px20;
  >a {
    vertical-align: middle;
    line-height: $px10;
  }
}
#dining-option {
  .modal-footer {
    border-top: medium none;
    margin-bottom: $px20;
  }
}
.dm-walk-dine {
  >button {
    >span {
      margin-right: $px10;
    }
    width: $px126;
    height: $px74;
    background-color: $blue-dark;
    border: medium none;
    float: left;
    font-size: $px14;
    font-weight: 600;
    color: $white;
    box-shadow: 0 $px2 $px24 0 rgba(224, 231, 244, 0.16);
  }
  margin: 0 auto;
  text-align: center;
  float: right;
  margin: 0 auto;
  text-align: center;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
.change-dine-in-location {
  >button {
    >span {
      display: inline-block;
      vertical-align: middle;
      margin-right: $px5;
    }
  }
}
.content-wrapper#dine-in-wrapper {
  margin-top: $px30;
}
.floor-section-wrap {
  display: grid;
  grid-template-columns: 1fr $px256;
  align-items: center;
  .ullist-floor {
    >li {
      display: inline-block;
      margin-left: $px17;
      padding-bottom: $px10;
      >a {
        color: #72747b;
        font-size: $px14;
      }
    }
    padding-left: 0;
    >li.active {
      >a {
        color: #3d3f43;
        font-weight: bold;
      }
      border-bottom: $px2 solid $blue-middle;
    }
  }
}
.ullist-dinein-table {
  >li {
    display: inline-block;
    margin-left: $px17;
    letter-spacing: 0.5px;
    color: #8c949e;
    >span {
      font-size: $px14;
      font-weight: 600;
      color: $white;
      margin-right: $px5;
    }
  }
  padding-left: 0;
}

#unavailable-seat {
  >span {
    background-color: $red;
    @include seat_avail;
  }
}
#available-seat {
  >span {
    background-color: $blue-middle;
    @include seat_avail;
  }
}
#available-soon-seat {
  >span {
    background-color: #faa03c;
    @include seat_avail;
  }
}
.dine-in-tabel-wrapper{
  width:100%;
  max-width: 100%;
  .inner-dinein-table {
    padding-top: $px20;
    border-top: solid $px2 #e3e7f2;
    .dinein-table-control{
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      margin-bottom: $px15;
    }
  }
}
.round-dinein-circle {
  position: relative;
  width: $px85;
  height: $px85;
  box-shadow: 0 $px2 $px17 0 rgba(0, 0, 0, 0.19);
  background-color: $white;
  border: solid $px1 #d8dce1;
  border-radius: 50%;
  >span {
    cursor: pointer;
  }
}
.zoom-wrap-dinein {
  >div {
    display: inline-block;
    vertical-align: middle;
  }
  .POSItemOptions_quantity_inputs {
    box-shadow: 0 $px2 $px17 0 rgba(0, 0, 0, 0.19);
    background-color: $white;
    border: solid $px1 #d8dce1;
    width: $px154;
    margin-right: $px20;
  }
}
.sub-inner-round {
  width: $px27;
  height: $px27;
  border: solid $px1 #d8dce1;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: $px7;
}
.inner-round {
  width: $px44;
  height: $px44;
  border: solid $px1 #d8dce1;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  top: $px19;
  left: $px2;
  right: 0;
}
span#dine-top {
  position: absolute;
  left: 0;
  right: 0;
  top: -$px4;
  margin: 0 auto;
  text-align: center;
}
span#dine-left {
  position: absolute;
  top: $px33;
  left: $px9;
}
span#dine-right {
  position: absolute;
  right: $px6;
  top: $px32;
}
span#dine-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.clear {
  clear: both;
}

.tables-btn-style {
  margin: $px3;
  height: $px51;
  border-radius: $px4;
  border: solid $px2 #c7c7c7;
  background: $white;
  padding: 0 $px20;
  font-size: $px14;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #7c7e85;
  &.active{
    background-color: $blue-middle;
    border: medium none;
    color: $white;
  }
}
#sitting-dinein-table {
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - 275px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  .sitting-dine-wrap{
    position: relative;
  }
}
table#running-order {
  border-collapse: separate;
  th {
    letter-spacing: 0.4px;
    color: #a4a4a4;
    font-size: $px12;
    font-weight: normal;
  }
  tr.dine-table-content {
    color: #3d3f43;
    font-size: $px14;
  }
  tr {
    td {
      >span {
        letter-spacing: 0.5px;
        color: #3d3f43;
        font-size: $px18;
        font-weight: 600;
        display: block;
      }
      border-top: $px2 solid #e5e9f4;
      height: $px110;
      vertical-align: middle;
      border-bottom: $px2 solid #e5e9f4;
    }
    >td {
      &:first-child {
        border-left: $px2 solid #e5e9f4;
      }
      &:last-child {
        border-right: $px2 solid #e5e9f4;
      }
    }

  }
  .dining-for-button {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    padding: $px4 $px10;
    line-height: 1.45;
  }
  span.dinefor-paynow {
    width: auto;
    border-radius: $px4;
    background-color: $blue-middle;
    display: inline-block;
    padding: $px6 $px10;
    margin-left: $px8;
    color: $white;
    font-weight: 600;
    cursor: pointer;
    vertical-align:middle;
  }
  td.done-soon-order {
    >span {
      border-radius: $px4;
      background-color: #faa03c;
      display: inline-block !important;
      font-size: $px12 !important;
      color: $white !important;
      padding: $px5;
    }
  }
  td.running-order-details {
    >span {
      border-radius: $px4;
      background-color: #e73030;
      display: inline-block !important;
      font-size: $px12 !important;
      color: $white !important;
      padding: $px5;
    }
  }
  border-spacing: 0 $px30;
}

.rinning-order-title {
  >h2 {
    color: #3d3f43;
    font-size: $px24;
    font-weight: 600;
  }
}
.running-order-wrap {
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  padding: 0 $px15;
}
td.dine-order-tabel {
  >span {
    width: $px60;
    height: $px60;
    border-radius: $px4;
    background-color: #e4e8f1;
    display: inline-block;
    text-align: center;
    padding-top: $px15;
  }
}
td.order-time-det {
  >span {
    font-size: $px14 !important;
    font-weight: normal !important;
    display: inline-block !important;
    vertical-align: middle;
  }
}
.dine-table-heading {
  th {
    border-top: medium none;
    border-bottom: $px2 solid #e5e9f4;
    padding-bottom: $px20;
  }
}
.running-order-table-wrap {
  height: calc(100vh - 105px);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
}
span.dinefor-paynow {
  >svg {
    margin-right: $px10;
    vertical-align: middle;
    width: $px24;
  }
}
.table-pos-btn {
  .popup-btn-save {
    height: $px40;
    width: 29.5%;
  }
  margin: 0 auto;
  padding-bottom: $px20;
}

button.qtyminus.value-qty {
  border: $px1 solid #D8DCE1;
  border-right:  medium none;
  border-top-right-radius:  0;
  border-bottom-right-radius:  0;
}

input.qty {
  border: $px1 solid #D8DCE1;
  border-left: medium none;
  border-right:  medium none;
  border-radius:  0;
}
.POSItemOptions_quantity_inputs {
  > *{
    border: 0 none;
    background-color: $white;
    float: left;
    width: 33.33%;
    text-align: center;
    outline: none;
    color: #3D3F43;
    font-size: $px16;
    font-weight: 600;
    height: $px40;
    letter-spacing: 0;
    line-height: $px40;
    vertical-align: middle;
    padding: 0;
    border-radius: $px5;
  }
 .value-qty{
   border: $px1 solid #D8DCE1;
   border-left:  medium none;
   border-top-left-radius:  0;
   border-bottom-left-radius:  0;
 }
}

.popup-btn-save {
  height: $px50;
  border-radius: $block-border-radius;
  padding: $px5 $px20;
  color: $white;
  font-size: $px14;
  font-weight: 600;
  margin-left: $px10;
  border: medium none;
}
.dm-manager{
  .dm-screen-wrap{
    overflow: visible;
  }
  .header {
    border: medium none;
    .header-main{
      padding:0;
    }
  }
}
.dine-order-details .modifiers {
  font-size: 0.75rem;
  padding-left: 1rem;
}
.running-orders-dinein {
  display: none;
  &.active {
    display: flex;
  }
}
.reservation-cancel {
  position: absolute;
  bottom: 0;
  color: #fff;
  right: 0;
  padding: 5px !important;
  .dlt-icon{
    padding: 0;
    cursor: pointer;
    > svg{
      display: inline-block;
      vertical-align: middle;
    }
  }
}
//--------------
svg {
  #dine-in-area{
    background: #f8fbff;
  }
}
.dropdown-content {
  box-shadow: 0 6px 8px rgba(52, 73, 94, 0.2), 0 1px 1px rgba(52, 73, 94, 0.1);
  transition: all 0.2s ease-out;
  width: auto !important;
    .tooltip-c-range {
      margin-bottom: 0;
      font-weight: 600;
        .table-popup {
          display: block;
          padding: 6px 25px 1px 12px;
          font-weight: 400;
          color: $white;
          &:hover{
            color: #fff;
          }
        }
    }
  .table-status {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    > span{
      padding: 0 2px;
      &:first-child{
        min-width: $px25;
      }
    }

    .fa.fa-rectangle {
      height: 13px;
      width: 20px;
      /*background: rgb(200, 76, 76);*/
      border-radius: 2px;
      margin-right: 1px;
    }
  }
}
#tooltipdata {
  display: none;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(187, 187, 187, 0.5);
  background-color: #f8fbff;
}
g.dinein_table_parent {
  &.active{
    stroke: $green;
    stroke-width: 2px;
  }
  .dinein_table {
    &:hover {
      svg {
        path {
          fill: $green;
          stroke: $green;
        }
      }
    }
  }
}
.modal-dialog {
  max-width: 30%;
}
.table-action {
  position: relative;
  .dropdown-item{
    padding: $px5 $px25 $px5 $px5 ;
  }
}
div{
  &#confirmModal{
    .modal-footer{
      justify-content: flex-end !important;
    }
    .customer-title{
      color: #3f4146;
      font-size: 16px;
    }
  }
}
span.open-details-popup.cursor-pointer.font-weight-bold.running-order-details {
  background-color: #e73030;
  color: #fff;
  border-radius: $block-border-radius;
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 100;
}
.pay_now {
  color: #fff;
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
}
.running-actions {
  margin-top: 5px;
  display: grid;
  grid-template-columns: auto $px128;
  text-align: center;
  align-items: center;

}
.action-status {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

span.dinefor-paynow svg {
  height: 14px;
}

span.dinefor-paynow > a {
  display: grid;
  grid-template-columns: auto auto;
}
.table-order-view-wrapper {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  > .table-order-view{
    box-shadow: 0px 0px 1px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
    height: $px100;
    overflow: hidden;
    padding: $px5 $px10;
    margin: $px5;
    border-radius: $block-border-radius;
    position: relative;
    transition: 0.3s ease-in-out;
    &.active{
      height: auto;
      transition: 0.3s ease-in-out;
      .order-down-arrow{
        transform: rotate(180deg);
        transition: 0.3s ease-in-out;
      }
    }
    .order-down-arrow {
      position: absolute;
      bottom: 5px;
      right: 10px;
      cursor: pointer;
    }
  }
}

#available-tables {
  > .table-status{
    &:hover{
      background: #E3E7F2;
    }
  }
}
#my-dropdown  {
  > .dropdown{
    border-bottom: 1px solid rgb(204, 204, 204);
    > span{
      padding: 0;
    }
  }
}