@import 'variables.scss';
@import 'mixins.scss';

.loyaltyApplied {
  background-color: $orange-dark !important;
  padding: 5px 20px !important;

  span {
    font-size: $px12;
    font-weight: bold;
    //line-height: 2.1;
    text-align: center;
    display: inline-block;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer {
    margin-top: -17px; /* your css rules for ipad landscape */
  }
  .main-orders {
    height: calc(100vh - 14.0625rem);
  }
  .navigation .navigation-avatar {
    //margin-top: -0px;
  }
  .navigation .slider-btn {
    //margin-top: -20px;
  }
  .navigation {
    grid-template-rows: 5.3125rem 0.95fr 3.75rem 6.25rem;
  }
  .header
    .header-main
    .header-main-right
    .setting-dropdown
    ul.dine-footer-navmenu {
    bottom: 20px;
  }
}
.footer {
  border-top: 1px solid $gray-middle;
  display: grid;
  grid-template-columns: 65% 35%;

  .footer-slider {
    border-right: 1px solid $gray-middle;
    position: relative;
    display: grid;
    align-items: center;
    padding-right: $px30;

    .footer-slider-list {
      .slick-slide {
        margin-right: $px30;
        border-radius: $btn-border-radius;
        overflow: hidden;
        .footer-slider-list-item {
          cursor: pointer;
          background-color: $btn-bg-black;
          color: #fff;
          height: $footer-btn-height;
          display: grid !important;
          align-items: center;
          justify-content: center;
          grid-template-columns: auto;
          align-items: center;
          justify-content: center;
          transition: 0.2s linear;

          &.active,
          &:hover {
            background-color: $blue-dark;
          }
          &.hide {
            display: none !important;
          }

          img {
            margin: 0 auto;
            margin-bottom: $px5;
          }

          .footer-slider-list-item-link {
            color: #fff;
            font-size: $px12;
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;

            img {
              width: $px12;
            }

            svg {
              width: $px16;
              margin: $px5 auto;
            }

            i {
              font-size: $px16;
              margin-bottom: $px3;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    .slick-slider {
      display: grid;
      grid-template-columns: $px30 1fr $px30;
      align-items: center;

      .slick-arrow {
        margin-left: $px20;
        width: $px15;
        cursor: pointer;

        &.back-btn {
          opacity: 0;
        }

        &.next-btn {
        }
      }

      .slick-list {
        border-radius: $btn-border-radius;

        .slick-track {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .footer-buttons {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;

    .footer-button-menu {
      display: none;
    }
    .template-btn {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    .active {
      .button {
        background-color: $blue-dark;
        cursor: pointer;
        &:hover {
          background-color: $blue-middle;
        }
      }
    }

    .button {
      cursor: pointer;
      margin: 0 $px30;
      border-radius: $btn-border-radius;
      height: $footer-btn-height;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      justify-content: center;
      color: #fff;
      transition: 0.2s linear;
      background-color: #ccc;
      cursor: not-allowed;

      .pay-btn-holder {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 100%;

        .pay-button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 10px;
          height: 100%;
          @include responsive(mobile) {
            display: grid;
            grid-template-columns: auto;
            width: auto;
            color: red;
            background-color: blue;
          }

          span {
            color: #fff;
            padding-left: $px10;
            font-size: $px26;
            display: inline-block;
            vertical-align: middle;
          }
          svg {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }

      .template-btn {
        .pay-now {
          a {
            display: grid;
            grid-template-columns: min-content max-content;
            align-items: center;
            justify-content: center;
            color: #fff;

            img {
              width: $px30;
              /*margin-right: $px10;*/
            }

            .pay-btn {
              font-size: $px22;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }

    .button-cart {
      display: none;
    }
  }
}
