@import 'pixels_rem.scss';
@import 'variables.scss';

.header {
  padding: 0 $px30;

  .header-main {
    height: $header-height;
    display: grid;
    grid-template-columns: auto auto;

    //padding: 0 $px30;
    @include responsive(mobile) {
      padding: 5px;
    }

    .header-main-left {
      height: $header-height;
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      justify-content: start;

      @include responsive(mobile) {
        width: 10rem !important;
      }

      .header-main-left-info {
        margin-right: $px30;

        .title {
          font-weight: 600;
          font-size: $px22;
        }

        .subtitle {
          font-size: $px14;
          font-weight: 600;
        }
      }

      .header-main-left-time {
        padding: 0 $px35;
        background-color: $btn-bg-black;
        height: $header-btn-height;
        border-radius: $btn-border-radius;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: $px16;

        .time {
          margin-right: $px5;
        }

        a {
          color: #fff;
        }
      }
    }

    .header-main-right {
      height: $header-height;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;

      .menu-language, .menu-notifications {
        margin-right: $px10;

        img {
          width: 24px;
        }
      }

      .switch-store {
        padding-right: $px10;
      }

      .user-name {
        height: $header-btn-height;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: $px10;
        font-weight: 600;
        cursor: pointer;
      }

      .language-button {
        height: $px50;
        background: none;
        border: $px1 solid $gray-middle;
        border-radius: $px4;
        padding: 0 $px10;
        margin: 0 $px10;
      }

      .online {
        height: $header-btn-height;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: $px10;
        cursor: pointer;

        .fa-circle {
          width: $px15;
          height: $px15;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.1);
          margin-top: $px2;
          margin-right: $px10;

          &.online {
            &:before {
              color: $green;
            }
          }

          &:before {
            color: $red;
          }
        }
      }

      .online-counter {
        background-color: $btn-bg-black;
        height: $header-btn-height;
        border-radius: $btn-border-radius;
        padding: 0 $px35;
        color: #fff;
        margin-right: $px10;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .nav-item {
          a {
            color: #fff;
            display: flex;
            align-items: center;

            .online-digit {
              width: $px20;
              height: $px20;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $blue-middle;
              border-radius: $btn-border-radius;
              margin-left: $px5;
            }
          }
        }
      }

      .nav-icon {
        background-color: $blue-middle;
        width: $header-btn-height;
        height: $header-btn-height;
        border-radius: $btn-border-radius;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;

        .nav-link {
          padding: 0;
          display: inline-flex;
          align-items: center;
          justify-content: center;

          svg {
            width: $px25;
            height: $px25;
          }
        }
      }

      .status {
        .online {
          height: auto;
          justify-content: flex-start;
          margin-left: 0;
        }
      }

      .setting-dropdown {
        display: none;
        font-weight: 600;
        z-index: 999;
        position: fixed;
        width: $px320;
        right: 0;
        top: 0;
        bottom: 0em;
        height: 100%;
        -webkit-box-shadow: 0 0px 0.0625rem 0 rgba(23, 23, 32, 0.05),
          0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05),
          0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05),
          0 0px 0.375rem 0 rgba(23, 23, 32, 0.05),
          0 0px 0.75rem 0 rgba(23, 23, 32, 0.05);
        box-shadow: 0 0px 0.0625rem 0 rgba(23, 23, 32, 0.05),
          0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05),
          0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05),
          0 0px 0.375rem 0 rgba(23, 23, 32, 0.05),
          0 0px 0.75rem 0 rgba(23, 23, 32, 0.05);
        border: 1px solid $gray-light;
        border-radius: $btn-border-radius;
        background-color: #fff;
        color: #000;
        font-size: $px16;

        .setting-menu-wrapper {
          height: calc(100% - 160px);
          overflow: auto;
        }

        ul {
          &.dine-footer-navmenu {
            display: flex;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            position: absolute;
            bottom: 0;
            width: 100%;

            li {
              border-bottom: medium none;
              display: grid;
              align-items: center;
              width: 100%;

              svg {
                path {
                  fill: #cc3232;
                  opacity: 1;
                }
              }
            }
          }
        }

        li {
          &:hover {
            background: #5056ca;

            svg {
              path {
                fill: #fff;
                opacity: 1;
              }
            }
            
            a {
              color: #fff;
            }
          }

          svg {
            width: $px25;

            path {
              fill: #000;
              opacity: 0.5;
            }
          }

          a {
            font-size: $px18;
            color: #555;
            font-weight: 400;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: $px20;
            padding: $px15 $px20;
            border-bottom: $px1 solid #e3e7f2;
            align-items: center;
            cursor: pointer;
          }
        }
      }

      .profile-sidebar-header {
        display: grid;
        grid-template-columns: max-content auto max-content;
        align-items: center;
        justify-content: space-between;
        grid-row-gap: 20px;
        padding: 1.8rem 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        @include responsive(mobile) {
          padding: 30.5px 7px;
        }

        .btn-close {
          font-size: 18px;
          justify-self: end;
          margin-right: 5px;
          cursor: pointer;
        }

        .separator {
          width: 1px;
          height: 100%;
          background-color: #fff;
        }
      }

      .popup {
        display: none;
      }
    }
  }
}

.transaction-orders {
  .header-main {
    .header-main-right {
      .walkin-btn-design {
        >.walkin-btn {
          height: $px50;
          margin-right: $px10;
          padding: 0;

          >a {
            height: $px50;
            display: grid;
            vertical-align: middle;
            padding: $px6 $px12;
            align-items: center;
          }
        }
      }
    }
  }
}

.header {
  .header-main {
    .change-brand-setting {
      display: none !important;
    }
  }
}

@include responsive(mobile) {
  .header {
    padding: 0;

    .header-main {
      .change-brand-setting {
        display: grid !important;
      }

      .change-brand-web {
        display: none;
      }
    }
  }

  .setting-dropdown {
    z-index: 9999 !important;
    width: 70% !important;
    overflow: auto;

    ul {
      &.dine-footer-navmenu {
        position: static !important;
      }
    }

    li {
      text-align: left;
    }
  }
}

//Business Summary details
#business-summary {
  @include responsive(mobile) {
    position: fixed !important;
  }
  .modal-dialog {
    max-width: 70%;

    @include responsive(mobile) {
      max-width: unset;
    }
    .modal-content{
      @include responsive(mobile) {
        max-height: 80vh;
        overflow: auto;
      } 
    }
    .business-summary-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $px20;
      width: 100%;

      @include responsive(mobile) {
        grid-template-columns: 1fr !important;
      }

      table {
        border-collapse: collapse;
        width: 100%;

        thead {
          tr {
            background: $blue-middle;
            color: $white;
          }
        }

        tbody {
          tr {
            &:nth-child(even) {
              background-color: $gray-middle;
            }

            .align-right {
              text-align: right;
            }
          }
        }

        td,
        th {
          border: 1px solid $gray-middle;
          text-align: left;
          padding: $px8;

          span {
            cursor: pointer;
          }
        }
      }
    }
  }
}