@import './pixels_rem.scss';
@import './variables.scss';
@import './mixins.scss';

@include responsive(mobile) {
  .new-pos {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;

    .navigation {
      position: absolute;
      top: 116px;
      left: 0;
      right: 0;
      bottom: 83px;
      background-color: #fff;
      grid-template-rows: max-content;
      display: none;
      z-index: 1;
      overflow: hidden;
      grid-row-start: 3;
      grid-row-end: 4;

      &.active {
        display: block;
        .navigation-list-wrapper{
          .navigation-list{

          }
        }
      }

      .logo {
        display: none;
      }

      .slider-btn {
        display: none;
      }

      .navigation-avatar {
        display: none;
      }

      .navigation-list-wrapper {
        overflow: auto;
        height: 100%;
        //position: absolute;
        //top: 0;
        //left: 0;
        //right: 0;
        //bottom: 0;

        .navigation-list {
          overflow: auto;
          grid-gap: 0;
          padding: 0;

          .nav-item {
            grid-template-columns: 1fr;

            .nav-link-nav {
              color: #333;
              width: auto;
              height: 50px;
              flex-direction: row;
              justify-content: flex-start;
              border-bottom: 1px solid $gray-middle;
              padding: 0 $px19;

              .nav-link-text {
                font-size: $px14;
              }

              img {
                margin-right: $px20;
                margin-bottom: 0;
              }

              &.active {
                background-color: transparent;
                box-shadow: none;
              }
            }
          }
        }
      }
    }

    .header {
      grid-row-start: 1;
      grid-row-end: 2;
      .header-main {
        grid-template-columns: 1fr;
        padding: 0 $px20;

        .header-main-left {
          display: none;
        }

        .header-main-right {
          justify-content: space-between;

          .user-name, .online, ul {
            display: none;
          }

          .nav-icon {
            background-color: $btn-bg-black;
            width: $px40;
            height: $px40;
            a{
              svg{
                width: $px20;
                height: $px20;
              }
            }
          }

          .curent-sale {
            .curent-sale-title {
              font-weight: 600;
              font-size: $px18;
            }

            .curent-sale-item {
              display: flex;
              align-items: center;

              .text {

              }

              .num {
                background-color: $green-middle;
                color: #fff;
                width: $px25;
                height: $px25;
                border-radius: $btn-border-radius;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: $px10;
                font-size: $px14;
              }
            }
          }

          .setting-dropdown {
            width: 95%;
            height: 100vh;
            top: 0;
            right: -18px;
          }
        }
      }
    }

    .main {
      grid-template-columns: 1fr;
      position: relative;
      overflow: hidden;
      grid-row-start: 2;
      grid-row-end: 3;

      .main-news {
        display: none;
      }

      .main-body {
        padding: 0;
        border: none;
        grid-template-rows: max-content;

        .search-field {
          margin-top: 0;
          border-radius: 0;
          border: none;
          border-bottom: 1px solid $gray-middle;
          grid-template-columns: $px60 1fr 1fr;
          padding: $px5 0;
          align-items: stretch;

          .allCategory {
            border-right: 1px solid $gray-middle;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            transition: 0.3s ease-out;

            &.notActive {
              display: none;
            }

            &.active {
              color: $green-middle;
            }

            .fa {
              margin-left: $px10;
              font-weight: 600;
              font-size: $px18;
              transition: 0.3s ease-out;

              &.active {
                transform: rotate(180deg);
              }
            }
          }

          .subCategory {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            transition: 0.3s ease-out;

            &.notActive {
              display: none;
            }

            &.active {
              color: $green-middle;
            }

            .fa {
              margin-left: $px10;
              font-weight: 600;
              font-size: $px18;
              transition: 0.3s ease-out;

              &.active {
                transform: rotate(180deg);
              }
            }
          }

          .search-field-input {
            display: none;
            height: auto;
            grid-column-start: 2;
            grid-column-end: 4;

            &.active {
              display: block;
            }
          }
        }

        .food-wrapper {
          grid-template-columns: 1fr;
          grid-gap: 0;
          height: auto;
          overflow: auto;
          position: relative;

          .food-categories {
            display: none;
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            &.active {
              display: block;
            }

            .food-categories-item {
              width: auto;
              height: 50px;
              border-radius: 0;
              border: none;
              padding: 0 $px19;
              min-height: $px50;
              grid-template-columns: $px50 1fr;
              border-bottom: 1px solid $gray-middle;

              .food-categories-item-text {
                font-size: $px12;
              }

              img {
                margin: 0;
              }

              &.active {
                box-shadow: none;

                .food-categories-item-check {
                  display: none;
                }
              }
            }
          }

          .food-block {
            grid-template-rows: 1fr;
            padding: 0;

            .breadcrumbs {
              display: none;
            }

            .food-menu {
              padding: 0;
              display: none;

              &.active {
                display: block;
              }

              .food-menu-item {
                width: 100%;
                height: auto;
                padding: 0;
                margin: 0;
                grid-template-columns: auto 1fr;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid $gray-middle;

                img {
                  width: $px50;
                  height: $px50;
                }
              }
            }
          }
        }
      }

      .main-orders {
        position: absolute;
        top: -100%;
        right: 0;
        bottom: 0;
        left: -320px;
        padding: $px20;
        height: 100%;
        background-color: #fff;
        padding: 0;
        grid-template-rows: max-content max-content 1fr;
        overflow: hidden;
        transition: 0.7s ease-out;
        border-bottom: 1px solid $gray-middle;

        &.active {
          top: 0px;
        }

        .main-orders-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: $px10 $px20 0;
          font-weight: 600;
          font-size: $px20;

          .fa {
            font-size: $px22;
            font-weight: 600;
          }
        }

        .main-orders-contacts {
          margin: 0;
          padding: 0 $px20 0 $px20;

          .main-oreders-title {
            font-size: $px16;
          }

          .main-oreders-date {
            text-align: right;
          }

          .main-oreders-buttons {
            display: none;
          }
        }

        .main-orders-list-wrapper {
          padding: 0;

          .main-orders-list {
            grid-gap: 0;

            .main-orders-list-item {
              border-radius: 0;
              border: none;
              border-bottom: 1px solid $gray-middle;
              padding: $px5 0;
              margin: 0 $px20;

              .main-orders-list-item-title {
                white-space: nowrap;
              }
            }
          }
        }

        .main-orders-total {
          padding: 0 $px20;
          position: relative;

          .total-wrapper {
            border-top: 1px solid $gray-middle;
            padding: $px10 0;
            transition: 0.7s ease-out;
            margin-bottom: -100%;
            &.active{
              margin-bottom: 0;
            }
            .item {
              .sub-total-text {
                font-size: $px14;
              }

              .sub-total-num {
                font-size: $px14;
              }
            }
          }


          .total {
            margin: 0;
            border-top: 1px solid $gray-middle;
            color: #333;
            background-color: #fff;

            .sub-total-text {
              font-size: $px14;
            }

            .sub-total-num {
              font-size: $px14;
              display: flex;
              align-items: center;

              i {
                font-size: $px22;
                font-weight: 600;
                margin-left: $px10;
                transition: 0.3s ease-out;
                &.active{
                  transform: rotate(180deg);
                }
              }
            }
          }
        }

      }
    }

    .footer {
      // display: none;
      grid-template-columns: 1fr;

      .footer-slider {
        display: none;
      }

      .footer-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $px20;
        .footer-button-menu{
          display: none;
          background-color: $btn-bg-black;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: $px25;
          line-height: $px20;
          border-radius: $btn-border-radius;
          width:  $header-btn-height;
          height: $header-btn-height;
          &.active{
            display: flex;
          }
        }
        .button {
          padding: 0 $px20;
          display: none;
          margin-right: 0;
          margin-left: $px20;
          background-color: $green-middle;
          flex-grow: 1;
          height: $header-btn-height;
          &.active{
            display: grid;
          }
        }

        .button-cart {
          height: $header-btn-height;
          background-color: $green-middle;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: $btn-border-radius;
          display: none;
          flex-grow: 1;
          &.active{
            display: flex;
          }

          .fa {
            margin-right: $px10;
          }
        }
      }
    }
  }
}
