@import 'pixels_rem.scss';
@import 'variables.scss';

.navigation {
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: $blue-middle;
  display: grid;
  grid-template-rows: $header-height 1fr $px60 $footer-height;
  justify-content: center;
  grid-template-columns: 1fr;
  overflow: hidden;

  /*img{
    max-width: 100%;
  }*/

  .logo {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;

    .logo-link {
      img {
        width: $logo-link-size;
        height: $logo-link-size;
      }
    }
  }

  .navigation-list-wrapper {
    overflow-y: scroll;
    position: relative;
    //overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    .navigation-list {
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      overflow: hidden;
      display: grid;
      grid-template-rows: auto;
      grid-gap: 10px;
      padding: 0 0 $px30 0;
      transition: 0.5s ease-out;
      @include responsive(mobile) {
        // top: 65px;
      }

      &.toggle {
        top: -95%;
      }

      .nav-item {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .nav-link-nav {
          //display: flex;
          //flex-direction: column;
          //align-items: center;
          //justify-content: center;
          text-align: center;
          font-size: 14px;
          color: #fff;
          align-items: center;
          display: grid;
          width: $nav-link-width;
          min-height: $nav-link-height;
          cursor: pointer;
          font-weight: 600;
          border-radius: $btn-border-radius;
          transition: 0.2s linear;

          &.activebg {
            padding: 0 5px;
            height: $nav-link-height;
          }

          &.active,
          &:hover {
            background-color: $blue-light !important;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          }

          img {
            width: $px80;
            margin: 0 auto;
            height: $px80;
            margin-bottom: $px5;
            border-radius: $px3;
            margin-top: $px7;
          }

          .nav-link-text {
            font-size: 12px;
            text-align: center;
            word-break: break-word;
            /*min-height: $px75;*/
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .slider-btn {
    color: #fff;
    margin: 0 auto;
    background-color: $blue-dark;
    width: $px46;
    height: $px40;
    font-size: $px12;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $btn-border-radius;
    text-align: center;
    margin-top: $px15;
    cursor: pointer;
    transition: 0.3s linear;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

    &.toggle {
      transform: rotate(180deg);
    }

    &:hover {
      background-color: $blue-light;
    }
  }

  .navigation-avatar {
    background-color: $blue-dark;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: $px8 0;

      img {
        border: 3px solid #fff;
        border-radius: 50%;
        width: $nav-link-size;
        height: $nav-link-size;
        transition: 0.2s ease-out;

        &:hover {
          transform: scale(1.1);
        }
      }

      .nav-link-user-name {
        color: #fff;
        font-size: $px14;
        margin-top: $px5;
        text-align: center;
        width: $px75;
        padding-left: $px4;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.dm-manager {
  .navigation {
    grid-template-rows: $header-height 1fr $px60 $dm-nav-footer-height;
    width: $px75;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    justify-content: inherit;
    grid-template-columns: $px75;

    &.collapse-menu {
      width: $px200;
      grid-template-columns: $px200;
      .navigation-avatar{
        -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
        transition: width 0.3s;
        width: $px200;
        .nav-link{
          width: $px200;
          -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
          transition: width 0.3s;
        }
      }
    }

    .logo {
      width: $px75;
    }

    .navigation-list-wrapper {
      .navigation-list {
        grid-gap: 0;

        .nav-item {
          -ms-flex-align: center;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          max-width: 4.375rem;
          display: list-item;
          transition: 0.3s ease-out;

          .nav-link-nav {
            width: unset;
            min-height: auto;
            /* padding: 0.625rem 0.9375rem 0.625rem 0.9375rem; */
            /* margin: 0 0.4375rem 0.625rem 0.625rem; */
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-transition: 0.3s ease-out;
            transition: 0.3s ease-out;
            padding: $px10 $px15 $px10 $px15;
            margin: 0 $px7 $px10 $px10;

            .nav-link-text {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;

              svg {
                width: $px25;
                height: $px25;
                fill: $white;
              }
            }

            .nav-link-name {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-left: 1.25rem;
            }
          }
        }
      }
    }
    .slider-btn {
      z-index: 9;
    }
    .navigation-avatar{
      justify-content: inherit;
      -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
      transition: width 0.3s;
      width: $px75;
      .nav-link{
        width: $px75;
        -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
        transition: width 0.3s;
      }
    }
  }
}

.collapse-menu {
  .navigation-list {
    li {
      max-width: $px196 !important;
    }
  }
}

@media only screen and (min-width: 961px) {
  .navigation{
    img{
      max-width: 100%;
    }
  }
}