@import 'pixels_rem.scss';
@import 'variables.scss';

.main-orders {
  padding: $px5 $px8 0 $px8;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: calc(100vh - #{$main-body-height});
  overflow: hidden;
  background-color: $gray-bg-light;
  grid-column-start: 2;
  &.mainOrdersDine {
    grid-template-rows: 1fr min-content;
    .main-orders-list-wrapper {
      &::-webkit-scrollbar {
        width: $px10;
      }
    }
  }

  .main-orders-title {
    display: none;
  }

  .main-orders-contacts {
    display: grid;
    //grid-template-columns: auto max-content;
    grid-template-rows: auto auto;
    align-items: center;
    margin-bottom: $px5;

    .main-oreders-title {
      font-weight: 600;
      font-size: $px14;
      padding: 0px 0;
    }

    .main-oreders-email {
      color: $blue-dark;
      padding: $px2 $px10;
      font-weight: 600;
      text-align: left;
      font-size: $px14;
      letter-spacing: $px1;
      position: relative;
      border: $px1 dashed $header-gray-light;
      @include responsive(mobile) {
        width: 95%;
        margin: auto;
      }
      > span {
        position: absolute;
        top: 5px;
        color: #ffffff;
        right: 5px;
        background: #cc3532;
        padding: 0.125rem;
        height: 2rem;
        width: 2rem;
        font-size: 14px;
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;
      }
    }

    .main-oreders-date {
      padding: 0px 0;
      font-size: $px12;
      font-weight: 600;
    }

    .main-oreders-phone {
      color: $blue-dark;
      padding: 0 0;
      font-weight: 600;
      text-align: right;
      font-size: $px14;
      letter-spacing: 1px;
    }

    .main-oreders-buttons {
      padding: 0 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr auto;
      grid-gap: $px10;
      grid-column-start: 1;
      grid-column-end: 3;
      margin-top: $px5;

      .button {
        cursor: pointer;
        background-color: $blue-middle;
        color: $white;
        height: $main-orders-buttons-height;
        display: grid;
        align-items: center;
        justify-content: center;
        border-radius: $btn-border-radius;
        font-size: $px16;
        transition: 0.2s linear;

        &:hover {
          background-color: $blue-dark;
        }
      }
      .cartBottomBtn {
        i {
          vertical-align: middle;
        }
      }
    }
  }

  .main-orders-list-wrapper {
    overflow: auto;
    position: relative;
    padding-right: 0;
    &::-webkit-scrollbar {
      width: 0;
    }

    .main-orders-list {
      display: grid;
      grid-template-columns: auto;
      grid-gap: $px5;
      position: relative;

      &.hide {
        display: none;
      }

      .main-orders-list-item {
        min-height: $px100;
        height: unset;
        border: 1px solid $gray-middle;
        border-radius: $card-border-radius;
        background-color: $white;
        padding: $px5 $px20;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        margin-bottom: $px2;
        position: relative;

        .note {
          color: $gray-dark;
          font-size: $px11;
        }

        .main-orders-list-item-title {
          display: grid;
          grid-template-columns: 1fr auto auto;
          align-items: center;
          margin-bottom: 0px;
          font-size: $px16;
          font-weight: 600;

          .orders-close {
            display: grid;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            // padding: 1em;
            cursor: pointer;

            i {
              color: $red;
            }
          }
        }

        .main-orders-list-item-subtitle {
          font-size: $px14;
          color: $gray-dark;
          margin-bottom: $px6;

          i {
            font-size: $px11;
          }
        }

        .main-orders-list-item-buttons {
          .button-plus {
            position: absolute;
            bottom: 0;
            right: 15px;
          }
          align-self: end;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
      }
    }

    .wrappers-order-block {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      display: none;
      transition: 0.8s linear;
      transform: scale(0);

      &.show {
        display: block;
        transform: scale(1);
      }
    }
  }

  .main-orders-total {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: $px5;

    .item {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      justify-content: space-between;

      .sub-total-text {
        font-size: $px14;
        font-weight: 600;
      }

      .sub-total-num {
        font-size: $px16;
        font-weight: 700;

        .fa {
          display: none;
        }
      }
    }

    .total {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      justify-content: space-between;
      color: $blue-dark;
      border-top: 2px dotted $blue-dark;
      padding: $px10 0;
      //margin-top: $px10;

      .sub-total-text {
        font-size: $px18;
        font-weight: 700;
      }

      .sub-total-num {
        font-size: $px20;
        font-weight: 700;
        .fa {
          display: none;
        }
      }
    }
  }

  .main-orders-buttons {
    display: none;
  }
}

.main-orders {
  .orders-menu-overlay {
    display: none;
  }
  .mobile-footer {
    display: none;
  }
}

@include responsive(mobile) {
  .main-orders {
    .pagination-customer-details {
      margin-bottom: 20px;
    }

    .orders-menu-overlay {
      position: fixed;
      top: 0;
      right: -100vw;
      right: 0;
      bottom: -100vh;
      left: auto;
      transition: 0.5s ease-out;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0);
      border-left: 1px solid #ddd;
      z-index: 50;
      pointer-events: none;

      &.active {
        bottom: 85px;
        right: 0;
        transition: 0.5s ease-out;
        pointer-events: auto;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
      }

      .orders-menu {
        background-color: #fff;
        width: 100vw;
        align-items: end;
        margin-top: auto;
        overflow-y: auto;

        .footer-slider-list-item {
          border-bottom: 1px solid $gray-middle;
          padding: 20px;
          display: flex;
          align-items: center;
          height: 65px;

          a {
            color: #333;
          }

          svg {
            margin-right: 20px;
          }
        }

        .mobile-footer {
          padding-top: 20px;
        }
      }

      .mobile-footer {
        padding-top: 20px;
        background-color: #fff;
        align-items: end;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: block;
      }
      .btn-next {
        display: inline;
      }
    }
  }
}
