@import "pixels_rem.scss";
@import "variables.scss";
.main-body-transaction {
  height: calc(100vh - #{$header-height});
  overflow: auto;
  .search-field{
    margin: $px20 $px10;
  }
  .detailed_block {
    border-bottom: 1px solid #E3E7F2;
    margin-bottom: $px10;
    > .date_class {
      font-size: $px14;
      line-height: $px15;
      letter-spacing: 0.5px;
      color: #4B4E53;
      padding-left: $px10;
      margin-bottom: $px7;
    }
    .left_info_block {
      display: flex;
      align-items: center;
      justify-content: space-around;
      cursor: pointer;
      padding: 10px 10px;
      .time_and_button  {
        a{
          border-radius: $block-border-radius;
          padding: $px10;
          font-weight: 600;
          display: inline-block;
          font-size: $px9;
          text-align: center;
          min-width: $px59;
          color: $white;
          margin: 0 auto;
          &.canceled{
            background-color: $red;
          }
          &.refunded {
            background-color: $orange-middle;
          }
          &.success {
            background-color: $blue-middle;
          }
        }
        > p{
          font-size: $px14;
          text-align: right;
        }
      }
      .price_and_name{
        padding: 0 $px20;
        > p{
          color: #4B4E53;
          font-size: $px14;
          &.price_s_desc{
            color: #B0B2BB;
          }
        }
      }
    }
  }
}


