@import 'pixels_rem.scss';
@import 'variables.scss';
.main-body-transaction {
  height: calc(100vh - #{$header-height});
  overflow: auto;
  .search-trans-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 0 $px10;
    .back-trans-button {
      > button {
        height: $px45;
        margin-left: 1rem;
      }
    }
  }
  .search-field {
    margin: $px20 $px10;
  }
  .left_info_block {
    > p {
      &.date_class {
        margin: 0 $px12;
      }
    }
    .detailed_block {
      border-bottom: 1px solid #e3e7f2;
      margin-bottom: $px10;
      > .date_class {
        font-size: $px14;
        line-height: $px15;
        letter-spacing: 0.5px;
        color: #4b4e53;
        padding-left: $px10;
        margin-bottom: $px7;
      }
      .left_info_block {
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        padding: 10px 10px;
        &:hover {
          background: $blue-light !important;
        }
        &.active,
        &:hover {
          background: $blue-middle;
          .img_block {
            svg {
              path {
                fill: $white;
              }
              circle {
                stroke: $white;
                fill: $white;
              }
            }
          }
          * {
            color: $white !important;
          }
          .time_and_button {
            a {
              background: $blue-dark;
            }
          }
        }
        .img_block {
          svg {
            path {
              fill: $blue-middle;
            }
            circle {
              stroke: $blue-middle;
              fill: $white;
            }
          }
        }
        .time_and_button {
          a {
            border-radius: $block-border-radius;
            padding: $px10;
            font-weight: 600;
            display: inline-block;
            font-size: $px9;
            text-align: center;
            min-width: $px59;
            color: $white;
            margin: 0 auto;
            &.canceled {
              background-color: $red;
            }
            &.refunded {
              background-color: $orange-middle;
            }
            &.success {
              background-color: $blue-middle;
            }
          }
          > p {
            font-size: $px14;
            text-align: right;
          }
        }
        .price_and_name {
          padding: 0 $px20;
          > p {
            color: #4b4e53;
            font-size: $px14;
            &.price_s_desc {
              color: #b0b2bb;
            }
          }
        }
      }
    }
  }
}
.transaction-orders {
  .btn.btn-success {
    //margin: 6px 5px 0px;
  }
  .main-orders {
    height: calc(100vh - #{$header-height});
    padding: 0;
    @include responsive(mobile) {
      right: 0;
      position: relative;
      transition: 0.7s ease-out;
      display: block;
      overflow: visible;
    }
    #cancellationReason {
      .modal-dialog,
      .modal-header {
        @include responsive(mobile) {
          max-width: 100%;
        }
      }
      .modal-dialog {
        .autocomplete-container {
          grid-gap: 10px;
        }
        .driver-container .dropdown-content {
          @include responsive(mobile) {
            margin-top: 40px !important;
          }
        }
      }
    }
    .main-orders-list-wrapper {
      padding-right: 0;
    }
    .main-orders-total {
      @include responsive(mobile) {
        position: initial;
      }
      .total-wrapper,
      .total {
        padding: $px20 $px30 0;
      }
    }
  }
  h3 {
    &.trans_head {
      font-size: $px16;
      background: #e3e7f2;
      padding: $px10 $px30;
      color: $middle-black;
      font-weight: normal;
    }
  }
}

//Transaction cart order
.transaction-cart {
  padding: $px20 $px30 0;
  .transaction-payment {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: $px10 0;
    border-bottom: 1px solid #e3e7f2;
    > div {
      span {
        display: block;
      }
    }
    p {
      &:not(.trans-label) {
        font-size: 24px;
        > span {
          color: #72777c;
          font-size: $px14;
        }
      }
    }
    .trans-cash-price {
      text-align: right;
      > p {
        &:not(.trans-cash-recipt) {
          font-size: 24px;
          color: $blue-middle;
        }
        font-size: 16px;
      }
    }
  }
}
//cart
.trans-item-list {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: $px5 $px30 0;
  .trans-menu-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: $px16;
    align-items: center;
    > div {
      padding: $px10;
      .trans-item-btn {
        color: #fff;
        font-size: $px12;
        background: $orange-middle;
        display: inline-block;
        padding: $px5;
        margin-right: $px5;
        margin-bottom: $px5;
        border-radius: $block-border-radius;
      }
      p {
        color: $middle-black;
        font-size: $px14;
        font-weight: 600;
        &.price-qty {
          color: #858990;
          font-weight: normal;
        }
      }
    }
    .trans-menu-image {
      width: $px70;
      height: $px70;
      background: $white;
      border: 1px solid #d7dce2;
      border-radius: $block-border-radius;
      > img {
        border-radius: 50%;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }
  .trans-menu-replace {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    .replace-btn {
      > a {
        font-size: $px14;
        color: $blue-middle;
        border: 1px solid $blue-middle;
        padding: $px5;
        border-radius: $block-border-radius;
      }
    }
    .aed-amt {
      display: grid;
      align-items: center;
      > span {
        color: $middle-black;
        font-size: $px14;
      }
    }
  }
}
.btn-transaction {
  background: #fff;
  padding: 20px;
  @include responsive(mobile) {
    padding: 10px;
  }
  .btn-tans-mbl {
    @include responsive(mobile) {
      padding: 5px !important;
    }
  }
}
//media queries
@include responsive(mobile) {
  .transaction-orders {
    .main-transaction-container {
      grid-template-columns: 1fr !important;
      .main-body-transaction {
        .search-trans-wrapper {
          margin: $px10 0;
          .search-field {
            margin: 0 2rem;
            border: 1px solid #e3e7f2;
            border-radius: 3px;
          }
        }
      }
    }
    .transaction-cart {
      margin-top: 1rem;
      .transaction-payment {
        p {
          &:not(.trans-label) {
            font-size: 14px;
          }
        }
        .trans-cash-price {
          > p {
            &:not(.trans-cash-recipt) {
              font-size: 14px;
            }
          }
        }
      }
    }
    .transaction-item {
      .trans-item-list-wrapper {
        //max-height: $px176;
        overflow-y: auto;
        .trans-item-list {
          grid-template-columns: 1fr;
          .trans-menu-item {
            grid-template-columns: auto 1fr;
          }
          .trans-menu-replace {
            grid-template-columns: 1fr auto;
            margin-bottom: $px10;
          }
        }
      }
    }
    .main-orders {
      height: calc(100vh - 9em);
      .main-orders-total {
        padding: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        .total-wrapper .active {
          margin-bottom: -$px160;
          background-color: #fff !important;
        }
      }
    }
  }
}
