@import "pixels_rem.scss";
@import "variables.scss";

.transaction-sidebar {
  padding: $px20 0;
  display: grid;
  grid-template-rows: $px70 1fr;
  overflow: auto;
  padding-right: $px10;
  grid-row-start: 2;
    grid-row-end: 4;

  .search-container {
    display: grid;
    grid-template-columns: $px100 1fr;
    align-items: stretch;
    grid-gap: $px10;
    padding: 0 $px10;

    .orders-button-large {
      height: $header-btn-height;
    }

    .search-field {
      margin: 0;
    }
  }

  .orders-history {
    padding: $px10 $px10 0 0;
    overflow: auto;

    .orders-history-list {
      border-bottom: 2px solid $gray-bg-light;
      margin-bottom: $px10;

      .orders-history-list-title {
        font-weight: 600;
        padding: 0 $px20;
        margin-bottom: $px10;
      }

      .orders-history-list-item {
        display: grid;
        grid-template-columns: min-content 1fr;
        align-items: center;
        grid-gap: $px20;
        padding: $px10 $px10 $px10 $px20;
        cursor: pointer;
        transition: 0.2s linear;
        user-select: none;

        &.active {
          background-color: $blue-middle;
          color: #fff;

          .orders-history-main {
            .orders-history-main-body {
              border-color: transparent;
              color: #fff;
            }
          }
        }

        &:last-child {

          .orders-history-main {
            .orders-history-main-body {
              border: none;
            }
          }
        }

        .orders-history-icon {
          font-size: $px18;
          border: 1px solid $green-middle;
          color: $green-middle;
          background-color: $green-light;
          width: $px30;
          height: $px30;
          border-radius: 50%;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .orders-history-main {
          .orders-history-main-head {
            display: grid;
            grid-template-columns: 1fr max-content;
            align-items: center;
            font-weight: 500;

            .orders-history-amount {

            }

            .orders-history-time {
              margin-bottom: $px5;
            }
          }

          .orders-history-main-body {
            display: grid;
            grid-template-columns: 1fr max-content;
            align-items: center;
            border-bottom: 2px solid rgba(0,0,0,0.05);
            padding-bottom: $px10;
            color: $gray-dark;

            .orders-history-text {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding-right: $px20;
            }

            .orders-button-small {
              margin: 0;
              min-width: $px80;
            }
          }
        }
      }
    }
  }
}