@import "pixels_rem.scss";
@import "mixins.scss";
// navigation
$logo-link-size: $px30;
$navigation-width: $px130;
$nav-link-width: $px100;
$nav-link-height: $px70;
$nav-link-size: $px40;
// header
$header-height: $px85;
$header-btn-height: $px50;
// orders
$main-orders-buttons-height: $px40;
// main
$main-body-search-height: $px110;
$main-body-search-input: $px55;
$breadcrumbs-height: $px50;
$main-news-height: $px40;
$food-menu-item-width: $px160;
$food-menu-item-height: $px160;
$food-categories-item-width: $px90;
$food-categories-item-height: $px90;
// footer
$footer-height: $px100;
$footer-btn-height: $px60;
//
$main-body-height: $px225;
$food-wrapper-height: $px345;
$food-menu-height: $px420;
$btn-border-radius: 3px;
$card-border-radius: 5px;


// color
$white: #fff;
$btn-bg-black: #4B4E53;
$red: tomato;
$blue-light: #767DFF;
$blue-middle: #5056CA;
$green: #62bb31;
$blue-dark: #3A3E9F;
$orange-light: #EF9550;
$orange-middle: #EF7F2A;
$orange-dark: #EF6A05;
$green-light: #F6FFF0;
$green-middle: #64C434;
$green-dark: #58AC2E;
$gray-light: #eee;
$gray-middle: #ddd;
$gray-dark: #888;
$gray-bg-light: #F1F3F6;
$gray-bg-middle: #E3E7F2;
$gray-bg-dark: #D7DCE2;
$assets-address: '../fonts/';