/* Sharp Calendar */
.wrapper,
.wrapperHor{
 background-color: #f2eeee;
 padding: 5px;
}

.SCElement {
 font-size:24px;
 background-color:#f1f3f6;
 color:#333;
 opacity:1;
}
/*
.wrapperHor .SCElement {
    border: 2px solid #444;
}
*/

.SCSel,
.wrapperHor .SCSel {
 color: #333;
 font-weight: 400;
 /*border: 2px solid #333;*/
 border-radius: 0;
}

.SCMarked>div {
 position: relative;
}

.wd_0 .SCElement, .wd_6 .SCElement {
 background-color: #0DA4D3;
}

.SCElement:hover {
 opacity: 0.5;
}

.SCToday {
 background-color:#009300;
}

.SCSel {
 /*border-left: 2px solid #F77565;*/
}

.SCMarked>div:before {
 content: "";
 position: absolute;
 top: 0%;
 right: 0%;
 width: 0px;
 height: 0px;
 border-bottom: 8px solid #eee;
 border-right: 8px solid transparent;
}

.SCMarked>div:after {
 content: "";
 position: absolute;
 top: 0%;
 right: 0%;
 width: 0px;
 height: 0px;
 border-top: 7px solid #fff;
 border-left: 7px solid transparent;
}

.SCYear .SCElement > div {
 width: 168px !important;
}
.SCMonth .SCElement > div {
 width: 70px !important;
}
.SCDay .SCElement > div {
 width: 70px !important;
}
section#main {
 height: auto !important;
}
.fixed-reservation {
 position: fixed;
 right: 0;
 background: #fff;
 z-index: 9;
 height: 90vh;
 box-shadow: 0 25px 30px 0 rgba(0, 0, 0, 0.2), 0 28px 5px 0 rgba(0, 0, 0, 0.19);
 display: grid;
 grid-template-rows: auto 1fr auto;
 grid-row-gap: 20px;
 width: 600px;
}
.fixed-reservation th {
 color: #a4a4a4;
 font-weight: normal;
}
.fixed-reservation td {
 color: #3a3d44;
}
.pos-reservation-footer {
 display: grid;
 align-items: flex-end;
 padding: 20px;
}
.reservation-date-format p {
 color: #7c7e85;
 font-weight: 600;
}
.pos-reservation-table {
 padding: 20px;
}
.pos-reservation-header {
 min-height: 100px;
 background: #f1f3f6;
 padding: 20px;
}
.SCYear {
 display: none !important;
}
.SCMonth {
 /*display: none !important;*/
}