/* Sharp Calendar */
.wrapper,
.wrapperHor{
 background-color: #f1f3f6;
 padding: 5px;
}

.SCElement {
 font-size:24px;
 color:#333;
 opacity:1;
}
/*
.wrapperHor .SCElement {
    border: 2px solid #444;
}
*/

.SCSel,
.wrapperHor .SCSel {
 color: #333;
 font-weight: 400;
 /*border: 2px solid #333;*/
 border-radius: 0;
}

.SCMarked>div {
 position: relative;
}

.wd_0 .SCElement, .wd_6 .SCElement {
 background-color: #CC3232;
}

.SCElement:hover {
 opacity: 0.5;
}

.SCToday {
 background-color:#009300;
}

.SCSel {
 /*border-left: 2px solid #F77565;*/
}

.SCMarked>div:before {
 content: "";
 position: absolute;
 top: 0%;
 right: 0%;
 width: 0px;
 height: 0px;
 border-bottom: 8px solid #eee;
 border-right: 8px solid transparent;
}

.SCMarked>div:after {
 content: "";
 position: absolute;
 top: 0%;
 right: 0%;
 width: 0px;
 height: 0px;
 border-top: 7px solid #fff;
 border-left: 7px solid transparent;
}

.SCYear .SCElement > div {
 width: 168px !important;
}
.SCMonth .SCElement > div {
 width: 76px !important;
 height: 30px !important;
 display: grid;
 align-items:center;
}
.SCDay .SCElement > div {
 width: 76px !important;
 height: 40px !important;
 display: grid;
 align-items: center;
}
td.reservation-actions > .btn-warning {
 margin: 0 5px;
}

td.reservation-actions > .btn {
 color: #fff;
}
.SCElement > div{
 font-size: 15px;
 font-weight: bold;
}
.SCElement.SCSel {
 background: #62bb31;
}
.SCElement.SCSel > div{
 color: #fff
 
}
.SCMonth .SCTbl {
 border-right: 1px dashed #ddd;
 border-bottom: 1px dashed #ddd;
 padding-bottom:3px;
}
.SCDay .SCTbl {
 border-right: 1px dashed #ddd;
 margin-top: 1px;
}

.SCDay .SCTbl:nth-last-child(2), .SCMonth .SCTbl:last-child {
 border-right: medium none !important;
}
section#main {
 height: auto !important;
 display: grid;
 justify-content:center;
}
.fixed-reservation {
 position: fixed;
 right: 0;
 background: #fff;
 z-index: 1;
 height: 90vh;
 box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
 display: grid;
 grid-template-rows: auto 1fr auto;
 grid-row-gap: 20px;
 width: 680px;
}
.fixed-reservation th {
 color: #a4a4a4;
 font-weight: normal;
}
.fixed-reservation td {
 color: #3a3d44;
}
.pos-reservation-footer {
 display: grid;
 align-items: flex-end;
 padding: 20px;
}
.reservation-date-format p {
 color: #7c7e85;
 font-weight: 600;
}
.pos-reservation-table {
 padding: 20px;
}
.pos-reservation-header {
 min-height: 100px;
 background: #f1f3f6;
 padding: 20px;
}
.SCYear {
 display: none !important;
}
.SCMonth {
 /*display: none !important;*/
}
 .SCToday > div, .wd_0 .SCElement, .wd_6 .SCElement {
 color: #fff;
}
.pos-reservation-footer button {
 height: 52px;
}
.SCHor .next .SCDayNum:after {
 content: "\f054";
 text-align: right;
 font-size: 25px;
 font-family: FontAwesome;
}
.SCHor .prev .SCDayNum:after {
 content: "\f053";
 text-align: left;
 font-family: FontAwesome;
 font-size: 25px;
 left:-45px;
 position:absolute;
}
.SCTbl.disabled {
 pointer-events: none !important;
 opacity: 0.5;
}
.SCHor .prev.disabled .SCDayNum:after {
 pointer-events: none !important;
 opacity: 0.5;
}
.prev.disabled {
 pointer-events: none !important;
 opacity: 0.5;
}