.da-image {
  text-align: center; }

#delivery-assistant .btn-announce {
  text-align: right;
  flex: auto !important; }

a.da-link {
  padding: 0.125rem 0.625rem;
  font-size: 0.9375rem;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px; }

.dm-manager nav#mainNav {
  border-bottom: medium none; }
.dm-manager .contain-body-class {
  background: #62bb31; }

body#page-top.dm-manager {
  background: #fff !important;
  border: medium none !important;
  overflow: hidden !important; }

div#dm-content-wrapper {
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out; }
  div#dm-content-wrapper.collapse-container {
    margin-left: 7.8125rem; }
  div#dm-content-wrapper .inner-content-dm {
    width: 100%;
    max-width: 100%;
    display: grid;
    height: 100%;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content; }

.dm-btn-wrap {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 12.5rem;
  grid-column-gap: 1.25rem;
  margin-bottom: 0;
  margin-top: 1.875rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.left-btn-wrap > button {
  margin-right: 0.625rem; }
  .left-btn-wrap > button.active {
    background: #CC3232 !important;
    border-color: #CC3232 !important; }

.dm-order-details-wrap {
  /*overflow: hidden;*/
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding-top: 0.875rem;
  border-bottom: solid 1px #e5e9f3; }

ul.dm-ullist > li {
  display: inline-block;
  text-align: left;
  padding-right: 1.25rem;
  position: relative;
  line-height: normal; }
  ul.dm-ullist > li > a {
    font-size: 0.875rem;
    letter-spacing: 0.5px;
    color: #3d3f43;
    padding: 0.625rem 0.3125rem;
    /* opacity: 0.7; */
    cursor: pointer;
    font-weight: 600; }
  ul.dm-ullist > li.active > a {
    color: rgba(63, 74, 74, 0.8);
    border-bottom: 3px solid #CC3232;
    opacity: 1; }
  ul.dm-ullist > li.pick > span {
    background-color: #f8a634; }
  ul.dm-ullist > li.dm-delivered > span {
    background-color: #62bb31; }

button:focus {
  outline: none;
  box-shadow: none !important; }

.dm-deliver-detail-right > p.dm-amt {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #62bb31; }
.dm-deliver-detail-right > p.dm-time {
  font-size: 0.75rem;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #72747b; }

.inner-content-dm {
  margin: 0 auto;
  width: 1185px; }

#mainNav.fixed-top .delivery-manager-st .navbar-sidenav {
  height: 100vh !important; }

div#delivery-manager .modal-dialog {
  width: 1000px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0.625rem 2.5rem 0 rgba(133, 139, 151, 0.16);
  max-width: 1000px; }
div#delivery-manager .btn-announce {
  text-align: right;
  flex: auto; }

.dm-ready-order-wrap {
  overflow: hidden;
  margin: 0 auto;
  padding: 2.1875rem;
  border: solid 1px #e4e7eb;
  border-radius: 4px; }
  .dm-ready-order-wrap > .dm-ready-order-right {
    width: 40%;
    float: left; }
  .dm-ready-order-wrap > .dm-ready-order-left {
    width: 60%;
    float: left; }
  .dm-ready-order-wrap .dm-ready > * {
    font-size: 0.875rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.6px;
    color: #a4a4a4;
    margin-bottom: 0.625rem; }
  .dm-ready-order-wrap .dm-ready > h5 {
    font-weight: bold;
    color: #3a3d44; }

.dm-ready-order-left .referal {
  margin-top: 1.875rem; }

.dm-confirmation-wrap {
  padding: 2.1875rem !important;
  overflow: hidden;
  margin: 0 auto; }

.dm-order-confirmation {
  overflow: hidden;
  margin: 0 auto;
  /*border: solid 1px #e4e7eb;*/
  margin-top: 1.25rem;
  border-radius: 4px; }
  .dm-order-confirmation .order-table {
    padding: 1.25rem 1.875rem;
    max-height: 28.875rem; }

div#dm-order-past-wrap .order-amt-charges {
  padding-right: 2.1875rem; }
div#dm-confirm-order-tab > .order-amt-title {
  float: left;
  width: 70%;
  padding-left: 1.875rem; }
div#dm-confirm-order-tab > .order-amt-charges {
  float: left;
  width: 30%; }
div#dm-confirm-order-tab .order-amt-title > p {
  border-bottom: solid 1px #efefef;
  margin-bottom: 0;
  padding: 0.9375rem 0;
  line-height: 0.9375rem; }
  div#dm-confirm-order-tab .order-amt-title > p:last-child {
    color: #a4a4a4;
    font-weight: normal;
    border-bottom: medium none; }
div#dm-confirm-order-tab .order-amt-charges > p {
  border-bottom: solid 1px #efefef;
  margin-bottom: 0;
  padding: 0.9375rem 0;
  line-height: 0.9375rem;
  font-weight: 600; }
  div#dm-confirm-order-tab .order-amt-charges > p:last-child {
    border-bottom: medium none; }

button#status-history, button#recipt-history {
  width: 10.5rem;
  height: 3.125rem;
  border-radius: 4px;
  background-color: #62bb31;
  box-shadow: 0 0.125rem 0.125rem 0 #d1e6c5;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #fff;
  margin-right: 0.625rem; }
  button#status-history > span, button#recipt-history > span {
    padding-right: 0.625rem; }

h3.order-history-dm {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #000000;
  padding: 0.625rem 2.1875rem;
  margin-top: 1.25rem;
  margin-bottom: 0; }

div#dm-order-history-rec {
  display: none; }
  div#dm-order-history-rec .order-table table tr th, div#dm-order-history-rec .order-table table tr td {
    text-align: left !important; }

.dm-ready-order-wrapper-future {
  overflow: hidden;
  margin: 0 auto;
  padding-top: 1.25rem; }
  .dm-ready-order-wrapper-future > div {
    float: left; }
    .dm-ready-order-wrapper-future > div.ready-order-wraper-left {
      margin-right: 1.5625rem; }

.delivered-order-table th {
  letter-spacing: 0.4px;
  color: #a4a4a4;
  font-size: 0.75rem;
  font-weight: normal;
  border: medium none; }
.delivered-order-table .show-details-his {
  cursor: pointer; }
.delivered-order-table table tr td {
  letter-spacing: 0.6px;
  color: #3a3d44;
  font-size: 0.875rem;
  font-weight: normal; }
.delivered-order-table .select-driver > *:not(.dropdown-menu) {
  display: inline-block;
  vertical-align: middle; }

.avg-delivery-time {
  padding-left: 1.25rem; }
  .avg-delivery-time > p {
    line-height: 1.86;
    letter-spacing: 0.5px;
    color: #3d3f43;
    font-size: 0.875rem; }
    .avg-delivery-time > p > span {
      font-weight: 600;
      font-size: 0.875rem; }

.dp-dropdown-content {
  display: none;
  position: absolute;
  min-width: 9.3125rem;
  border-radius: 4px;
  background-color: #464c56;
  box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 1.375rem;
  left: 5rem;
  padding-left: 0; }
  .dp-dropdown-content li {
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    font-size: 0.875rem;
    line-height: 1.29;
    letter-spacing: 0.4px;
    color: #fff;
    cursor: pointer; }
    .dp-dropdown-content li > a {
      color: #fff; }

li.nav-item.dp-dropbtn:hover ul.dp-dropdown-content {
  display: block !important; }

ul.dp-dropdown-content:before {
  content: "\A";
  border-style: solid;
  border-width: 0.625rem 0.9375rem 0.625rem 0;
  border-color: transparent #464c56 transparent transparent;
  position: absolute;
  left: -12px;
  top: 0.625rem; }

.modal-body.dm-confirmation-wrap.dm-con > .dm-ready-order-wrap {
  width: 40%; }
.modal-body.dm-confirmation-wrap.dm-con > div {
  float: left; }
  .modal-body.dm-confirmation-wrap.dm-con > div.dm-order-confirmation {
    width: 58%;
    margin-left: 2%; }

.order-table table {
  width: 34.75rem !important;
  margin: 0 auto; }

.referal.print-btn {
  width: 60%; }
  .referal.print-btn .referal {
    display: inline-block;
    margin-left: 0.625rem; }

div#dm-payment-type-order {
  overflow: hidden;
  clear: both; }
div#dm-new-order table td {
  padding: 0;
  border-top: medium none;
  display: block; }

@media only screen and (min-width: 992px) {
  .top-menu-container {
    display: none; }

  div.dm-ready-order-wrapper {
    height: calc(100vh - 14rem); }

  small.delivered-hide > img, .dm-screen-wrap.dine-in-screen {
    display: none; }

  li.nav-item.dp-dropbtn > a.active ~ ul.dp-dropdown-content {
    display: block !important; }

  body#page-top.dm-manager.bg-dark {
    overflow: hidden !important; }

  .dm-ready-order-wrapper-future {
    height: calc(100vh - 200px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: auto; }

  .dm-ready-order-wrapper {
    display: grid;
    height: calc(100vh - 17.6rem);
    overflow: auto;
    margin-right: 0.625rem; }
    .dm-ready-order-wrapper table tr {
      display: block; }
      .dm-ready-order-wrapper table tr td {
        display: block;
        padding: 0;
        border: medium none; } }
.page-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  .page-header .button-block > button {
    margin-right: 8px;
    margin-left: 4px; }
  .page-header .current-time {
    font-size: 1.1875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.v-menu__activator {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.lang-flag-container > img {
  width: 1.5625rem; }

button.v-btn.v-btn--icon.theme--light {
  padding: 0.5rem;
  background: #CC3232;
  border: medium none;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  height: 3.2rem;
  width: 3.2rem;
  justify-content: center; }
.change-location {
  display: flex;
  justify-content: flex-end; }
  .change-location > button {
    margin-right: 10px;
    min-height: 3.3rem;
  }
  .change-location > .walkin-btn{
    padding: 0;
  }
  .change-location > .walkin-btn > a{
    height: 3.3rem;
    padding: 6px 12px;
    display: grid;
    align-items: center;
  }
    .change-location > button > a {
      color: #fff; }
  .change-location>.walkin-btn{
    padding: 0;
  }
.change-location>.walkin-btn>a {
  height: 3.3rem;
  padding: 6px 12px;
  display: grid;
  align-items: center;
}

div#dm-new-order table, div#dm-delivery-in-progress table {
  display: grid;
  grid-template-rows: auto 1fr auto; }
div#dm-new-order thead, div#dm-delivery-in-progress thead {
  grid-row-start: 2;
  grid-row-end: 3; }
div#dm-new-order tfoot, div#dm-delivery-in-progress tfoot {
  grid-row-start: 3;
  grid-row-end: 4;
  display: block;
  width: 100%;
  background: rgba(63, 74, 74, 0.6); }
div#dm-new-order tbody, div#dm-delivery-in-progress tbody {
  grid-row-start: 1;
  grid-row-end: 2;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
  padding: 2.5rem 3.75rem;
  word-break: break-word;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.order-item {
  -webkit-box-shadow: 0 0px 0.0625rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.375rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.75rem 0 rgba(23, 23, 32, 0.05);
  box-shadow: 0 0px 0.0625rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.375rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.75rem 0 rgba(23, 23, 32, 0.05);
  margin: 0.625rem;
  height: 100%;
  border-radius: 4px;
  background-color: #fff; }
  .order-item .order-header {
    display: grid;
    grid-template-columns: 1fr auto;
    color: rgba(63, 74, 74, 0.8);
    font-weight: 600;
    padding-top: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 0.75rem;
    margin-bottom: 0;
    font-size: 0.875rem; }
    .order-item .order-header .button-block {
      grid-row-end: span 2; }
  .order-item .order-body {
    display: grid;
    grid-template-columns: 1fr auto;
    letter-spacing: 0.5px;
    color: rgba(63, 74, 74, 0.6);
    height: calc(50vh - 17rem);
    max-height: 7.1875rem;
    overflow-y: auto;
    padding-left: 0.9375rem;
    padding-right: 0.625rem;
    margin-right: 0.625rem;
    margin-left: 0.3125rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 1rem; }
  .order-item .order-footer .runningtime {
    grid-column-start: 1;
    grid-column-end: 3;
    background: #f5f6f6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    padding: 0.625rem; }
  .order-item .order-header .order-id {
    color: #49a218;
    font-weight: 400; }

div.order-address {
  color: rgba(63, 74, 74, 0.8);
  font-size: 0.875rem; }

.order-item .order-body .order-items-list .modifiers {
  font-size: 0.75rem;
  padding-left: 1rem; }

.food-icon {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  margin-bottom: 0.125rem;
  width: 1.25rem;
  height: 1.25rem; }

.with-drivers-filter .home_delivery_pick .table-responsive {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2; }

.block-table-page-container table {
  display: grid;
  grid-template-rows: auto 1fr auto; }
  .block-table-page-container table tbody {
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.625rem;
    grid-row-gap: 0.625rem;
    padding: 2.5rem 3.75rem;
    word-break: break-word; }
    .block-table-page-container table tbody td {
      border: medium none;
      padding: 0; }

.order-footer {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f6f6; }

@media only screen and (min-width: 1264px) {
  .with-drivers-filter .home_delivery_pick table tbody {
    grid-template-columns: 1fr 1fr 1fr; } }
@media only screen and (min-width: 1904px) {
  .block-table-page-container table tbody {
    grid-template-columns: 1fr 1fr 1fr 1fr; } }
@media only screen and (min-width: 1264px) {
  .block-table-page-container table tbody {
    grid-template-columns: 1fr 1fr 1fr; } }
.select-driver-caption {
  color: #ff6d58;
  text-align: right;
  font-weight: normal;
  font-style: italic; }

.driverImg {
  padding-left: 0.875rem;
  float: left; }

.with-drivers-filter .drivers-filter {
  overflow: auto;
  height: calc(100vh - 15rem);
  border-left: 0.0625rem solid rgba(63, 74, 74, 0.3); }
.with-drivers-filter .home_delivery_pick {
  overflow: auto;
  height: 100%;
  display: inline-block;
  animation: 1s ease-out 0s 1 SelectDriveDown;
  width: 100%; }

.block-table-page-container .row {
  display: none; }

.table-drivers-filter {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%; }
  .table-drivers-filter .upper {
    border-bottom: 0.0625rem solid rgba(63, 74, 74, 0.3);
    display: grid;
    grid-template-columns: auto 1fr;
    border-top: 0.0625rem solid rgba(63, 74, 74, 0.3); }
    .table-drivers-filter .upper .select-driver {
      padding: 0.6875rem;
      background-color: #CC3232;
      color: #fff;
      font-weight: 600; }
    .table-drivers-filter .upper .autocomplete-container {
      padding: 0rem 1rem; }
      .table-drivers-filter .upper .autocomplete-container .drivers-list-note {
        padding-top: 0.6875rem;
        padding-bottom: 0.6875rem; }
  .table-drivers-filter .body {
    padding: 0.3125rem 0.625rem;
    overflow: auto; }
  .table-drivers-filter .driver-footer {
    background-color: #fff;
    /* border-top: 1px solid #cc3232;
    border-bottom: 1px solid #cc3232;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px; */
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 0.125rem;
    min-height: 2.5rem; }

.button .button-content-container .button-caption, .button .button-content-container .button-icon-container {
  display: inline-block; }

.table-drivers-filter {
  display: grid;
  grid-template-rows: 3rem auto 25%;
  height: 100%; }

.block-table-page-container {
  width: 100%;
  height: 100%;
  background-color: transparent; }

/*search driver*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  width: 100%;
  overflow: auto;
  border: 1px solid #E3E7F2;
  z-index: 1;
  margin-top: 0.1875rem;
  max-height: 12.5rem; }
  .dropdown-content span {
    color: black;
    padding: 0.375rem 1rem;
    text-decoration: none;
    display: block; }

.input-search-driver {
  width: 100%;
  padding-bottom: 0.6875rem;
  height: 2.5rem;
  border: medium none;
  border-bottom: 0.0625rem solid #E3E7F2;
  padding: 0;
  cursor: pointer; }

.driver-container {
  position: relative; }

.input-search-driver:focus {
  outline: none; }

.table-drivers-filter .body .assigning-block {
  -webkit-box-shadow: 0 0px 0.0625rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.375rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.75rem 0 rgba(23, 23, 32, 0.05);
  box-shadow: 0 0px 0.0625rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.375rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.75rem 0 rgba(23, 23, 32, 0.05);
  margin: 0.9375rem 0.625rem;
  height: auto;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  color: rgba(63, 74, 74, 0.8);
  font-size: 0.875rem; }
  .table-drivers-filter .body .assigning-block .order {
    display: grid;
    grid-template-rows: auto 1fr;
    display: grid;
    grid-template-rows: auto 1fr; }
    .table-drivers-filter .body .assigning-block .order .store-info {
      font-size: 1rem;
      font-weight: 600;
      padding: 0.3125rem 0.625rem;
      background: rgba(63, 74, 74, 0.05);
      overflow: hidden; }
      .table-drivers-filter .body .assigning-block .order .store-info .store-name, .table-drivers-filter .body .assigning-block .order .store-info .store-address {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    .table-drivers-filter .body .assigning-block .order .order-container .order {
      position: relative;
      padding-bottom: 0.3125rem; }
    .table-drivers-filter .body .assigning-block .order .order-container .menu-items-list {
      border-top: 1px solid rgba(63, 74, 74, 0.3);
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 0.625rem;
      padding: 0.3125rem 0.625rem; }
      .table-drivers-filter .body .assigning-block .order .order-container .menu-items-list .order-id {
        color: #62bb31; }
    .table-drivers-filter .body .assigning-block .order .order-container .delivery-info {
      height: 100%;
      overflow: auto;
      padding: 0.625rem; }
    .table-drivers-filter .body .assigning-block .order .order-container .order .cancel-button {
      justify-self: right;
      position: absolute;
      top: 0.25rem;
      right: 0; }
      .table-drivers-filter .body .assigning-block .order .order-container .order .cancel-button .button {
        padding: 0.4375rem 0.3125rem; }

.table-drivers-filter .body .assigning-block .order .order-container .landmark .value {
  padding-top: 0.1875rem;
  font-weight: bold; }

.assigning-block .button {
  min-width: 1.25rem;
  border-radius: 4px;
  letter-spacing: 0.6px;
  font-weight: 600;
  margin-right: 0.3125rem;
  margin-bottom: 0.3125rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  border: none; }

.button .button-content-container {
  white-space: nowrap; }
  .button .button-content-container .button-caption {
    display: inline-block; }

.driver-footer > button {
  margin-right: 0.625rem; }

.input-search-driver {
  background: url("../../../assets/images/select-arrow.png");
  background-repeat: no-repeat;
  background-position: center right 0.625rem; }

input[type="password"] {
  background: none; }

.right-btn-wrap > button {
  background: transparent;
  text-align: left;
  background: url("../../../assets/images/select-arrow.png");
  background-repeat: no-repeat;
  background-position: center right 0.625rem; }

.right-btn-wrap .dropdown-menu {
  background: #f6f6f6;
  padding: 5px 18px; }

.right-btn-wrap .dropdown-menu > a {
  color: #333; }

.dm-screen-wrap {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  -webkit-box-shadow: 0 0px 0.1875rem rgba(23, 23, 32, 0.05), 0 0px 0.625rem rgba(23, 23, 32, 0.05), 0 0px 1.25rem rgba(23, 23, 32, 0.05);
  box-shadow: 0 0px 0.1875rem rgba(23, 23, 32, 0.05), 0 0px 0.625rem rgba(23, 23, 32, 0.05), 0 0px 1.25rem rgba(23, 23, 32, 0.05);
  z-index: 2;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out; }
  .dm-screen-wrap.collapse-container {
    margin-left: 7.8125rem; }

ul.ullist-breadcrump > li {
  display: inline-block;
  padding-right: 1.3125rem;
  position: relative; }
  ul.ullist-breadcrump > li > a {
    color: rgba(63, 74, 74, 0.3);
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.6px;
    font-weight: 700; }
  ul.ullist-breadcrump > li:after {
    content: ">";
    position: absolute;
    right: 0.375rem;
    top: 0.0625rem;
    color: rgba(63, 74, 74, 0.3); }
  ul.ullist-breadcrump > li.active:after {
    content: none; }
  ul.ullist-breadcrump > li.active > a {
    color: rgba(63, 74, 74, 0.8);
    text-decoration: underline; }

.dm-ready-order-wrapper, .dm-order-take-away, .dm-future-order {
  display: none; }

#dm-new-order {
  display: grid; }

.dialog-body {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5625rem;
  padding: 1.5625rem;
  display: grid;
  background: #fff; }

.dialog-body .right-part, .dialog-body .left-part {
  overflow: hidden;
  max-width: 100%;
  border: 0.0625rem solid rgba(63, 74, 74, 0.1);
  height: 100%; }

div#nav-tabContent {
  border: medium none; }

.dialog-body .buttons {
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 0.9375rem; }
.dialog-body button.button {
  margin-right: 0.3125rem;
  margin-bottom: 0.3125rem; }

.v-menu--inline {
  display: inline-block; }

.past-order-buttons {
  float: left; }

.button.close-button {
  color: gray;
  background: rgba(128, 128, 128, 0.2);
  border-color: rgba(128, 128, 128, 0.2); }

section.with-drivers-filter {
  display: grid;
  grid-template-columns: 1fr auto; }

.v-menu__activator .dropdown.show:focus, .v-menu__activator .dropdown:hover {
  background: transparent;
  outline: none; }

.v-menu__activator .dropdown-menu.show > a:hover {
  background: #f1f1f1; }

div#cancellationReason .modal-dialog {
  max-width: 70%; }
  div#cancellationReason .modal-dialog .autocomplete-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem }
  div#cancellationReason .modal-dialog .dropdown-content {
    display: none; }
div#cancellationReason .modal-footer {
  justify-content: flex-end; }

div#dm-delivered {
  padding: 2.5rem 2.75rem; }
  div#dm-delivered table tr {
    display: table-row; }
    div#dm-delivered table tr th {
      letter-spacing: 0.4px;
      color: #a4a4a4;
      font-size: 0.75rem;
      font-weight: bold;
      vertical-align: middle;
      text-transform: uppercase; }
    div#dm-delivered table tr td {
      display: table-cell;
      padding: 0.75rem;
      font-size: 0.875rem;
      vertical-align: middle; }
  div#dm-delivered table .perfContainer.perfContainer-span > span {
    display: inline-block;
    padding: 0.125rem;
    border-radius: 4px;
    margin: 0;
    color: #fff; }
    div#dm-delivered table .perfContainer.perfContainer-span > span.prepData {
      background: #CC3232;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important; }
    div#dm-delivered table .perfContainer.perfContainer-span > span.pickData {
      background: #5056CA;
      border-radius: 0 !important; }
    div#dm-delivered table .perfContainer.perfContainer-span > span.deliData {
      background: #62bb31;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important; }
  div#dm-delivered table .delivered-green-btn {
    background: #5056CA;
    display: inline-block;
    padding: 0.125rem 0.3125rem;
    border-radius: 4px;
    color: #fff; }
  div#dm-delivered table .driverSummary > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #E3E7F2;
    padding: 20px;
    border-radius: 4px; }
  div#dm-delivered table .historyMainContainer.show-table-delivered > table {
    background: #F1F3F6;
    margin: 0; }

.all-driver-main-div .all-driver-dropdown .select-driver {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 12.5rem 1fr;
  padding-bottom: 1.5625rem; }
  .all-driver-main-div .all-driver-dropdown .select-driver .average-time span {
    font-size: 0.75rem; }
  .all-driver-main-div .all-driver-dropdown .select-driver .average-time p {
    font-size: 0.75rem; }
  .all-driver-main-div .all-driver-dropdown .select-driver .delivered-driver {
    position: relative; }
    .all-driver-main-div .all-driver-dropdown .select-driver .delivered-driver button {
      font-size: 0.875rem;
      text-align: left; }
    .all-driver-main-div .all-driver-dropdown .select-driver .delivered-driver .dropdown-menu {
      width: 100%; }

ul.dropdown-menu.show {
  padding: 0;
  background: #eee; }
  ul.dropdown-menu.show li:hover {
    background: #E3E7F2; }
  ul.dropdown-menu.show li a {
    font-size: 0.875rem;
    color: #000;
    padding: 0.3125rem 1.25rem; }

div#home-delivery-order {
  overflow: auto; }

tr.dataContentStyle > td > a {
  font-size: inherit;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  color: #fff !important; }
  tr.dataContentStyle > td > a i {
    color: #fff;
    font-size: 1.3125rem; }
.hideSmallScreen{
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 991px) {
  /*Menu footer*/
  @keyframes footerSlideBottom {
    0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .hideSmallScreen{  display: none;  }
  .dm-btn-footer-wrapper{
    display: none;
    position: fixed;
    bottom: 72px;
    background: #fff;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-animation: 0.4s ease-out 0s 1 footerSlideBottom;
    animation: 0.4s ease-out 0s 1 footerSlideBottom;
    box-shadow: 0 -6px 10px 0 #bcbcbc;
  }
  .dm-btn-footer-wrapper button {
    background: transparent !important;
    color: #000 !important;
    border: medium none;
    border-bottom: 1px solid #ddd !important;
    padding: 20px;
    font-size: 18px;
    text-align: left;
  }
  .dm-btn-footer-wrapper.active{
    display: flex;
    flex-direction: column;
  }
  .dm-btn-wrap {
    display: none;
  }
  .footer-slide-menu.dm-btn-menu.active{
    display: none;
  }
  .dm-btn-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
  }
  .footer-slide-menu {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #4B4E53;
  }
  .dm-order-screens .pagination-customer-details{
    z-index: 1 !important;
    padding: 0.625rem !important;
  }
  .pagination-customer-details > ul{
    justify-content: center;
  }
  .footer-slide-menu.btn-menu-close {
    background-color: #cc3232;
    display: none;
    color: #fff;
  }
  .footer-slide-menu.btn-menu-close.active{
    display: flex;
    align-items: center;
  }
  .dm-footer-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    padding-left: 10px;
  }
  .dm-switch-langage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .dm-switch-langage > ul {
    position: fixed;
    top: 22px;
    right: 9px;
  }
  .top-menu-container .top-menu-icon {  width: 20px;  cursor: pointer; }
  .top-menu-container .top-menu-icon svg {  fill: #fff; }
  .dm-screen-wrap {
    grid-template-columns: 1fr;
    box-shadow: none;
    padding: 0 !important; }
    .dm-screen-wrap .page-header.dm-top-header {
      grid-template-columns: 1fr;
      position: fixed;
      z-index: 999;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      background: #fff;
      box-shadow: 0 0px 0.1875rem rgba(23, 23, 32, 0.05), 0 0px 0.625rem rgba(23, 23, 32, 0.05), 0 0px 1.25rem rgba(23, 23, 32, 0.05);
       }
    .dm-top-header .header{
      width: 100%;
    }
  .dm-top-header .header .header-main{
    grid-template-columns: auto;
  }
      .dm-screen-wrap .page-header .current-time {
        display: none; }
      .dm-screen-wrap .page-header .button-block {
        grid-template-columns: auto;
        padding: 0 10px;
        align-items: center;
        display: none;
      }
    .dm-screen-wrap .left-fixed-menu {
      -webkit-box-shadow: 0 0px 0.1875rem rgba(23, 23, 32, 0.05), 0 0px 0.625rem rgba(23, 23, 32, 0.05), 0 0px 1.25rem rgba(23, 23, 32, 0.05);
      box-shadow: 0 0px 0.1875rem rgba(23, 23, 32, 0.05), 0 0px 0.625rem rgba(23, 23, 32, 0.05), 0 0px 1.25rem rgba(23, 23, 32, 0.05);
      /* margin-bottom: 0.625rem; */
      padding: 0.625rem 4.25rem 0.625rem 1.25rem; }
      .dm-screen-wrap .left-fixed-menu .page-title {
        font-size: 1.5rem; }

  .dm-manager .navigation {
    left: -999px;
    transition: 0.3s ease-in-out;
    position: fixed;
    z-index: 99;
    grid-template-columns: 1fr;
    height: 100vh;
    grid-template-rows: 11fr 1fr 5.75rem 0.1rem;
    padding-top: 1.25rem; }
    .dm-manager .navigation .logo {
      display: none; }

  .change-location > button, .left-btn-wrap > button {
    /*font-size: 0.625rem;*/
    /*padding: 0.3125rem;*/
    margin: 0.3125rem 0 0.3125rem .3125rem;

  }

  .dm-order-details-wrap {
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 2px 6px #00000029;
    padding-top: 0;
  }
  .dm-order-details-wrap ul.dm-ullist > li.active > a {
    border: medium none;
    background: #5056CA;
    color: #fff;
  }
  ul.dm-ullist > li > a{
    font-size: 14px;
    padding: 1rem;
  }
    .dm-order-details-wrap .dm-delivery-details-btn {
      overflow-x: auto;
      display: grid; }
      .dm-order-details-wrap .dm-delivery-details-btn ul.dm-ullist {
        display: flex;
        white-space: nowrap;
        overflow-x: auto; }
  div#dm-delivered {
    padding: 2.5rem 0.75rem;
  }
  div.dm-ready-order-wrapper {
    height: calc(100vh - 15rem);
    overflow: auto; }
    div.dm-ready-order-wrapper tbody {
      grid-template-columns: 1fr !important;
      padding: 2.7rem 1.5rem 1.5rem 1.5rem !important; }
      div.dm-ready-order-wrapper tbody tr td {
        display: block; }

  div#dm-waiting-for-pick {
    height: calc(100vh - 15rem); }
  .with-drivers-filter .drivers-filter{
    height: auto;
  }
  .driver-container .dropdown-content {
    background: #fff !important;
  }
}
@media only screen and (max-width: 599px) {
  section.with-drivers-filter{
    grid-template-columns: 1fr;
    grid-template-rows: 45% auto;
  }
}
@media only screen and (max-width: 479px) {
  .all-driver-main-div .all-driver-dropdown .select-driver {
    grid-template-columns: 1fr; } }
.button-block .dropdown-menu span > img {
  display: inline-block;
  width: 19px;
  margin-right: 10px; }

/*# sourceMappingURL=deliveryManager.css.map */
.dm-order-screens .pagination-customer-details {
  position: relative;
  z-index: 99;
  padding: 0.25rem 4.625rem;
  -webkit-box-shadow: 0 0px 0.0625rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.375rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.75rem 0 rgba(23, 23, 32, 0.05);
  box-shadow: 0 0px 0.0625rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.375rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.75rem 0 rgba(23, 23, 32, 0.05); }
  .dm-order-screens .pagination-customer-details > ul > li a {
    height: 45px;
    width: 45px; }

div#user-details .customer-header span {
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  border-radius: 50px;
  color: #fff;
  justify-content: center;
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 15px;
  z-index: 99; }

.logout {
  font-size: medium; }
.dm-navbar {
  padding-left: 30px;
}
/*# sourceMappingURL=delivery_manager.css.map */
