@import "../pixels_rem.scss";
@import "../variables.scss";
.da-image {
  text-align: center;
}
#delivery-assistant .btn-announce {
  text-align: right;
  flex: auto !important;
}

a.da-link {
  padding: $px2 $px10;
  font-size: $px15;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: $block-border-radius;
}

div#navbarResponsive.delivery-manager-st ul#exampleAccordion > li.nav-item {
  padding: 10px 3px !important;
  > .nav-link {
    color: $white;
    margin: 0 5px !important;
    padding: 10px 10px 14px 10px !important;
    vertical-align: middle;
    > svg {
      vertical-align: middle;
    }
  }
}
.dm-screen-wrap {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  background: $white;
  .dm-title {
    width: 100%;
    padding-left: $px70;
  }
}
.dm-manager {
  nav#mainNav {
    border-bottom: medium none;
  }
  .contain-body-class {
    background: $green;
  }
}

body#page-top.dm-manager {
  background: $white !important;
  border: medium none !important;
  overflow: hidden !important;
}

/*div#dm-content-wrapper {*/
/*  padding: 20px 80px; }*/

div#dm-content-wrapper .inner-content-dm {
  width: 100%;
  max-width: 100%;
  display: grid;
  height: 100%;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
}

.dm-btn-wrap {
  /* margin: 0 auto; */
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 12.5rem;
  grid-column-gap: $px20;
  margin-bottom: 0;
  margin-top: $px30;
  margin-left: $px40;
  margin-right: $px40;
}

.left-btn-wrap > button {
  margin-right: $px10;
  &.active {
    background: $red !important;
    border-color: $red !important;
  }
}
.dm-order-details-wrap {
  overflow: hidden;
  margin-left: $px40;
  margin-right: $px40;
  padding-top: 14px;
  border-bottom: solid 1px #e5e9f3;
}

ul.dm-ullist > li {
  display: inline-block;
  text-align: left;
  padding-right: $px20;
  position: relative;
  line-height: normal;
  > a {
    font-size: $px14;
    letter-spacing: 0.5px;
    color: rgba(63, 74, 74, 0.8);
    padding: $px10 $px5;
    opacity: 0.7;
    font-weight: 600;
  }
  &.active > a {
    color: rgba(63, 74, 74, 0.8);
    border-bottom: 3px solid red;
    opacity: 1;
  }
  &.pick > span {
    background-color: #f8a634;
  }
  &.dm-delivered > span {
    background-color: $green;
  }
}

button {
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}

.dm-deliver-detail-right > p {
  &.dm-amt {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    color: $green;
  }
  &.dm-time {
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #72747b;
  }
}
.inner-content-dm {
  margin: 0 auto;
  width: 1185px;
}

#mainNav.fixed-top .delivery-manager-st .navbar-sidenav {
  height: 100vh !important;
}

div#delivery-manager {
  .modal-dialog {
    width: 1000px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 10px 40px 0 rgba(133, 139, 151, 0.16);
    max-width: 1000px;
  }
  .btn-announce {
    text-align: right;
    flex: auto;
  }
  .modal-footer {
    padding-top: 0;
    padding-left: 35px;
  }
}

.dm-ready-order-wrap {
  overflow: hidden;
  margin: 0 auto;
  padding: 35px;
  border: solid 1px #e4e7eb;
  border-radius: 4px;
  > {
    .dm-ready-order-right {
      width: 40%;
      float: left;
    }
    .dm-ready-order-left {
      width: 60%;
      float: left;
    }
  }
  .dm-ready > {
    * {
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.6px;
      color: #a4a4a4;
      margin-bottom: 10px;
    }
    h5 {
      font-weight: bold;
      color: #3a3d44;
    }
  }
}

.dm-ready-order-left .referal {
  margin-top: 30px;
}

.dm-confirmation-wrap {
  padding: 35px !important;
  overflow: hidden;
  margin: 0 auto;
}

.dm-order-confirmation {
  overflow: hidden;
  margin: 0 auto;
  /*border: solid 1px #e4e7eb;*/
  margin-top: 20px;
  border-radius: 4px;
  .order-table {
    padding: 20px 30px;
    max-height: 462px;
  }
}

div {
  &#dm-order-past-wrap .order-amt-charges {
    padding-right: 35px;
  }
  &#dm-confirm-order-tab {
    > {
      .order-amt-title {
        float: left;
        width: 70%;
        padding-left: 30px;
      }
      .order-amt-charges {
        float: left;
        width: 30%;
      }
    }
    .order-amt-title > p {
      border-bottom: solid 1px #efefef;
      margin-bottom: 0;
      padding: 15px 0px;
      line-height: 15px;
      &:last-child {
        color: #a4a4a4;
        font-weight: normal;
        border-bottom: medium none;
      }
    }
    .order-amt-charges > p {
      border-bottom: solid 1px #efefef;
      margin-bottom: 0;
      padding: 15px 0px;
      line-height: 15px;
      font-weight: 600;
      &:last-child {
        border-bottom: medium none;
      }
    }
  }
}

button {
  &#status-history {
    width: 168px;
    height: 50px;
    border-radius: 4px;
    background-color: $green;
    box-shadow: 0 2px 2px 0 #d1e6c5;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: $white;
    margin-right: 10px;
    > span {
      padding-right: 10px;
    }
  }
  &#recipt-history {
    width: 168px;
    height: 50px;
    border-radius: 4px;
    background-color: $green;
    box-shadow: 0 2px 2px 0 #d1e6c5;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: $white;
    margin-right: 10px;
    display: none;
    > span {
      padding-right: 10px;
    }
  }
}

h3.order-history-dm {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #000000;
  padding: 10px 35px;
  margin-top: 20px;
  margin-bottom: 0;
}

div#dm-order-history-rec {
  display: none;
  .order-table table tr {
    th, td {
      text-align: left !important;
    }
  }
}

.dm-ready-order-wrapper-future {
  overflow: hidden;
  margin: 0 auto;
  padding-top: 20px;
  > div {
    &.ready-order-wraper-left {
      margin-right: 25px;
    }
    float: left;
  }
}

.select-driver {
  padding: 20px 0;
  > button {
    height: 50px;
    background: $white;
    border: solid 1px #e4e7eb;
    padding: 0 20px;
    width: 190px !important;
    text-align: left;
    letter-spacing: 0.5px;
    color: #3d3f43;
    font-size: 14px;
    background: url(../img/pos/select-arrow.png);
    background-position: center right 8px;
    background-repeat: no-repeat;
    > span {
      float: right;
    }
  }
  ul {
    width: 12%;
    li {
      text-align: center;
      padding-bottom: 10px;
      color: #3d3f43;
      &:last-child {
        padding-bottom: 0;
      }
      > a {
        color: #3d3f43;
        font-size: 14px;
      }
    }
  }
  p {
    color: #3d3f43;
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 3px;
  }
}

div#ham-btn, #left-fixed-menu {
  display: none;
}

.delivered-order-table {
  th {
    letter-spacing: 0.4px;
    color: #a4a4a4;
    font-size: 12px;
    font-weight: normal;
    border: medium none;
  }
  .show-details-his {
    cursor: pointer;
  }
  table tr td {
    letter-spacing: 0.6px;
    color: #3a3d44;
    font-size: 14px;
    font-weight: normal;
  }
  .select-driver > *:not(.dropdown-menu) {
    display: inline-block;
    vertical-align: middle;
  }
}

.avg-delivery-time {
  padding-left: 20px;
  > p {
    line-height: 1.86;
    letter-spacing: 0.5px;
    color: #3d3f43;
    font-size: 14px;
    > span {
      font-weight: 600;
      font-size: 14px;
    }
  }
}

.dp-dropdown-content {
  display: none;
  position: absolute;
  min-width: 149px;
  border-radius: 4px;
  background-color: #464c56;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 22px;
  left: 80px;
  padding-left: 0;
  li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.4px;
    color: $white;
    cursor: pointer;
    > a {
      color: $white;
    }
  }
}

li.nav-item.dp-dropbtn:hover ul.dp-dropdown-content {
  display: block !important;
}

ul.dp-dropdown-content:before {
  content: "\A";
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #464c56 transparent transparent;
  position: absolute;
  left: -12px;
  top: 10px;
}

.modal-body.dm-confirmation-wrap.dm-con > {
  .dm-ready-order-wrap {
    width: 40%;
  }
  div {
    float: left;
    &.dm-order-confirmation {
      width: 58%;
      margin-left: 2%;
    }
  }
}

.order-table table {
  width: 556px !important;
  margin: 0 auto;
}

.referal.print-btn {
  width: 60%;
  .referal {
    display: inline-block;
    margin-left: 10px;
  }
}

div {
  &#dm-payment-type-order {
    overflow: hidden;
    clear: both;
  }
  &#dm-new-order table td {
    padding: 0;
    border-top: medium none;
  }
}

@media only screen and (min-width: 992px) {
  small.delivered-hide > img, .dm-screen-wrap.dine-in-screen {
    display: none;
  }
  li.nav-item.dp-dropbtn > a.active ~ ul.dp-dropdown-content {
    display: block !important;
  }
  body#page-top.dm-manager.bg-dark {
    overflow: hidden !important;
  }
  .dm-ready-order-wrapper-future {
    height: calc(100vh - 200px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: auto;
  }
  .dm-ready-order-wrapper {
    display: grid;
    height: 100%;
  }
}

.page-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  .button-block > button {
    margin-right: 10px;
  }
  .current-time {
    font-size: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0.25rem;
  }
}

.v-menu__activator {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lang-flag-container {
  display: flex;
  > img {
    width: 25px;
  }
}

button.v-btn.v-btn--icon.theme--light {
  padding: 8px;
  background: red;
  border: medium none;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  justify-content: center;
}

.button-block {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.change-location > button {
  margin-right: 5px;
}
div {
  &#dm-new-order {
    table {
      display: grid;
      grid-template-rows: auto 1fr auto;
    }
    thead {
      grid-row-start: 2;
      grid-row-end: 3;
    }
    tfoot {
      grid-row-start: 3;
      grid-row-end: 4;
      display: block;
      width: 100%;
      background: rgba(63, 74, 74, 0.6);
    }
    tbody {
      grid-row-start: 1;
      grid-row-end: 2;
      overflow: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: .625rem;
      grid-row-gap: .625rem;
      padding: $px40 3.75rem;
      word-break: break-word;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &#dm-delivery-in-progress tbody {
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .625rem;
    grid-row-gap: .625rem;
    padding: $px40 3.75rem;
    word-break: break-word;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.order-item {
  -webkit-box-shadow: 0 0px 0.0625rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.375rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.75rem 0 rgba(23, 23, 32, 0.05);
  box-shadow: 0 0px 0.0625rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.375rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.75rem 0 rgba(23, 23, 32, 0.05);
  margin: .625rem;
  height: 100%;
  border-radius: 4px;
  background-color: $white;
  .order-header {
    display: grid;
    grid-template-columns: 1fr auto;
    color: rgba(63, 74, 74, 0.8);
    font-weight: 600;
    padding-top: .75rem;
    padding-left: $px20;
    padding-right: .75rem;
    margin-bottom: 0;
    font-size: 0.9rem;
    .button-block {
      grid-row-end: span 2;
    }
  }
  .order-body {
    display: grid;
    grid-template-columns: 1fr auto;
    letter-spacing: $px8;
    color: rgba(63, 74, 74, 0.6);
    height: calc(50vh - 17rem);
    min-height: $px115;
    overflow-y: auto;
    padding-left: $px15;
    padding-right: $px10;
    margin-right: $px10;
    margin-left: $px5;
    margin-top: $px10;
    margin-bottom: $px10;
    font-size: $px16;
  }
  .order-footer .runningtime {
    grid-column-start: 1;
    grid-column-end: 3;
    background: #f5f6f6;
    border-bottom-left-radius: $block-border-radius;
    border-bottom-right-radius: $block-border-radius;
    text-align: center;
    padding: $px10;
  }
  .order-header .order-id {
    color: #49a218;
    font-weight: 400;
  }
}

div.order-address {
  color: rgba(63, 74, 74, 0.8);
  font-size: $px14;
}

.order-item .order-body .order-items-list .modifiers {
  font-size: $px12;
  padding-left: $px16;
}

.food-icon {
  margin-left: $px2;
  margin-right: $px2;
  margin-bottom: $px2;
  width: $px20;
  height: $px20;
}

.with-drivers-filter .home_delivery_pick .table-responsive {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.block-table-page-container table {
  display: grid;
  grid-template-rows: auto 1fr auto;
  tbody {
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $px10;
    grid-row-gap: $px10;
    padding: $px40 $px60;
    word-break: break-word;
    td {
      border: medium none;
      padding: 0;
    }
  }
}

@media only screen and (min-width: 1264px) {
  .with-drivers-filter .home_delivery_pick {
    table{
      tbody{
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}

@media only screen and (min-width: 1904px) {
  .block-table-page-container  {
    table {
      tbody{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
@media only screen and (min-width: 1264px) {
  .block-table-page-container  {
    table {
      tbody{
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}

.select-driver-caption {
  color: #ff6d58;
  text-align: right;
  font-weight: normal;
  font-style: italic;
}
/*# sourceMappingURL=deliveryManager.css.map */