#dm-content-wrapper {
  overflow: hidden; }

div#reservation-orders-show .rinning-order-title, #waiting-dinein-show .rinning-order-title {
  padding: 2.8125rem; }

.dinein-footer-icon {
  padding: 1.25rem; }
  .dinein-footer-icon > button {
    line-height: normal; }
    .dinein-footer-icon > button > span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      margin-right: 0.625rem; }
  .dinein-footer-icon > button#dine-pay {
    width: 8.1875rem;
    text-align: left; }

.search-dine-table input {
  border: medium none !important; }
.search-dine-table form.form-inline.search-inline {
  margin: 0.9375rem 0; }

li#circle-table-shape {
  width: 4.6875rem;
  height: 4.6875rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-left: 1.25rem; }
  li#circle-table-shape .sitting-image.round-sitting-image {
    display: none; }
  li#circle-table-shape > a {
    vertical-align: middle;
    line-height: 0.625rem; }

#dining-option .modal-footer {
  border-top: medium none;
  margin-bottom: 1.25rem; }

.dm-walk-dine {
  margin: 0 auto;
  text-align: center;
  float: right;
  margin: 0 auto;
  text-align: center;
  float: right;
  position: absolute;
  top: 0;
  right: 0; }
  .dm-walk-dine > button {
    width: 7.875rem;
    height: 4.625rem;
    background-color: #3A3E9F;
    border: medium none;
    float: left;
    font-size: 0.875rem;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0.125rem 1.5rem 0 rgba(224, 231, 244, 0.16); }
    .dm-walk-dine > button > span {
      margin-right: 0.625rem; }

.change-dine-in-location > button > span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3125rem; }

.content-wrapper#dine-in-wrapper {
  margin-top: 1.875rem; }

.floor-section-wrap {
  display: grid;
  grid-template-columns: 1fr 16rem;
  align-items: center;
  padding-top: 0.3125rem;
  margin-left: 0.9375rem;
  border-bottom: solid 0.125rem #e3e7f2; }
  .floor-section-wrap .ullist-floor {
    padding-left: 0; }
    .floor-section-wrap .ullist-floor > li {
      display: inline-block;
      min-width: 3.125rem;
      text-align: center; }
      .floor-section-wrap .ullist-floor > li.active {
        border-bottom: 0.125rem solid #5056CA; }
        .floor-section-wrap .ullist-floor > li.active > a {
          color: #3d3f43;
          font-weight: bold; }
      .floor-section-wrap .ullist-floor > li > a {
        color: #72747b;
        font-size: 0.875rem;
        padding: 0.3125rem 0; }

.ullist-dinein-table {
  padding-left: 0; }
  .ullist-dinein-table > li {
    display: inline-block;
    margin-left: 1.0625rem;
    letter-spacing: 0.5px;
    color: #8c949e; }
    .ullist-dinein-table > li > span {
      font-size: 0.875rem;
      font-weight: 600;
      color: #fff;
      margin-right: 0.3125rem; }

#unavailable-seat > span {
  background-color: #CC3232;
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0.3125rem 0;
  min-width: 1.75rem;
  text-align: center; }

#available-seat > span {
  background-color: #62bb31;
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0.3125rem 0;
  min-width: 1.75rem;
  text-align: center; }

#available-soon-seat > span {
  background-color: #faa03c;
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0.3125rem 0;
  min-width: 1.75rem;
  text-align: center; }

.dine-in-tabel-wrapper {
  width: 100%;
  max-width: 100%; }
  .dine-in-tabel-wrapper .inner-dinein-table {
    padding-top: 1.25rem; }
    .dine-in-tabel-wrapper .inner-dinein-table .dinein-table-control {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      margin-bottom: 0.9375rem;
      padding-right: 2.625rem; }

.round-dinein-circle {
  position: relative;
  width: 5.3125rem;
  height: 5.3125rem;
  box-shadow: 0 0.125rem 1.0625rem 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  border: solid 0.0625rem #d8dce1;
  border-radius: 50%; }
  .round-dinein-circle > span {
    cursor: pointer; }

.zoom-wrap-dinein > div {
  display: inline-block;
  vertical-align: middle; }
.zoom-wrap-dinein .POSItemOptions_quantity_inputs {
  box-shadow: 0 0.125rem 1.0625rem 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  border: solid 0.0625rem #d8dce1;
  width: 9.625rem;
  margin-right: 1.25rem; }

.sub-inner-round {
  width: 1.6875rem;
  height: 1.6875rem;
  border: solid 0.0625rem #d8dce1;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0.4375rem; }

.inner-round {
  width: 2.75rem;
  height: 2.75rem;
  border: solid 0.0625rem #d8dce1;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  top: 1.1875rem;
  left: 0.125rem;
  right: 0; }

span#dine-top {
  position: absolute;
  left: 0;
  right: 0;
  top: -0.25rem;
  margin: 0 auto;
  text-align: center; }

span#dine-left {
  position: absolute;
  top: 2.0625rem;
  left: 0.5625rem; }

span#dine-right {
  position: absolute;
  right: 0.375rem;
  top: 2rem; }

span#dine-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center; }

.clear {
  clear: both; }

.tables-btn-style {
  margin: 0.1875rem;
  height: 3.1875rem;
  border-radius: 0.25rem;
  border: solid 0.125rem #c7c7c7;
  background: #fff;
  padding: 0 0.625rem;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #7c7e85; }
  .tables-btn-style.active {
    background-color: #5056CA;
    border-color: #5056CA;
    color: #fff; }

#sitting-dinein-table {
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - 275px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative; }
  #sitting-dinein-table .sitting-dine-wrap {
    position: relative; }
    #sitting-dinein-table .sitting-dine-wrap .sitting-image {
      width: 94vw;
      background: #fff; }

table#running-order {
  border-collapse: separate;
  border-spacing: 0 1.875rem; }
  table#running-order th {
    letter-spacing: 0.4px;
    color: #a4a4a4;
    font-size: 0.75rem;
    font-weight: normal; }
  table#running-order tr.dine-table-content {
    color: #3d3f43;
    font-size: 0.875rem; }
  table#running-order tr td {
    border-top: 0.125rem solid #e5e9f4;
    vertical-align: middle;
    border-bottom: 0.125rem solid #e5e9f4; }
    table#running-order tr td > span {
      letter-spacing: 0.5px;
      color: #fff;
      font-size: 1.125rem;
      display: block; }
    table#running-order tr td .runningtime {
      color: #fff; }
  table#running-order tr > td:first-child {
    border-left: 0.125rem solid #e5e9f4; }
  table#running-order tr > td:last-child {
    border-right: 0.125rem solid #e5e9f4; }
  table#running-order .dining-for-button {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    padding: 0.25rem 0.625rem;
    line-height: 1.45; }
  table#running-order .done-soon-order > span {
    border-radius: 0.25rem;
    background-color: #faa03c;
    display: grid !important;
    font-size: 1rem !important;
    color: #fff !important;
    padding: 0.3125rem;
    align-items: center; }
  table#running-order .completed-order > span {
    border-radius: 0.25rem;
    background-color: #62bb31;
    display: grid !important;
    font-size: 1rem !important;
    color: #fff !important;
    padding: 0.3125rem;
    align-items: center; }
  table#running-order .running-actions > span.finished-order {
    border-radius: 0.25rem;
    background-color: #62bb31;
    display: inline-block !important;
    font-size: 0.75rem !important;
    color: #fff !important;
    padding: 0.25rem 0.625rem; }
  table#running-order .running-order-details > span {
    border-radius: 0.25rem;
    background-color: #e73030;
    display: grid !important;
    font-size: 0.875rem !important;
    color: #fff !important;
    padding: 0.3125rem;
    align-items: center;
    text-transform: capitalize; }

.rinning-order-title > h2 {
  color: #3d3f43;
  font-size: 1.5rem;
  font-weight: 600; }

.running-order-wrap {
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  padding: 0 0.9375rem; }

td.dine-order-tabel > span {
  width: 10rem;
  border-radius: 5%;
  box-shadow: 0 6px 8px rgba(52, 73, 94, 0.2), 0 1px 1px rgba(52, 73, 94, 0.1);
  display: inline-block;
  text-align: center;
  padding-top: 0.9375rem; }
td.dine-order-tabel .running {
  background-color: #e73030; }
td.dine-order-tabel .completed {
  background-color: #62bb31; }

td.order-time-det > span {
  font-size: 0.875rem !important;
  font-weight: normal;
  display: inline-block !important;
  vertical-align: middle; }

.dine-table-heading th {
  border-top: medium none;
  border-bottom: 0.125rem solid #e5e9f4;
  padding-bottom: 1.25rem; }

.running-order-table-wrap {
  height: calc(100vh - 175px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  touch-action: auto; }

.dinefor-paynow svg {
  margin-right: 0.625rem;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.25rem; }

.finished-order {
  background-color: #62bb31;
  border-color: #62bb31; }
  .finished-order:hover {
    background-color: rgba(98, 187, 49, 0.8);
    border-color: rgba(98, 187, 49, 0.8); }

.dine-in-wrapper > .navigatorHeight {
  min-height: 101vh; }

.table-pos-btn {
  margin: 0 auto;
  padding-bottom: 1.25rem; }
  .table-pos-btn .popup-btn-save {
    height: 2.5rem;
    width: 29.5%; }

button.qtyminus.value-qty {
  /*border: $px1 solid #D8DCE1;
  border-right:  medium none;
  border-top-right-radius:  0;
  border-bottom-right-radius:  0;*/ }

input.qty {
  border: 0.0625rem solid #D8DCE1;
  border-left: medium none;
  border-right: medium none;
  border-radius: 0; }

.POSItemOptions_quantity_inputs > * {
  border: 0 none;
  background-color: #fff;
  float: left;
  width: 33.33%;
  text-align: center;
  outline: none;
  color: #3D3F43;
  font-size: 1rem;
  font-weight: 600;
  height: 2.5rem;
  letter-spacing: 0;
  line-height: 2.5rem;
  vertical-align: middle;
  padding: 0;
  border-radius: 0.3125rem; }
.POSItemOptions_quantity_inputs .value-qty {
  border-left: medium none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.popup-btn-save {
  height: 3.125rem;
  border-radius: 4px;
  padding: 0.3125rem 1.25rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 0.625rem;
  border: medium none; }

.dm-manager .dm-screen-wrap {
  overflow: visible; }
.dm-manager .header {
  border: medium none; }
  .dm-manager .header .header-main {
    padding: 0; }

.dine-order-details .modifiers {
  font-size: 0.75rem;
  padding-left: 1rem; }

.running-orders-dinein {
  display: none; }
  .running-orders-dinein.active {
    display: flex; }

.reservation-cancel {
  position: absolute;
  bottom: 0;
  color: #fff;
  right: 0;
  padding: 5px !important; }
  .reservation-cancel:hover {
    background: #cb000e; }
  .reservation-cancel .dlt-icon {
    padding: 0;
    cursor: pointer; }
    .reservation-cancel .dlt-icon > img {
      display: inline-block;
      vertical-align: middle; }

.sitting-image svg {
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 1PX 2px rgba(0, 0, 0, 0.3)); }
  .sitting-image svg #dine-in-area {
    background: #ffffff; }

/*.header .header-main .header-main-right .nav-icon svg,.nav-link-text * {
  filter: unset;
}*/
.dropdown-content {
  box-shadow: 0 6px 8px rgba(52, 73, 94, 0.2), 0 1px 1px rgba(52, 73, 94, 0.1);
  transition: all 0.2s ease-out;
  width: auto !important; }
  .dropdown-content#tooltipdata {
    overflow: unset;
    max-height: 13.5rem;
    display: none;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 3px 3px 0 rgba(187, 187, 187, 0.9);
    background-color: #ffffff;
    min-width: 200px;
    position: absolute; }
    .dropdown-content#tooltipdata .tooltip-c-range {
      margin-bottom: 0;
      font-weight: 600; }
      .dropdown-content#tooltipdata .tooltip-c-range .display-table-details {
        display: grid;
        grid-template-columns: 3fr auto;
        background: #e5e9ed;
        align-content: center;
        border-radius: 6px; }
        .dropdown-content#tooltipdata .tooltip-c-range .display-table-details .close-table-details {
          background: #CC3232;
          color: #fff;
          border-radius: 0 6px 0 0; }
        .dropdown-content#tooltipdata .tooltip-c-range .display-table-details .table-header-border-bottom {
          border-bottom: 1px solid #ccc6c6;
          cursor: default; }
      .dropdown-content#tooltipdata .tooltip-c-range .table-order-footer {
        border-top: 1px solid #eee; }
        .dropdown-content#tooltipdata .tooltip-c-range .table-order-footer .buttons {
          display: flex;
          justify-content: flex-end;
          padding-right: 6px; }
      .dropdown-content#tooltipdata .tooltip-c-range .table-order-content {
        overflow: auto;
        max-height: 6.25rem;
        padding: 0.3125rem; }
        .dropdown-content#tooltipdata .tooltip-c-range .table-order-content .order-details-with-action {
          display: grid;
          grid-template-columns: 1fr auto; }
          .dropdown-content#tooltipdata .tooltip-c-range .table-order-content .order-details-with-action .dt-items {
            font-weight: 400;
            color: #212529;
            display: grid;
            align-items: center;
            padding: 0 5px; }
          .dropdown-content#tooltipdata .tooltip-c-range .table-order-content .order-details-with-action .paid-amount-msg {
            color: #7ac241; }
          .dropdown-content#tooltipdata .tooltip-c-range .table-order-content .order-details-with-action .reservation-cancel {
            position: static;
            margin: 1px; }
      .dropdown-content#tooltipdata .tooltip-c-range .table-popup {
        display: grid;
        font-weight: 400;
        text-align: center;
        justify-content: center;
        color: #fff;
        margin: 0.0325rem;
        align-items: center;
        border-radius: 0.25rem;
        margin-bottom: 0.0625rem;
        min-width: 5.625rem; }
        .dropdown-content#tooltipdata .tooltip-c-range .table-popup:hover {
          background: #009300 !important; }

g.dinein_table_parent.active {
  stroke: #62bb31;
  stroke-width: 2px; }
g.dinein_table_parent .dinein_table svg {
  /*-webkit-filter: drop-shadow(2px 2px 3px rgb(85, 85, 85));
  filter: drop-shadow(1px 1PX 3px #4b4949f5);*/ }

.modal-dialog {
  max-width: 30%; }

.table-action {
  position: relative; }
  .table-action .dropdown-item {
    padding: 0.3125rem 1.5625rem 0.3125rem 0.3125rem;
    border-bottom: 0.0625rem solid rgba(12, 19, 12, 0.1);
    cursor: default; }
    .table-action .dropdown-item:hover {
      background: unset; }

div#confirmModal .modal-footer {
  justify-content: flex-end !important; }
div#confirmModal .customer-title {
  color: #3f4146;
  font-size: 16px; }

.running-actions {
  display: grid;
  grid-template-columns: repeat(2, auto);
  text-align: center;
  align-items: center;
  grid-gap: 10px;
  position: sticky;
  top: 0; }

.action-status {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center; }
  .action-status .timeago.runningtime {
    padding-top: 5px;
    font-weight: bold !important; }
  .action-status .btn {
    min-width: 152px; }
  .action-status .btn-progress {
    background-color: #faa03c;
    color: #fff; }
  .action-status .pay_now i {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle; }

.dinein_table svg g:nth-of-type(1) {
  display: none; }

.table-order-view-wrapper {
  max-height: 150px;
  overflow: auto; }
  .table-order-view-wrapper > .table-order-view {
    border: 0.125rem solid #e5e9f4;
    padding: 0.3125rem 0.625rem;
    margin: 0.3125rem;
    border-radius: 4px;
    position: relative;
    transition: 0.3s ease-in-out;
    min-height: 80px;
    display: grid; }
    .table-order-view-wrapper > .table-order-view > div {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center; }
      .table-order-view-wrapper > .table-order-view > div .moodifiers-btn-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px; }
      .table-order-view-wrapper > .table-order-view > div .order-moifier-wrapper {
        display: flex;
        padding: 5px 0;
        flex-wrap: wrap; }
        .table-order-view-wrapper > .table-order-view > div .order-moifier-wrapper > div {
          border-right: 1px solid #e5e9f4;
          padding: 5px 8px; }
    .table-order-view-wrapper > .table-order-view .modifiers {
      display: inline-block;
      padding-left: 0.3125rem; }
      .table-order-view-wrapper > .table-order-view .modifiers > span {
        font-weight: normal;
        display: inline-block;
        background: #ef7f2a;
        color: #fff;
        padding: 3px 10px;
        border-radius: 4px; }
    .table-order-view-wrapper > .table-order-view .main-item {
      color: #3d3f43;
      font-weight: bold;
      font-size: 14px; }
    .table-order-view-wrapper > .table-order-view .order-name {
      padding-top: 0.3125rem; }
    .table-order-view-wrapper > .table-order-view.active {
      height: auto;
      transition: 0.3s ease-in-out; }

#available-tables > .table-status:hover {
  background: #E3E7F2; }

.cancel-order-dd > .dropdown {
  border-bottom: 1px solid #cccccc; }
  .cancel-order-dd > .dropdown > span {
    padding: 0; }

@media only screen and (min-width: 320px) and (max-width: 960px) {
  #NewReservation .modal-dialog {
    max-width: 96% !important; }
    #NewReservation .modal-dialog .modal-content .modal-body {
      height: 100vh;
      overflow: auto; }

  .fixed-reservation {
    width: 95vw;
    height: calc(100vh - 10.8rem); }

  .dine-in-wrapper {
    margin: 0 10px;
    font-size: 14px; }
    .dine-in-wrapper .header .header-main .header-main-right .user-name {
      display: none; }
    .dine-in-wrapper .hideBigScreen .hideBigIcon {
      top: 5.8em; }
    .dine-in-wrapper #dm-content-wrapper .inner-content-dm {
      grid-template-columns: 1fr;
      overflow: auto; }
    .dine-in-wrapper .dine-in-tabel-wrapper .inner-dinein-table {
      padding-top: 1em; }
    .dine-in-wrapper table#running-order {
      border-collapse: collapse; }
    .dine-in-wrapper .running-order-table-wrap {
      height: calc(100vh - 215px); }

  body#page-top.dm-manager .new-pos {
    padding: 0; }
    body#page-top.dm-manager .new-pos .running-orders-dinein {
      padding: 0; }
    body#page-top.dm-manager .new-pos #sitting-dinein-table .dropdown-content {
      right: 0 !important;
      left: 0 !important;
      width: 210px !important;
      top: 30% !important;
      margin: 0 auto !important;
      background: #f8fbff !important;
      max-height: 74px !important;
      overflow: auto; }

  .table-order-view-wrapper {
    grid-template-columns: 1fr; }
    .table-order-view-wrapper .table-order-view {
      height: 10rem; }
      .table-order-view-wrapper .table-order-view .running-actions {
        grid-template-columns: 1fr;
        grid-row-gap: 0.625rem; }

  .running-order-table-wrap .action-status {
    grid-template-columns: 1fr;
    grid-row-gap: 0.625rem; }

  .dine-in-tabel-wrapper .inner-dinein-table .dinein-table-control {
    padding: 0 0.625rem; }
    .dine-in-tabel-wrapper .inner-dinein-table .dinein-table-control .ullist-dinein-table > li:first-child {
      margin-left: 0; }

  .hide-below-sm {
    display: none; }

  .hideBigScreen .backgroundOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    opacity: .65;
    filter: alpha(opacity=65);
    -moz-opacity: .65;
    z-index: 101;
    display: none; }
  .hideBigScreen .all-booking-btns {
    left: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0;
    padding: 5px 10px 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 999;
    background: #fff; }
    .hideBigScreen .all-booking-btns.active {
      position: fixed;
      right: 0;
      z-index: 99; }
      .hideBigScreen .all-booking-btns.active button {
        display: block;
        min-width: 200px;
        margin-bottom: 20px; }
      .hideBigScreen .all-booking-btns.active .language-button {
        min-width: 200px;
        margin-left: 0;
        margin-bottom: 20px; }
    .hideBigScreen .all-booking-btns .dine-language {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    .hideBigScreen .all-booking-btns .dine-btn-footer-wrapper {
      display: none;
      position: fixed;
      bottom: 80px;
      background: #fff;
      width: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      animation: 0.4s ease-out 0s 1 footerSlideBottom;
      padding: 20px 0;
      box-shadow: 0px 1px 6px -7px #bcbcbc; }
      .hideBigScreen .all-booking-btns .dine-btn-footer-wrapper.active {
        display: flex;
        flex-direction: column; }
      .hideBigScreen .all-booking-btns .dine-btn-footer-wrapper button {
        display: block;
        width: 100% !important;
        border: medium none;
        text-align: left;
        font-size: 17px;
        font-weight: normal;
        border-bottom: 1px solid #E3E7F2;
        min-height: 60px;
        margin: 0;
        border-radius: 0; }
    .hideBigScreen .all-booking-btns .footer-slide-menu {
      width: 50px;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 3px;
      background-color: #4B4E53; }
      .hideBigScreen .all-booking-btns .footer-slide-menu.btn-menu-close {
        background-color: #cc3232;
        display: none;
        color: #fff; }
        .hideBigScreen .all-booking-btns .footer-slide-menu.btn-menu-close.active {
          display: flex;
          align-items: center; }
      .hideBigScreen .all-booking-btns .footer-slide-menu.dine-btn-menu.active {
        display: none; }
  @keyframes footerSlideBottom {
    0% {
      transform: translateY(100%); }
    100% {
      transform: translateY(0); } }
  .hideBigScreen .hideBigIcon {
    position: fixed;
    top: 54px;
    right: 0;
    cursor: pointer;
    background: rgba(80, 86, 202, 0.8);
    padding: 10px 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    transition: 0.3s ease-in-out; }
    .hideBigScreen .hideBigIcon.active {
      right: 250px; }
      .hideBigScreen .hideBigIcon.active i {
        transition: 0.3s ease-in-out;
        transform: rotate(180deg); }
    .hideBigScreen .hideBigIcon i {
      font-size: 20px;
      cursor: pointer;
      transition: 0.3s ease-in-out; } }
@media only screen and (max-width: 600px) {
  .floor-section-wrap {
    grid-template-columns: 1fr;
    grid-row-gap: 0.625rem;
    margin-left: 0; }
    .floor-section-wrap .ullist-floor > li:first-child {
      margin-left: 0; }
    .floor-section-wrap .form-inline .inner-addon {
      overflow: hidden;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      width: 100%;
      text-align: left; }

  .dine-in-tabel-wrapper .inner-dinein-table .dinein-table-control {
    grid-template-columns: 1fr; }
    .dine-in-tabel-wrapper .inner-dinein-table .dinein-table-control .zoom-wrap-dinein {
      text-align: center;
      margin-top: 1.25rem; }
    .dine-in-tabel-wrapper .inner-dinein-table .dinein-table-control .ullist-dinein-table {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: flex-start; }
      .dine-in-tabel-wrapper .inner-dinein-table .dinein-table-control .ullist-dinein-table > li:first-child {
        margin-left: 0; } }
@media only screen and (max-width: 400px) {
  .dm-manager .header .header-main {
    text-align: center;
    height: auto; }
    .dm-manager .header .header-main .header-main-left {
      justify-content: space-between;
      text-align: left;
      display: grid; }
      .dm-manager .header .header-main .header-main-left .subtitle {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .dm-manager .header .header-main .header-main-left .change-location > button {
        margin-right: 0; } }
.dine-in-table-guest-details-pos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  text-align: center; }

.tables-draw {
  border: 0.0625rem dashed;
  margin: 0.125rem; }

.table-action .dropdown-item:last-child {
  border-bottom: 0 !important; }

#available-tables {
  width: 100%; }
  #available-tables .table-status-container {
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-height: 255px;
    overflow-y: auto; }
    #available-tables .table-status-container .table-status {
      border: 2px solid #e0e3e6 !important;
      padding: 0.75rem 0.3125rem;
      position: relative;
      border-radius: 4px; }
      #available-tables .table-status-container .table-status > span {
        padding: 0 2px !important;
        display: block !important;
        color: #72777c;
        font-size: 1rem;
        font-weight: 600; }
        #available-tables .table-status-container .table-status > span.fa {
          margin-bottom: 0.4375rem; }
        #available-tables .table-status-container .table-status > span.table-status-number {
          position: absolute;
          top: -14px;
          font-size: 4rem !important;
          right: 0.1875rem;
          margin: 0 auto;
          text-align: center;
          color: rgba(0, 0, 0, 0.1); }
        #available-tables .table-status-container .table-status > span:first-child {
          min-width: 1.5625rem; }
      #available-tables .table-status-container .table-status .fa-rectangle {
        height: 13px;
        width: 20px;
        border-radius: 2px;
        margin-right: 1px; }
      #available-tables .table-status-container .table-status.active {
        border-color: #5056CA !important; }
        #available-tables .table-status-container .table-status.active:after {
          content: "\F00C";
          font-family: FontAwesome;
          font-size: 1.125rem;
          color: #fff;
          position: absolute;
          text-align: center;
          height: 1.5625rem;
          width: 1.5625rem;
          background-repeat: no-repeat;
          right: 0rem;
          top: 0rem;
          border-radius: 0px 0px 0px 3px;
          background-color: #767DFF;
          background-position: center center;
          border-color: #767DFF !important; }

.driver-container > button {
  width: 100%; }
.driver-container .dropdown-content {
  position: absolute; }

#placeOrder .POSItemOptions_quantity_inputs {
  width: 100%; }
  #placeOrder .POSItemOptions_quantity_inputs .value-qty {
    height: 3.75rem; }
    #placeOrder .POSItemOptions_quantity_inputs .value-qty.qtyminus {
      background: linear-gradient(45deg, rgba(164, 151, 151, 0.3), #fff);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    #placeOrder .POSItemOptions_quantity_inputs .value-qty.qtyplus {
      background: linear-gradient(235deg, rgba(164, 151, 151, 0.3), #fff); }
  #placeOrder .POSItemOptions_quantity_inputs input.qty {
    border: 1px solid #d8dce1;
    height: 3.75rem; }
    #placeOrder .POSItemOptions_quantity_inputs input.qty:focus {
      box-shadow: none; }

.POSItemOptions_quantity_inputs > [type='button'] {
  cursor: pointer; }

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  justify-content: center;
  margin: 0 auto; }
  .button-wrapper > a {
    text-align: right; }
    .button-wrapper > a .pay_now {
      font-size: 1rem; }

.carhop-wrapper .header-main > div:first-child {
  justify-content: flex-start; }

.dropdown-menu.show {
  cursor: pointer; }

button.res-select-table {
  background: #e4e8f1;
  border-color: #e4e8f1;
  color: #3d3f43; }

.dine-language {
  margin-left: 0.125rem; }

@media only screen and (min-width: 961px) and (max-width: 1100px) {
  #sitting-dinein-table {
    height: calc(100vh - 210px); } }
@media only screen and (min-width: 1101px) and (max-width: 1600px) {
  #sitting-dinein-table {
    height: calc(100vh - 240px); } }

/*# sourceMappingURL=dineIn.css.map */
