:root {
  --vh: 100%; }

@font-face {
  font-family: 'ProximaNova-Regular';
  /*src: url("/fonts/ProximaNova-Regular.woff") format("woff");*/
  src: url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
* {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'ProximaNova-Regular'; }

html {
  color: #1e1e20; }
  @media only screen and (min-width: 320px) and (max-width: 960px) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 599px) {
    html {
      font-size: 10px; } }
  @media only screen and (min-width: 959px) {
    html {
      font-size: 12px; } }
  @media only screen and (min-width: 1263px) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 1920px) {
    html {
      font-size: 16px; } }

html {
  height: calc(var(--vh, 1vh) * 100); }

.mobile-components .main-orders #pay-now {
  display: none !important; }

body {
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #444;
  background-color: #fff;
  position: fixed;
  right: 0;
  left: 0; }
  body .new-pos .hideBigScreen {
    display: none; }
    @media only screen and (min-width: 320px) and (max-width: 960px) {
      body .new-pos .hideBigScreen {
        display: flex; } }
  body .new-pos .hideMobileScreen {
    display: block; }
    @media only screen and (min-width: 320px) and (max-width: 960px) {
      body .new-pos .hideMobileScreen {
        display: none; } }
  @media only screen and (min-width: 320px) and (max-width: 960px) {
    body .new-pos .breadcrump-wrapper {
      padding-top: 5px; } }

ul,
ol,
p {
  padding: 0;
  margin: 0; }

a {
  display: inline-block;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

img {
  display: inline-block; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #b2becf;
  margin: 2px; }

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 0.5rem;
  height: 0; }

::-webkit-scrollbar {
  width: 0.1875rem;
  height: 0.1875rem; }

::-webkit-scrollbar-track-piece {
  bprder: 1px solid #eee; }

.orders-button-small {
  cursor: pointer;
  padding: 0 0.625rem;
  background-color: #EF7F2A;
  color: #fff;
  height: 1.875rem;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-right: 0.3125rem;
  margin-bottom: 0.3125rem;
  font-size: 0.75rem;
  transition: 0.2s linear; }
  .orders-button-small.canceled {
    background-color: #cc3232; }
    .orders-button-small.canceled:hover {
      background-color: #cc1212; }
  .orders-button-small.success {
    background-color: #64C434; }
    .orders-button-small.success:hover {
      background-color: #42891B; }
  .orders-button-small:hover {
    background-color: #EF6A05; }

.shorten-sentence {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 6.9375rem;
  /*text-align:center;*/ }

.orders-button-large {
  cursor: pointer;
  background-color: #5056CA;
  color: #fff;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 1rem;
  transition: 0.2s linear; }
  .orders-button-large svg {
    width: 0.625rem;
    margin-right: 0.625rem; }
  .orders-button-large:hover {
    background-color: #3A3E9F; }

.button-plus {
  margin-bottom: 0.4375rem;
  cursor: pointer; }
  .button-plus img {
    width: 1.875rem;
    height: 1.875rem; }

.search-field {
  display: grid;
  grid-template-columns: 3.75rem 1fr;
  align-items: center;
  border: 1px solid #E3E7F2;
  border-radius: 5px;
  margin: 0px;
  align-self: start;
  overflow: hidden; }
  .search-field .search-field-icon {
    display: grid;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #E3E7F2;
    height: 2.1875rem; }
    @media only screen and (min-width: 320px) and (max-width: 960px) {
      .search-field .search-field-icon svg path {
        fill: #000; } }
    .search-field .search-field-icon .search-field-img {
      width: 1.25rem;
      height: 1.25rem; }
    .search-field .search-field-icon .fa-search {
      font-size: 1.375rem;
      color: #555; }
  .search-field .search-field-input {
    display: block;
    height: 3.125rem;
    border: none;
    font-size: 1.125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-shadow: inset 0 50px 0 #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    z-index: 1; }
    .search-field .search-field-input:focus {
      outline: none; }

svg {
  color: #fff; }

.btnSuccess,
.btn-success {
  background-color: #5056CA;
  border-color: #5056CA; }
  .btnSuccess:hover,
  .btn-success:hover {
    background-color: #767DFF;
    border-color: #767DFF; }

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle,
.btn-success:disabled {
  background-color: #5056CA;
  border-color: #5056CA; }

.btn-announce button svg {
  width: 15px;
  /* height: 20px; */
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px; }

.cursor-pointer {
  cursor: pointer; }

div#nav-tabContent {
  border: 1px solid #E3E7F2; }
  div#nav-tabContent .nav-tabs .nav-item {
    margin-bottom: -1px;
    font-size: 20px;
    border: medium none !important;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
    color: #4B4E53; }
    @media only screen and (min-width: 320px) and (max-width: 960px) {
      div#nav-tabContent .nav-tabs .nav-item {
        font-size: 1.25em; } }
    div#nav-tabContent .nav-tabs .nav-item.active {
      border-bottom: 2px solid #5056CA !important;
      box-shadow: 0 0px 0.0625rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.1875rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.375rem 0 rgba(23, 23, 32, 0.05), 0 0px 0.75rem 0 rgba(23, 23, 32, 0.05);
      background: #E3E7F2; }

.tab-content > .active {
  padding: 1.25rem; }

.blue-middle {
  color: #5056CA; }
  .blue-middle:hover {
    color: #3A3E9F; }

.loading-modules {
  width: 25rem;
  margin: 0 auto;
  border: 1px solid #E3E7F2;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  background: linear-gradient(-45deg, #767DFF, #767DFF, #3A3E9F, #5056CA);
  max-height: 12.5rem;
  overflow-y: auto; }

.loading-modules li {
  line-height: 1.6;
  color: #fff;
  position: relative; }
  .loading-modules li span {
    position: absolute;
    top: 0;
    right: 0; }

.pl-30 {
  padding-left: 30px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #3d3f43;
  margin: 0; }

.top-round-close-button {
  cursor: pointer;
  position: absolute;
  top: -0.75rem;
  color: #fff;
  right: -0.625rem;
  background: #3c3a3a;
  padding: 0.0625rem;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center; }

@media only screen and (min-width: 599px) {
  .modal .modal-dialog .modal-content .modal-header.mobile {
    display: none; } }
@media only screen and (min-width: 320px) and (max-width: 960px) {
  .footer-slider-list-item-link > span {
    display: flex;
    align-items: center; }
    .footer-slider-list-item-link > span > span {
      font-size: 14px; }

  .pl-30 {
    padding: 5px 20px 0;
    background-color: #fff;
    z-index: 1; }

  html,
  body {
    margin: 0;
    height: 100%;
    overflow: scroll; }
    html .dropdown:hover,
    body .dropdown:hover {
      background-color: #fff; }
    html .mobile-components .payment-breakdown-title h1,
    body .mobile-components .payment-breakdown-title h1 {
      font-size: 1.5em;
      padding-top: 10px; }
    html .mobile-components .payment-method-block .fa-trash,
    body .mobile-components .payment-method-block .fa-trash {
      font-size: 1.25em; }

  .modal-header {
    padding: 20px !important; }

  .modal-details {
    padding: 0 20px !important; }

  .modal {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    transform: none !important;
    transition: none !important;
    animation: none !important;
    opacity: 1 !important;
    max-width: none; }
    .modal .modal-dialog {
      max-width: none;
      min-height: auto !important;
      width: 100% !important;
      height: 100% !important;
      border: none !important;
      transform: none !important;
      transition: none !important;
      animation: none !important;
      opacity: 1 !important; }
      .modal .modal-dialog .modal-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr max-content;
        width: 100% !important;
        max-width: none;
        border: none !important;
        transform: none !important;
        transition: none !important;
        animation: none !important;
        opacity: 1 !important; }
        .modal .modal-dialog .modal-content .modal-body {
          width: 100vw;
          border: none !important;
          padding: 20px !important; }
        .modal .modal-dialog .modal-content .modal-footer .btn-announce button {
          height: 50px !important;
          font-size: 14px !important; }
          .modal .modal-dialog .modal-content .modal-footer .btn-announce button#discount-save {
            background-color: #64C434 !important;
            border: none !important; }
      .modal .modal-dialog .preloader {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1000000; }
        .modal .modal-dialog .preloader > div {
          width: auto; }
      .modal .modal-dialog .modal-content .modal-header {
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
        .modal .modal-dialog .modal-content .modal-header.mobile {
          background: none;
          box-shadow: none; }
        .modal .modal-dialog .modal-content .modal-header .customer-title {
          font-size: 18px;
          color: #3f4146; }
        .modal .modal-dialog .modal-content .modal-header button.close {
          font-size: 30px;
          color: #3f4146;
          opacity: 1; }
        .modal .modal-dialog .modal-content .modal-header .main-orders-title {
          font-size: 16px; }
          .modal .modal-dialog .modal-content .modal-header .main-orders-title .text {
            font-size: 16px; }
      .modal .modal-dialog .modal-content .modal-footer {
        padding: 20px !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); } }

/*# sourceMappingURL=elements.css.map */
