.main {
  display: grid;
  grid-template-columns: 65% 35%; }
  .main .main-news {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 2.5rem;
    border-top: 1px solid #fff;
    padding: 0 0 0 1.875rem;
    background-color: #3A3E9F;
    color: #fff;
    display: grid;
    grid-template-columns: 9.375rem 1fr; }
    .main .main-news .main-news-title {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FD3C83; }
      .main .main-news .main-news-title .main-news-title-link {
        color: #fff;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        font-weight: 600; }
        .main .main-news .main-news-title .main-news-title-link img {
          margin-right: 0.3125rem; }
    .main .main-news .main-news-run-text {
      display: flex;
      align-items: center;
      font-size: 0.875rem; }
  .main .main-body {
    border-right: 1px solid #ddd;
    height: calc(100vh - 14.0625rem);
    overflow: hidden;
    display: grid;
    grid-template-rows: 6.875rem 1fr;
    padding: 0 1.875rem; }
    .main .main-body .search-field {
      margin-top: 1.8125rem; }
    .main .main-body .food-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto;
      grid-gap: 0.625rem;
      height: calc(100vh - 21.5625rem); }
      .main .main-body .food-wrapper .food-categories {
        border-bottom: none;
        border-left: none;
        padding-right: 0.75rem;
        overflow: auto;
        height: auto;
        display: grid;
        grid-template-rows: repeat(100, min-content);
        grid-template-columns: auto;
        grid-gap: 1.25rem; }
        .main .main-body .food-wrapper .food-categories .food-categories-item {
          width: 5.625rem;
          border: 1px solid #ddd;
          border-radius: 5px;
          display: grid;
          grid-template-columns: auto;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.2s linear;
          position: relative;
          font-size: 0.875rem;
          background-color: #fff; }
          .main .main-body .food-wrapper .food-categories .food-categories-item:hover, .main .main-body .food-wrapper .food-categories .food-categories-item.active {
            box-shadow: inset 0 0 0px 2px #5056CA; }
            .main .main-body .food-wrapper .food-categories .food-categories-item:hover .food-categories-item-check, .main .main-body .food-wrapper .food-categories .food-categories-item.active .food-categories-item-check {
              opacity: 1; }
          .main .main-body .food-wrapper .food-categories .food-categories-item.bg {
            background-color: #F99C32;
            color: #fff;
            font-size: 0.75rem; }
          .main .main-body .food-wrapper .food-categories .food-categories-item .food-categories-item-img {
            width: 3.125rem;
            margin: 0 auto;
            margin-top: 0.3125rem;
            height: 3.125rem; }
          .main .main-body .food-wrapper .food-categories .food-categories-item .food-categories-item-text {
            text-align: center;
            font-weight: 600;
            user-select: none; }
          .main .main-body .food-wrapper .food-categories .food-categories-item .food-categories-item-check {
            width: 1.25rem;
            height: 1.25rem;
            border: 2px solid #5056CA;
            background-color: #5056CA;
            position: absolute;
            right: 0px;
            top: 0px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 5px;
            color: #fff;
            opacity: 0;
            transition: 0.2s linear;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.75rem; }
      .main .main-body .food-wrapper .food-block {
        height: calc(100vh - 21.5625rem);
        border-left: 1px solid #ddd;
        padding-left: 1.875rem;
        display: grid;
        grid-template-rows: 4.6875rem 1fr; }
        .main .main-body .food-wrapper .food-block .breadcrumbs {
          padding: 0px 1.25rem;
          height: 3.125rem;
          border: 1px solid #ddd;
          border-radius: 5px;
          display: inline-grid;
          grid-template-columns: max-content max-content max-content;
          justify-self: start;
          box-sizing: content-box;
          background-color: #fff; }
          .main .main-body .food-wrapper .food-block .breadcrumbs .breadcrumbs-item {
            margin-right: 0.625rem;
            display: grid;
            grid-template-columns: 1fr min-content;
            align-items: center;
            font-size: 0.875rem; }
            .main .main-body .food-wrapper .food-block .breadcrumbs .breadcrumbs-item .title-box {
              cursor: pointer; }
              .main .main-body .food-wrapper .food-block .breadcrumbs .breadcrumbs-item .title-box .breadcrumbs-subtitle {
                color: #888;
                font-size: 0.75rem; }
              .main .main-body .food-wrapper .food-block .breadcrumbs .breadcrumbs-item .title-box .breadcrumbs-title {
                font-weight: 600; }
            .main .main-body .food-wrapper .food-block .breadcrumbs .breadcrumbs-item .breadcrumbs-img {
              width: 0.375rem;
              margin: 0 0.625rem 0 1.5625rem; }
        .main .main-body .food-wrapper .food-block .food-menu {
          overflow: auto;
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          padding-right: 1.875rem;
          height: calc(100vh - 26.25rem); }
          .main .main-body .food-wrapper .food-block .food-menu .food-menu-item {
            background: none;
            border: 0;
            box-sizing: border-box;
            font-size: inherit;
            position: relative;
            cursor: pointer;
            background-color: #fff; }
          .main .main-body .food-wrapper .food-block .food-menu .food-menu-item::before, .main .main-body .food-wrapper .food-block .food-menu .food-menu-item::after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 99; }
          .main .main-body .food-wrapper .food-block .food-menu .food-menu-item {
            -webkit-transition: color 0.25s;
            transition: color 0.25s; }
          .main .main-body .food-wrapper .food-block .food-menu .food-menu-item::before, .main .main-body .food-wrapper .food-block .food-menu .food-menu-item::after {
            border: 2px solid transparent;
            width: 0;
            height: 0; }
          .main .main-body .food-wrapper .food-block .food-menu .food-menu-item::before {
            top: 0;
            left: 0; }
          .main .main-body .food-wrapper .food-block .food-menu .food-menu-item::after {
            bottom: 0;
            right: 0; }
          .main .main-body .food-wrapper .food-block .food-menu .food-menu-item:hover p.remove-bottom {
            color: #5056CA; }
          .main .main-body .food-wrapper .food-block .food-menu .food-menu-item:hover::before, .main .main-body .food-wrapper .food-block .food-menu .food-menu-item:hover::after {
            width: 100%;
            height: 100%; }
          .main .main-body .food-wrapper .food-block .food-menu .food-menu-item:hover::before {
            border-top-color: #5056CA;
            border-right-color: #5056CA;
            -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
            transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
            border-radius: 5px; }
          .main .main-body .food-wrapper .food-block .food-menu .food-menu-item:hover::after {
            border-bottom-color: #5056CA;
            border-left-color: #5056CA;
            -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
            transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
            border-radius: 5px; }
          .main .main-body .food-wrapper .food-block .food-menu .food-menu-item {
            cursor: pointer;
            width: 10rem;
            height: 10rem;
            border: 1px solid #ddd;
            border-radius: 5px;
            justify-self: center;
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-content: center;
            margin-right: 1.25rem;
            margin-bottom: 1.25rem;
            padding: 1.25rem;
            transition: 0.2s linear;
            font-size: 0.875rem; }
            .main .main-body .food-wrapper .food-block .food-menu .food-menu-item.bg {
              background-color: #56CCF2;
              color: #fff;
              font-size: 0.875rem; }
            .main .main-body .food-wrapper .food-block .food-menu .food-menu-item.active {
              box-shadow: inset 0 0 0px 2px #5056CA; }
            .main .main-body .food-wrapper .food-block .food-menu .food-menu-item .food-menu-item-img {
              width: 6.25rem;
              margin: 0 auto;
              max-height: 5.625rem; }
            .main .main-body .food-wrapper .food-block .food-menu .food-menu-item .food-menu-item-text {
              text-align: center;
              font-weight: 600;
              user-select: none; }

/*# sourceMappingURL=main.css.map */
