.navigation {
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #5056CA;
  display: grid;
  grid-template-rows: 5.3125rem 1fr 3.75rem 6.25rem; }
  .navigation .logo {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center; }
    .navigation .logo .logo-link img {
      width: 1.875rem;
      height: 1.875rem; }
  .navigation .navigation-list-wrapper {
    overflow: hidden;
    position: relative; }
    .navigation .navigation-list-wrapper::-webkit-scrollbar {
      width: 0; }
    .navigation .navigation-list-wrapper .navigation-list {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      display: grid;
      grid-template-rows: auto;
      grid-gap: 1.25rem;
      padding: 0 0 1.875rem 0;
      transition: 0.5s ease-out; }
      .navigation .navigation-list-wrapper .navigation-list.toggle {
        top: -95%; }
      .navigation .navigation-list-wrapper .navigation-list .nav-item {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        .navigation .navigation-list-wrapper .navigation-list .nav-item .nav-link-nav {
          text-align: center;
          font-size: 14px;
          color: #fff;
          align-items: center;
          display: grid;
          width: 6.25rem;
          min-height: 4.375rem;
          cursor: pointer;
          font-weight: 600;
          border-radius: 3px;
          transition: 0.2s linear;
          padding: 0.625rem; }
          .navigation .navigation-list-wrapper .navigation-list .nav-item .nav-link-nav.active, .navigation .navigation-list-wrapper .navigation-list .nav-item .nav-link-nav:hover {
            background-color: #767DFF !important;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
          .navigation .navigation-list-wrapper .navigation-list .nav-item .nav-link-nav img {
            width: 2.1875rem;
            height: 2.1875rem;
            margin: 0 auto 0.3125rem auto; }
          .navigation .navigation-list-wrapper .navigation-list .nav-item .nav-link-nav .nav-link-text {
            font-size: 1.125rem;
            text-align: center;
            display: block;
            word-break: break-all; }
  .navigation .slider-btn {
    color: #fff;
    margin: 0 auto;
    background-color: #3A3E9F;
    width: 1.875rem;
    height: 1.875rem;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    text-align: center;
    margin-top: 0.9375rem;
    cursor: pointer;
    transition: 0.3s linear;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
    .navigation .slider-btn.toggle {
      transform: rotate(180deg); }
    .navigation .slider-btn:hover {
      background-color: #767DFF; }
  .navigation .navigation-avatar {
    background-color: #3A3E9F;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
    .navigation .navigation-avatar .nav-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .navigation .navigation-avatar .nav-link img {
        border: 3px solid #fff;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        transition: 0.2s ease-out; }
        .navigation .navigation-avatar .nav-link img:hover {
          transform: scale(1.1); }
      .navigation .navigation-avatar .nav-link .nav-link-user-name {
        color: #fff;
        font-size: 0.875rem;
        margin-top: 0.3125rem; }

.dm-manager .navigation .navigation-list-wrapper .navigation-list {
  grid-gap: 0; }
  .dm-manager .navigation .navigation-list-wrapper .navigation-list .nav-item .nav-link-nav {
    width: auto;
    min-height: auto;
    padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
    margin: 0 0.4375rem 0.625rem 0.4375rem; }
    .dm-manager .navigation .navigation-list-wrapper .navigation-list .nav-item .nav-link-nav .nav-link-text {
      display: inherit; }
      .dm-manager .navigation .navigation-list-wrapper .navigation-list .nav-item .nav-link-nav .nav-link-text svg {
        width: 1.5625rem;
        height: 1.5625rem;
        fill: #fff; }

/*# sourceMappingURL=navbar.css.map */
