.transaction-sidebar {
  padding: 1.25rem 0;
  display: grid;
  grid-template-rows: 4.375rem 1fr;
  overflow: auto;
  padding-right: 0.625rem;
  grid-row-start: 2;
  grid-row-end: 4; }
  .transaction-sidebar .search-container {
    display: grid;
    grid-template-columns: 6.25rem 1fr;
    align-items: stretch;
    grid-gap: 0.625rem;
    padding: 0 0.625rem; }
    .transaction-sidebar .search-container .orders-button-large {
      height: 3.125rem; }
    .transaction-sidebar .search-container .search-field {
      margin: 0; }
  .transaction-sidebar .orders-history {
    padding: 0.625rem 0.625rem 0 0;
    overflow: auto; }
    .transaction-sidebar .orders-history .orders-history-list {
      border-bottom: 2px solid #F1F3F6;
      margin-bottom: 0.625rem; }
      .transaction-sidebar .orders-history .orders-history-list .orders-history-list-title {
        font-weight: 600;
        padding: 0 1.25rem;
        margin-bottom: 0.625rem; }
      .transaction-sidebar .orders-history .orders-history-list .orders-history-list-item {
        display: grid;
        grid-template-columns: min-content 1fr;
        align-items: center;
        grid-gap: 1.25rem;
        padding: 0.625rem 0.625rem 0.625rem 1.25rem;
        cursor: pointer;
        transition: 0.2s linear;
        user-select: none; }
        .transaction-sidebar .orders-history .orders-history-list .orders-history-list-item.active {
          background-color: #5056CA;
          color: #fff; }
          .transaction-sidebar .orders-history .orders-history-list .orders-history-list-item.active .orders-history-main .orders-history-main-body {
            border-color: transparent;
            color: #fff; }
        .transaction-sidebar .orders-history .orders-history-list .orders-history-list-item:last-child .orders-history-main .orders-history-main-body {
          border: none; }
        .transaction-sidebar .orders-history .orders-history-list .orders-history-list-item .orders-history-icon {
          font-size: 1.125rem;
          border: 1px solid #64C434;
          color: #64C434;
          background-color: #F6FFF0;
          width: 1.875rem;
          height: 1.875rem;
          border-radius: 50%;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center; }
        .transaction-sidebar .orders-history .orders-history-list .orders-history-list-item .orders-history-main .orders-history-main-head {
          display: grid;
          grid-template-columns: 1fr max-content;
          align-items: center;
          font-weight: 500; }
          .transaction-sidebar .orders-history .orders-history-list .orders-history-list-item .orders-history-main .orders-history-main-head .orders-history-time {
            margin-bottom: 0.3125rem; }
        .transaction-sidebar .orders-history .orders-history-list .orders-history-list-item .orders-history-main .orders-history-main-body {
          display: grid;
          grid-template-columns: 1fr max-content;
          align-items: center;
          border-bottom: 2px solid rgba(0, 0, 0, 0.05);
          padding-bottom: 0.625rem;
          color: #888; }
          .transaction-sidebar .orders-history .orders-history-list .orders-history-list-item .orders-history-main .orders-history-main-body .orders-history-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 1.25rem; }
          .transaction-sidebar .orders-history .orders-history-list .orders-history-list-item .orders-history-main .orders-history-main-body .orders-button-small {
            margin: 0;
            min-width: 5rem; }

/*# sourceMappingURL=transaction_sidebar.css.map */
