@import "../variables.scss";
#add-email {
  .modal-dialog {
    max-width: $px400;

    .modal-content {
      .modal-header {

      }

      .modal-body {

      }

      .modal-footer {
        .btn-announce {

        }
      }
    }
  }
}

@include responsive(mobile) {
  #add-email {
    .modal-dialog {
      margin: 0;
      width: 100vw;
      max-width: none;
      transform: none !important;

      .modal-content {
        top: auto;
        border-radius: 0;

        .modal-header {
          border-radius: 0;
        }

        .modal-body {

        }

        .modal-footer {
          .btn-announce {

          }
        }
      }
    }
  }
}