@import '../variables.scss';

#add-note {
  .modal-dialog {
    width: $px560;
    box-shadow: 0 10px 40px rgba(133, 139, 151, 0.16);
    border-radius: $btn-border-radius;
    max-width: $px560;

    .modal-content {
      box-shadow: 0 10px 40px rgba(133, 139, 151, 0.16);

      .modal-header {
      }

      .modal-body {
        .add-note-area {
          > input {
            width: 100%;
            height: $px50;
            border-radius: $btn-border-radius;
            border: 2px solid #efefef;
            padding: $px10;
          }

          .add-note-form {
            width: $px490;
            height: $px130;
            border-radius: $btn-border-radius;
            border: 1px solid #e0e3e6;
            background-color: #ffffff;
          }

          > p {
            color: #72777c;
            font-size: $px14;
            font-weight: 400;
            letter-spacing: 0.5px;
            margin-bottom: $px10;
            margin-top: $px10;
          }
        }
      }

      .modal-footer {
        .btn-announce {
          #save-note {
            width: $px110;
            height: $px50;
            border-radius: $btn-border-radius;
            background-color: #5056ca;
            border-color: #5056ca;
            margin-left: $px10;
          }
        }
      }
    }
  }
}

.loyalty-search {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

// media queries
@include responsive(mobile) {
  #add-note {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    max-height: 100vh;
    &.show {
      .modal-dialog {
        max-width: none;
        .modal-content {
          margin-bottom: 0;
        }
      }
    }

    .modal-dialog {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      width: auto;
      min-height: auto;
      overflow-y: hidden;
      animation: none;
      transform: none;

      .modal-content {
        top: auto;
        margin-bottom: -362px;
        animation: none;
        transform: none;
        transition: 0.3s ease-out;
        position: static;

        .modal-header {
          border-radius: 0;
          padding: 10px 20px;
          background-color: #fff;
          min-height: 80px;
          //border-bottom: none;

          .customer-title {
            font-size: 16px;
            font-weight: 600;
          }
        }

        .modal-body {
          padding: 10px 20px;

          .add-note-area {
            display: flex;
            flex-direction: column;

            p {
              font-weight: 600;
            }

            .add-note-form {
              width: auto;
            }
          }
        }

        .modal-footer {
          .btn-announce {
            margin: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;

            button {
              margin: 0;
              flex-grow: 1;

              &#save-note {
                border-color: $green-middle;
                background-color: $green-middle;
              }
            }
          }
        }
      }
    }
  }
}
