@import '../variables.scss';
@import '../mixins.scss';

#customer,
#customer-loyalty,
#manage-customer {
  .modal-dialog {
    max-width: $px1180;

    .modal-content {
      .modal-header {
        background: #dee2e9;
        padding: $px15 $px30;
        border-bottom-color: #dee2e9;
        box-shadow: none;

        .customer-title {
          font-size: $px16;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #3f4146;
          @include responsive(mobile) {
            font-size: 18px;
          }
        }
      }

      .modal-body {
        //margin-top: $px25;

        select {
          font-size: $px14;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: #3d3f43;
          padding-left: $px15;

          &.selectpicker {
            background-image: url('/assets/images/select-arrow.png');
            background-repeat: no-repeat;
            background-position: center right $px10;
            -webkit-appearance: none;
            -moz-appearance: none;    
            width: $px342 !important;
          }
        }

        .dob {
          select:nth-child(2) {
            width: $px75;
          }

          select:nth-child(3) {
            width: $px125;
            margin: 0 4px;
          }

          select:nth-child(4) {
            width: $px100;
          }
        }

        .left-form {
          > div {
            margin-bottom: $px25;
            position: relative;

            input {
              width: $px335 !important;
              margin-left: 0 !important;
              height: $px50;
              border-radius: $btn-border-radius;
              background-color: #ffffff;
              border: solid 1px #e4e7eb;
              padding: $px10;
            }

            select {
              width: $px315;
              height: $px50;
              border-radius: $btn-border-radius;
              background-color: #ffffff;
              border: solid 1px #e4e7eb;
            }

            label {
              width: $px215;
              padding: 0 $px25;
              font-size: $px14;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.5px;
              color: #72777c;
              vertical-align: middle;
            }
          }

          label {
            span {
              color: #f44040;
              font-size: $px24;
            }
          }
        }

        .right-form {
          > div {
            margin-bottom: $px25;
            position: relative;
            @include responsive(mobile){
              width: 100% !important;
            }

            input {
              width: $px315;
              height: $px50;
              border-radius: $btn-border-radius;
              background-color: #ffffff;
              border: solid 1px #e4e7eb;
              padding: $px10;
              @include responsive(mobile){
                width: 100% !important;
              }
            }

            select {
              width: $px315;
              height: $px50;
              border-radius: $btn-border-radius;
              background-color: #ffffff;
              border: solid 1px #e4e7eb;
            }

            /*> select.selectpicker{
              width: $px889;
            }*/
            label {
              width: $px215;
              padding: 0 $px25;
              font-size: $px14;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.5px;
              color: #72777c;
              vertical-align: middle;
              @include responsive(mobile){
                width: 100% !important;
              }
            }
          }

          label {
            span {
              color: #f44040;
              font-size: $px24;
            }
          }
        }
      }

      .modal-footer {
      }
    }
  }
}

.divide-block {
  border-top: 1px solid #ddd;
  padding: $px25 0;
  margin-top: 0;
}

.customer-block-info {
  position: absolute;
  margin-top: -$px35;
  left: $px35;
  overflow: hidden;
  background: #fff;
  z-index: 9;
  padding: 0 15px;
  font-weight: bold;
  text-transform: capitalize;
}

// media queries
@include responsive(mobile) {
  #customer {
    .modal-dialog {
      max-width: none;
      min-height: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: 0;

      .modal-content {
        display: grid;
        grid-template-rows: max-content 1fr max-content;
        max-height: 80vh !important;

        .modal-header {
          border: none;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          padding: 20px;
          z-index: 1;

          .customer-title {
          }
        }

        .modal-body {
          margin: 0;
          padding: 20px;
          background-color: #fff;

          .divide-block {
            padding: 0;
            width: 95% !important;

            h5 {
              margin: 0;
            }
          }

          select {
            &.selectpicker {
            }
          }

          .dob {
            > select:nth-child(2) {
            }

            > select:nth-child(3) {
            }

            > select:nth-child(4) {
            }
          }

          .left-form {
            padding: 0;
            max-width: 100% !important;

            > div {
              margin-bottom: 10px;

              > input {
                width: 100%;
              }

              > select {
                width: 100%;
              }

              > label {
              }

              label {
                padding: 0;

                > span {
                }
              }
            }
          }

          .right-form {
            padding: 0;
            max-width: 100% !important;

            > div {
              margin-bottom: 10px;

              > input {
                width: 100% !important;
              }

              > select {
                width: 100%;
              }

              > label {
                padding: 0;
              }
            }

            .customer-group {
              .right-shift {
                padding: 0;
                max-width: 100% !important;

                .vdatetime {
                  width: 100% !important;
                  display: block !important;

                  input {
                    margin: 0;
                    width: 100%;
                  }
                }
              }
              .vdatetime {
                width: 100% !important;
                display: block !important;

                input {
                  margin: 0;
                  width: 100%;
                }
              }
            }
          }
        }

        .modal-footer {
        }
      }
    }
  }
}

//
@include responsive(mobile) {
  #search-loyalty-customer {
    .modal-dialog {
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      min-height: auto;
      border-left: 1px solid #ddd;

      .modal-content {
        width: 95vw !important;
        margin: auto;
        .modal-header {
          border-radius: 0;
          padding: 10px 20px;
        }

        .modal-body {
          padding: 20px;

          > .color-text-invert {
            margin-bottom: 10px;
          }

          .add-note-area {
            input {
              width: 95%;
            }
          }

          .inputSearch {
            margin-bottom: 10px;
          }

          button {
            margin-bottom: 10px;
            border-radius: $btn-border-radius;
          }
        }

        .modal-footer {
        }
      }
    }
  }
}
