@import '../variables.scss';

#manage-customer {
  .modal-dialog {
    max-width: $px940;
    box-shadow: 0 10px 40px rgba(133, 139, 151, 0.16);
    border-radius: $btn-border-radius;

    .modal-content {
      min-height: $px500;

      .modal-header {
      }

      .modal-body {
        .search-field {
          margin-bottom: $px20;
        }

        .manage-customer-table {
          table {
            margin-top: 0px;

            tr {
              &:last-child {
                border-bottom: 1px solid #efefef;
              }

              th {
                padding: $px15 0;
                border-top: medium none;
              }
            }
          }
        }
      }

      .modal-footer {
      }
    }
  }
}

.pagination-customer-details {
  grid-gap: $px32;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $px10;
  padding-top: $px10;

  > ul {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;

    > li {
      border-radius: $btn-border-radius;
      background-color: $blue-middle;
      border-color: $blue-middle;
      color: #ffffff;
      font-size: $px16;
      font-weight: 600;
      letter-spacing: 0.5px;
      cursor: pointer;
      margin-right: $px5;

      &.active {
        background-color: $blue-dark;
        border-color: $blue-dark;
      }

      &.disabled {
        background-color: $blue-light;
        border-color: $blue-light;
      }

      a {
        color: $white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: $px50;
        height: $px50;
        padding: 0 $px20;
      }

      &.next-page {
        background: transparent !important;
        border: 1px solid #cbcfd3;
        border-color: #cbcfd3 !important;
        box-shadow: none !important;
        margin: 0 $px10;

        > a {
          color: #cbcfd3;
        }

        > img {
          width: 7px;
        }

        &:hover {
          background: $blue-light;

          > img {
            filter: brightness(100%);
          }
        }
      }

      &:hover {
        background: $blue-light;
      }
    }
  }
}

.manage-customer-wrap {
  padding: $px10 $px30;
  .food-arrow {
    position: absolute;
    background: rgba(80, 86, 202, 0.7);
    color: #fff;
    padding: 0.8125rem 1.625rem;
    border-radius: 0.25rem;
    right: 0;
    cursor: pointer;
    z-index: 99;
    width: 4.25rem;
    &.disable{
      display: none;
    }
    &.cust-top-arrow {
      top: 70px;
      right: 30px;
    }
    &.cust-bottom-arrow {
      bottom: 0;
      right: 30px;
    }
  }
  .manage-customer-table {
    span svg {
      /*@include responsive(xs) {
        display: none;
      }*/
    }
  }
  tr {
    td {
      padding: 0;
      height: $px60;
    }
  }

  table {
    tr {
      td {
        color: #4b4e53;
        font-size: $px14;
        font-weight: 400;
        letter-spacing: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: $px320;
        max-width: $px125;
        vertical-align: middle;
      }

      th {
        color: #a4a4a4;
        font-size: $px12;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.43px;
      }
    }
  }
}

.manage-customer-table {
  max-height: $px500;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
  &::-webkit-scrollbar{
    width: 0;
  }
}

.holdorders {
  justify-content: flex-end;
}

.receipt-table {
  thead {
    top: 0;
    display: table-caption;
    position: sticky;
    z-index: 1;
    background: #fff;
  }
}

.receipt-table {
  thead {
    th {
      font-weight: bold !important;
    }
  }
}

// media queries
@include responsive(mobile) {
  .food-arrow{
    display: none;
  }
  #manage-customer {
    opacity: 1;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: auto;
    width: 100vw;
    transition: 0.5s ease-out;
    border-left: 1px solid #ddd;

    &.show {
      right: 0;
    }

    .modal-dialog {
      position: absolute;
      top: 0px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      min-height: 100% !important;
      transform: none;
      opacity: 1;
      max-width: none;

      .modal-content {
        display: grid;
        grid-template-rows: max-content 1fr max-content;
        min-height: 100vh;
        overflow: auto;

        .modal-header {
          padding: 10px 20px;
          height: 80px;
          border-bottom: 1px solid $gray-middle;
          background-color: #fff;
        }

        .modal-body {
          padding: 20px 20px;
          margin: 0;
          overflow: auto;
          width: 100vw;

          .search-field {
            height: auto;
            margin: 0;
            border-bottom: 1px solid $gray-middle;
            label {
              margin: 0;
            }
          }

          .manage-customer-table {
            table {
              tr {
                &:last-child {
                }

                th {
                }
              }
            }
          }
        }

        .modal-footer {
          padding: 10px 20px 20px;

          .btn-announce {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            width: 100%;

            button {
              margin: 0;
              padding: 0 10px;
              font-size: 14px;
              margin-left: 10px;
              height: 50px;

              &#cust-new {
                background-color: $green-middle;
              }
            }
          }
        }
      }
    }
  }
}
