@import "../variables.scss";

a:hover {
  text-decoration: none;
}

.modal-body {
  padding: 0;
  border-color: #E3E7F2;
}

button.btn.btn-danger.cancel-announce {
  height: $px50;
  font-size: $px14;
  width: $px125;
  background: #cc3232;
  border-color: #cc3232;
}

button:hover {
  opacity: 0.8;
}

.modal-footer {
  border-top: medium;
}

.order-table {
  max-height: $px185;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
}

div#order-confirmation .modal-dialog {
  width: $px635;
  height: $px590;
  box-shadow: 0 10px 40px rgba(133, 139, 151, 0.16);
  border-radius: $btn-border-radius;
  max-width: $px635;
}

.order-header > h4.order-confirm-title {
  display: block;
  width: 100%;
  text-align: center;
  color: #3f4146;
  font-size: $px24;
  font-weight: 600;
  letter-spacing: 0.86px;
}

.order-header > p {
  color: #3f4146;
  font-size: $px12;
  font-weight: 400;
  letter-spacing: 0.43px;
}

.order-header {
  padding: $px30 0 $px10 0;
  overflow: hidden;
  margin: 0 auto;
}

.order-table table tr > th {
  color: #a4a4a4;
  font-size: $px12;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.43px;
}

.order-table table tr td {
  color: #4b4e53;
  font-size: $px14;
  font-weight: 400;
  letter-spacing: 0.47px;
}

.order-table table {
  width: $px560 !important;
  margin: 0 auto;
}

.order-table table tr td {
  border-color: #efefef !important;
}

.order-table table th {
  border-top: medium none;
}

.order-table table tr:last-child {
  border-bottom: 1px solid #efefef !important;
}

div#total-order-wrap {
  overflow: hidden;
  margin: 0 auto;
}

div#total-order-wrap > div {
  float: left;
}

.order-notes {
  width: 40%;
}

div#total-confirm-order {
  width: 55%;
  margin-left: $px20;
}

div#total-confirm-order > div {
  float: left;
}


.modal-body.order-confirmation-wrap {
  padding: 0 $px35;
}

.order-notes {
  border-radius: $btn-border-radius;
  border: 1px dashed #fdc8a0;
  background-color: #fff7ef;
  padding: $px20;
}

.order-notes > p:last-child {
  color: #cf8235;
  font-size: $px12;
  font-weight: 400;
  line-height: $px20;
  letter-spacing: 0.5px;
  word-break: break-all;
  max-height: $px70;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 0;
  padding-right: $px10;
}

p.notes-title {
  color: #4b4e53;
  font-size: $px12;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.43px;
}

div#total-order-wrap {
  padding: $px25 0;
  border-bottom: 1px solid #efefef;
}

.order-table table tr th:not(:first-child) {
  text-align: right;
}

.order-table table tr td:not(:first-child) {
  text-align: right;
}

.referal button.btn.referal-btn {
  height: $px50;
  border-radius: $btn-border-radius;
  background-color: #4e535d;
  color: #fff;
  padding-left: $px15;
  padding-right: $px25;
}

button.btn.referal-btn {
  background: url(/assets/images/referal-down.png);
  background-position: center right 8px;
  background-repeat: no-repeat;
}

.referal button#schedule-btn {
  padding-left: $px22;
  margin-left: $px10;
  width: $px135;
  height: $px50;
  border-radius: $btn-border-radius;
  border: 1px solid #e4e7eb;
  background-color: #ffffff;
  color: #72777c;
  font-size: $px14;
  font-weight: 400;
  letter-spacing: 0.58px;
  text-align: left;
}

.datepicker--time-row {
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 5px no-repeat !important;
}
.vdatetime {
  display: inline-block;
}
.vdatetime > input {
  background: url(/pos/img/pos/schedule-icon.png);
  background-repeat: no-repeat;
  background-position: center right $px6;
  width: $px185;
  height: $px50;
  border-radius: $btn-border-radius;
  background-color: #ffffff;
  border: solid 1px #e4e7eb;
  padding: $px10;
  margin-left: $px10;
  text-align: left;
}
.customer-group .vdatetime > input.vdatetime-input {
  width: $px315;
  margin-left: 0;
}
div#order-confirmation .modal-footer {
  padding: $px10 $px35 $px35 $px35;
}


button#schedule-btn > span {
  margin-left: 0px;
}

button#confirm_announcement {
  //width: $px110;
  height: $px50;
  box-shadow: 0 2px 2px #d1e6c5;
  border-radius: $btn-border-radius;
  background-color: #5056ca;
  border-color: #5056ca;
  margin-left: $px10;
}

.referal > button > span {
  text-align: right;
  float: right;
}

button.btn.referal-btn.dropdown-toggle {
  -webkit-appearance: none !important;
  -moz-appearance: none;
}

.dropdown-toggle::after {
  display: none;
}

button#schedule-btn:focus {
  box-shadow: none;
}

button {
  cursor: pointer;
}

button#schedule-btn {
  position: relative;
}

button#schedule-btn .datepicker {
  display: none;
}

button#schedule-btn .datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: absolute;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  top: -$px290;
}

button#schedule-btn:hover {
  opacity: 1 !important;
}

button:focus {
  box-shadow: none !important;
}
/***/
