@import '../variables.scss';
#pay-now {
  right: 0;
  bottom: 0;
  left: unset;
  width: $px570;
  margin-top: 0;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  z-index: 1050;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
  display: grid;

  .slick-track {
    display: flex;
    align-items: center;
  }

  .modal-dialog {
    max-width: $px650;
    right: 0;
    margin: 0 !important;
    height: 100%;

    .modal-content {
      border: medium none;
      height: 100%;

      .modal-body {
        padding: $px10 $px30 $px10 $px30;
        .color-dashboard-background {
          height: 100%;
          display: flex;
          flex-direction: column;
        }
        .order-payment {
          margin: 0;
          overflow: hidden;
          margin-bottom: $px20;

          .order-id {
            width: 75%;

            > h2 {
              font-size: $px24;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #3d3f43;
            }

            > p {
              font-size: $px12;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #3d3f43;
            }
          }

          .hide-btn {
            width: 25%;
            text-align: right;

            > button {
              width: $px100;
              height: $px50;
              border-radius: $btn-border-radius;
              background-color: #5056ca;
              box-shadow: 0 2px 2px 0 #d1e6c5;
              color: #fff;
              border: medium;
              cursor: pointer;
              font-size: $px14;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.6px;
              color: #ffffff;
            }

            span {
              position: relative;
              left: $px10;
              top: 2px;

              > i {
                font-size: $px18;
              }
            }
          }

          > div {
            float: left;
          }
        }

        .total-amount {
          overflow: hidden;
          border-radius: $card-border-radius;
          background-color: #eefae7;
          padding: $px20;
          margin: $px10 0;

          .payment-amount-title {
            width: 25%;

            .tip-amopunt {
              font-size: $px14;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #3a3e9f;
            }

            .total-amt {
              font-size: $px16;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #3a3e9f;
            }

            > p {
              margin-bottom: $px10;
            }
          }

          .payment-amount-digit {
            width: 75%;
            text-align: right;

            > p {
              margin-bottom: $px5;
              font-size: $px12;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #3a3e9f;
            }

            > h2 {
              font-size: $px24;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #3a3e9f;
            }
          }

          > div {
            float: left;
            margin: 0 auto;
          }
        }

        .payment-method-title {
          border-bottom: solid 2px #e5e9f3;
          margin-bottom: $px20;
          display: flex;
          justify-content: space-between;
          width: 98%;

          > h2 {
            font-size: $px18;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #3d3f43;
            padding-bottom: $px15;
            justify-self: flex-start;
          }
          > p{
            justify-self: flex-end;
            font-weight: 700;
          }
        }

        .slick-slider {
          width: $px520;

          .slick-slide {
            > div > div {
              width: $px120 !important;
              min-height: $px90;
              border-radius: $btn-border-radius;
              background-color: #ffffff;
              border: solid 1px #dbdfe9;
              padding: 0;
              cursor: pointer;
              display: inline-flex !important;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              img {
                width: $px45;
                height: $px45;
              }
              &.active {
                border: solid 2px #5056ca !important;
              }
            }
          }

          &.active {
            border: solid 2px #5056ca !important;
          }
        }

        .payment-input-block {
          overflow: hidden;
          padding: $px15 0 $px35 0;
          position: relative;

          > input {
            width: $px502;
            height: $px60;
            border-radius: $btn-border-radius;
            border: 2px solid #e5e9ee;
            background-color: #ffffff;
            text-align: right;
            padding: 0 $px10;
            font-size: $px24;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.9px;
            color: #3d3f43;
          }
        }

        .amount-keypad {
          overflow: hidden;
          margin: 0 auto;
          display: grid;
          grid-template-columns: max-content max-content max-content max-content;
          grid-gap: $px10;
          margin-top: auto;

          #add-amt {
            cursor: pointer;
          }

          > div {
            width: $px120;
            height: $px50;
            border-radius: $card-border-radius;
            background-image: linear-gradient(180deg, #eeeeee 0%, #d8d8d8 100%);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $px24;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.08;
            letter-spacing: normal;
            color: #3d3f43;
          }

          > div:nth-child(4),
          .amount-keypad > div:nth-child(8) {
            background-image: linear-gradient(180deg, #5056ca 0%, #2d38aa 100%);
            color: #fff;
          }

          > div:nth-child(12) {
            background-image: linear-gradient(180deg, #cc3232 0%, #bc2525 100%);
            color: #fff;
          }

          > div:nth-child(13) {
            background-image: linear-gradient(180deg, #fac161 0%, #f76b1c 100%);
            color: #fff;
          }
        }

        .payment-breakdown {
          margin: 0 auto;

          .payment-breakdown-title {
            > h1 {
              color: #3d3f43;
              font-size: $px18;
              font-weight: 600;
              border-bottom: 1px solid #e5e9f3;
              padding-bottom: $px20;
            }
          }

          .payment-method-block {
            box-shadow: 0 $px5 $px30 #e0e7f4;
            border-radius: $btn-border-radius;
            background-color: #ffffff;
            margin: $px20 0 $px70 0;

            table {
              td {
                img {
                  cursor: pointer;
                  padding: $px10;
                }
              }

              tr {
                height: $px50;

                th {
                  color: #ffffff;
                  font-size: $px16;
                  font-weight: 700;
                  letter-spacing: 0.57px;
                  padding-left: $px15;
                  padding-right: $px15;

                  &:nth-child(2) {
                    text-align: right;
                  }

                  &:first-child {
                    border-top-left-radius: 4px !important;
                  }

                  &:last-child {
                    border-top-right-radius: 4px !important;
                  }
                }

                td {
                  font-size: $px14;
                  font-weight: bold;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2;
                  letter-spacing: 0.5px;
                  color: #3a3d44;
                  padding-left: $px15;
                  padding-right: $px15;

                  &:nth-child(2) {
                    text-align: right;
                  }

                  &:nth-child(3) {
                    text-align: center;
                  }
                }

                &:first-child {
                  height: $px50;
                  border-radius: $btn-border-radius $btn-border-radius 0 0;
                  background-color: #5056ca;
                  color: #fff;
                }

                &:nth-child(2) {
                  border-bottom: 1px solid #eff1f8;
                }

                &:nth-child(2) {
                  td {
                    font-weight: normal;
                  }
                }
              }
            }
          }
        }

        .payment-screen-footer {
          overflow: hidden;
          padding: $px10 0 $px10 0;
          display: grid;
          grid-template-columns: $px120 $px120 $px120 $px120;
          grid-gap: $px10;
          align-items: center;

          > div {
            float: left;
            height: $px60;
            box-shadow: 0 2px 2px #d1e6c5;
            border-radius: $btn-border-radius;
            background-color: $btn-bg-black;
            padding: $px10 $px30;
            text-align: center;

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              box-shadow: 0 2px 2px #e2deda;
              border-radius: $btn-border-radius;
              background-color: #5056ca;
            }
          }

          .footer-wrap {
            padding: 0 !important;
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-content: center;
            height: $px70;

            &:hover {
              background-color: #5056ca !important;
              cursor: pointer;
            }

            img {
              align-self: end;
              margin: 0 auto;
            }

            span {
              display: block;
              text-align: center;
              font-size: $px12;
              font-weight: 600;
              letter-spacing: 0.5px;
              color: #fff;
            }
          }
        }

        .pay-now-btn-next {
          display: none;
        }
      }
    }
  }
}
// media queries
@include responsive(mobile) {
  .margin220 {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
  }
  .preloader {
    //display: flex;
    //align-items: center;
    //justify-content: center;
  }
  /**/
  .modal,
  #pay-now {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    .modal-dialog {
      min-height: 100vh;

      .modal-content {
        position: absolute;
        top: 0;
        right: 0;
        //bottom: 0;
        left: 0;
        border: none;
        border-radius: 0;

        .modal-body {
          padding: 0;
        }

        .modal-footer {
        }
      }
    }
  }

  #pay-now {
    .modal-dialog {
      .modal-content {
        .modal-body {
          padding: $px10 $px20 $px10 $px20;
          display: flex;
          flex-direction: column;

          > div {
            display: flex;
            flex-direction: column;
          }

          .order-payment {
            margin: 0;

            .order-id {
              width: 65%;
            }

            .hide-btn {
              width: 35%;
              overflow: hidden;

              #hide-paynow {
                width: 100%;
                background-color: $red;
              }
            }
          }

          .total-amount {
            border: 2px dotted $green-middle;
            padding: 10px;
            padding-bottom: 0;

            .payment-amount-title {
              width: 35%;
              color: $green-dark;

              .tip-amopunt {
                color: #333;
                font-weight: 600;
              }

              .total-amt {
                color: $green-middle;
              }
            }

            .payment-amount-digit {
              width: 65%;

              p {
                color: #333;
                font-weight: 600;
              }

              h2 {
                margin: 0;
                font-size: 18px;
                color: $green-middle;
                margin-top: 5px;
              }
            }
          }

          #payment-method {
            .slick-dots {
              display: none !important;
            }
          }

          .payment-method-title {
            border: none;
            margin: 0;

            h2 {
              margin: 0;
            }
          }

          .slick-initialized {
            width: 100%;
            height: calc(100vh - 255px);
            margin: 0;
            display: none;

            &.activePayMethod {
              display: grid;
            }

            .slick-list {
              display: grid;
              width: 100%;
              overflow: auto;

              .slick-track {
                display: flex;
                flex-direction: column;
                width: 100% !important;
                transform: none !important;

                .slick-slide {
                  width: 100% !important;
                  margin-bottom: 10px;

                  div {
                    width: 100% !important;

                    div {
                      display: grid !important;
                      grid-template-columns: max-content min-content 1fr;
                      align-items: center;
                      justify-content: center;
                      min-height: auto;

                      img {
                        margin-right: 10px;
                      }

                      label {
                        width: 100%;
                        padding-right: 10px;
                        text-align: left;
                        margin: 0;
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }

            .slick-dots {
              display: none !important;
            }
          }

          .payment-input-block {
            display: none;
            padding: 0 0 20px 0;

            img {
              top: 13px;
            }

            input {
              width: 100%;
            }

            &.paymentInputActive {
              display: block;
            }
          }

          .amount-keypad {
            display: none !important;
            width: 100%;
            min-width: 100%;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            &.amountKeypadActive {
              display: grid !important;
            }

            > div {
              width: 100% !important;
              height: 40px;
              font-size: 18px;
              border-radius: $btn-border-radius;

              img {
                width: 50%;
              }
            }
          }

          .payment-screen-footer {
            display: none;
          }

          .pay-now-btn-next {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $green-middle;
            color: #fff;
            border-radius: $btn-border-radius;
            margin-top: auto;
            height: $header-btn-height;
          }
        }
      }
    }
  }
}
