@import "../variables.scss";

#select-discount-item {
  .modal-dialog {
    //max-width: $px450;

    .modal-content {
      .modal-header {
      }

      .modal-body {
        .select-discount-option {
          > div {
            text-align: left;
            padding: $px10 $px15;
            margin-bottom: 0;

            > p {
              border-radius: $btn-border-radius;
              background-color: #f99c32;
              display: inline-block;
              padding: $px5 $px10;
              margin-bottom: $px5;
              color: #ffffff;
              font-size: $px14;
              font-weight: 700;
              letter-spacing: 0.5px;
            }

            > span {
              color: #72777c;
              font-size: $px14;
              font-weight: 400;
              letter-spacing: 0.5px;
            }

            &.active {
              border-color: #5056ca;
            }

            &:hover {
              border-color: #5056ca;
            }

            &:nth-child(2n+1) {
              clear: left;
            }
          }

          > div:nth-child(2n) {
            float: right;
          }
        }
      }

      .modal-footer {
        .btn-announce {
          #discount-save {
            width: $px125;
            height: $px40;
            border-radius: $btn-border-radius;
            background-color: #5056ca;
            color: #ffffff;
            font-size: $px12;
            font-weight: 600;
            letter-spacing: 0.5px;
            border-color: #5056ca;
          }
        }
      }
    }
  }
}

@include responsive(mobile) {
  #select-discount-item {
    padding: 0 !important;

    .modal-dialog {
      margin: 0;

      .modal-content {
        .modal-header {
          height: 80px;
          background-color: #fff;
        }
        .modal-body{
          margin: 0;
          .dining-option-block{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5, max-content);
            grid-gap: 0;
            .option-contain{
              margin-right: 10px;
              margin-bottom: 20px;
              &.active{
                border: 2px solid $green-middle;
                &:after{
                  background-color: $green-middle;
                  position: absolute;
                  top: -2px;
                  right: -2px;
                }
              }
              &:nth-child(2n){
                margin-right: 0px;
                margin-left: 10px;
              }
            }
          }
        }
        .modal-footer{
          .btn-announce{
            button{
              height: 50px !important;

            }
          }
        }
      }
    }
  }
}