@import '../variables.scss';
@import '../mixins.scss';

#tip-amount {
  .modal-dialog {
    width: $px400;
    max-width: $px400;

    .modal-content {
      border-radius: $btn-border-radius;

      .modal-body {
        text-align: center;

        .dining-option-block {
          .select-discount-option {
            float: unset;
            overflow: hidden;
            width: 100%;

            > div {
              float: left;
              width: $px160;
              border-radius: $btn-border-radius;
              border: 2px solid #e0e3e6;
              background-color: #ffffff;
            }
          }
        }

        .tip-amount-wrap {
          > p {
            font-size: $px14;
            font-weight: 400;
            letter-spacing: 0.5px;
            padding: $px20 0 0 0;
            text-align: left;
            @include responsive(mobile) {
              font-size: $px20;
            }
          }

          input {
            height: $px50;
            width: 100%;
            border-radius: $btn-border-radius;
            border: medium none;
            margin: 0 auto;
            text-align: center;
            color: $btn-bg-black;
            border: 1px solid $gray-middle;
            margin-top: $px10;
            @include responsive(mobile) {
              font-size: $px20;
            }
          }
        }
      }

      .modal-footer {
        .btn-announce {
          button {
            @include responsive(mobile) {
              font-size: $px20 !important;
            }
          }
          #add-top {
            width: $px110;
            height: $px50;
            border-radius: $btn-border-radius;
            background-color: #5056ca;
            margin-left: $px10;
            border-color: #5056ca;

            > span {
              padding-right: $px10;
            }
          }
        }
      }
    }
  }
}

@include responsive(mobile) {
  #tip-amount {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 100vh;

    .modal-dialog {
      margin: 0;
      width: 100vw;
      max-width: none;
      transform: none !important;
      max-height: 100vh;
      height: 100vh;
      display: grid;

      .modal-content {
        border-radius: 0;
        position: absolute;
        margin-top: auto;

        .modal-body {
          .tip-amount-wrap {
            input {
              text-align: left;
              padding: 0 20px;
            }
          }
        }

        .modal-footer {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          padding: 20px;
        }
      }
    }
  }
}
