#customer .modal-dialog, #manage-customer .modal-dialog {
  max-width: 73.75rem; }
  #customer .modal-dialog .modal-content .modal-header, #manage-customer .modal-dialog .modal-content .modal-header {
    background: #dee2e9;
    padding: 0.9375rem 1.875rem;
    border-bottom-color: #dee2e9; }
    #customer .modal-dialog .modal-content .modal-header .customer-title, #manage-customer .modal-dialog .modal-content .modal-header .customer-title {
      font-size: 1rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;
      color: #3f4146; }
  #customer .modal-dialog .modal-content .modal-body, #manage-customer .modal-dialog .modal-content .modal-body {
    margin-top: 1.5625rem; }
    #customer .modal-dialog .modal-content .modal-body select, #manage-customer .modal-dialog .modal-content .modal-body select {
      font-size: 0.875rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: #3d3f43;
      padding-left: 0.9375rem; }
      #customer .modal-dialog .modal-content .modal-body select.selectpicker, #manage-customer .modal-dialog .modal-content .modal-body select.selectpicker {
        background-image: url("../images/select-arrow.png");
        background-repeat: no-repeat;
        background-position: center right 0.625rem;
        -webkit-appearance: none;
        -moz-appearance: none; }
    #customer .modal-dialog .modal-content .modal-body .dob select:nth-child(2), #manage-customer .modal-dialog .modal-content .modal-body .dob select:nth-child(2) {
      width: 4.6875rem; }
    #customer .modal-dialog .modal-content .modal-body .dob select:nth-child(3), #manage-customer .modal-dialog .modal-content .modal-body .dob select:nth-child(3) {
      width: 7.8125rem;
      margin: 0 4px; }
    #customer .modal-dialog .modal-content .modal-body .dob select:nth-child(4), #manage-customer .modal-dialog .modal-content .modal-body .dob select:nth-child(4) {
      width: 6.25rem; }
    #customer .modal-dialog .modal-content .modal-body .left-form div, #manage-customer .modal-dialog .modal-content .modal-body .left-form div {
      margin-bottom: 1.5625rem;
      position: relative; }
      #customer .modal-dialog .modal-content .modal-body .left-form div input, #manage-customer .modal-dialog .modal-content .modal-body .left-form div input {
        width: 19.6875rem;
        height: 3.125rem;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #e4e7eb;
        padding: 0.625rem; }
      #customer .modal-dialog .modal-content .modal-body .left-form div select, #manage-customer .modal-dialog .modal-content .modal-body .left-form div select {
        width: 19.6875rem;
        height: 3.125rem;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #e4e7eb; }
      #customer .modal-dialog .modal-content .modal-body .left-form div label, #manage-customer .modal-dialog .modal-content .modal-body .left-form div label {
        width: 13.4375rem;
        padding: 0 1.5625rem;
        font-size: 0.875rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #72777c;
        vertical-align: middle; }
    #customer .modal-dialog .modal-content .modal-body .left-form label span, #manage-customer .modal-dialog .modal-content .modal-body .left-form label span {
      color: #f44040;
      font-size: 1.5rem; }
    #customer .modal-dialog .modal-content .modal-body .right-form div, #manage-customer .modal-dialog .modal-content .modal-body .right-form div {
      margin-bottom: 1.5625rem;
      position: relative;
      /*> select.selectpicker{
        width: $px889;
      }*/ }
      #customer .modal-dialog .modal-content .modal-body .right-form div input, #manage-customer .modal-dialog .modal-content .modal-body .right-form div input {
        width: 19.6875rem;
        height: 3.125rem;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #e4e7eb;
        padding: 0.625rem; }
      #customer .modal-dialog .modal-content .modal-body .right-form div select, #manage-customer .modal-dialog .modal-content .modal-body .right-form div select {
        width: 19.6875rem;
        height: 3.125rem;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #e4e7eb; }
      #customer .modal-dialog .modal-content .modal-body .right-form div label, #manage-customer .modal-dialog .modal-content .modal-body .right-form div label {
        width: 13.4375rem;
        padding: 0 1.5625rem;
        font-size: 0.875rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #72777c;
        vertical-align: middle; }
    #customer .modal-dialog .modal-content .modal-body .right-form label span, #manage-customer .modal-dialog .modal-content .modal-body .right-form label span {
      color: #f44040;
      font-size: 1.5rem; }

.divide-block {
  border-top: 1px solid #ddd;
  padding: 1.5625rem 0;
  margin-top: 0; }

.customer-block-info {
  position: absolute;
  margin-top: -2.1875rem;
  left: 2.1875rem;
  overflow: hidden;
  background: #fff;
  z-index: 9;
  padding: 0 15px;
  font-weight: bold;
  text-transform: capitalize; }

/*# sourceMappingURL=customer.css.map */
