#display-order .slick-dots {
  bottom: 0.625rem; }
#display-order .modal-dialog {
  max-width: 75rem; }
  #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap {
    overflow: hidden;
    margin: 0 auto;
    border: solid 2px #e4e7eb;
    margin: 0 0 1.25rem 0;
    border-radius: 5px; }
    #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile {
      overflow: hidden;
      margin: 0 auto;
      float: left;
      width: 70%; }
      #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile #delivery-area-address {
        overflow: hidden;
        padding: 0 1.25rem 1.25rem 1.25rem;
        border-bottom: 2px solid #efefef; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile #delivery-area-address .order-address-details {
          overflow: hidden;
          height: 3.125rem;
          border-radius: 3px;
          background-color: #5056ca;
          box-shadow: none;
          font-size: 1rem;
          font-weight: 600;
          color: #fff;
          display: inline-flex;
          align-items: stretch;
          justify-content: stretch;
          margin: 1.25rem 0;
          float: right; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile #delivery-area-address .order-address-details button {
            background-color: transparent;
            border: none;
            box-shadow: none;
            color: #fff;
            text-align: center;
            padding: 0.625rem 1.5625rem;
            font-weight: 600; }
      #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile p.name-confrimation {
        font-size: 0.75rem !important;
        font-weight: normal !important;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px !important;
        color: #a4a4a4 !important; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile p.name-confrimation > span {
          color: #5056ca;
          cursor: pointer; }
      #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .ullist-profile {
        display: grid;
        grid-template-columns: max-content max-content max-content 1fr;
        grid-gap: 0.625rem;
        border-bottom: 2px solid #efefef;
        padding: 1.25rem; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .ullist-profile li {
          display: grid;
          grid-template-rows: min-content min-content min-content;
          grid-template-columns: max-content; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .ullist-profile li img {
            width: 5.9375rem;
            height: 5.9375rem;
            border-radius: 5px;
            border: solid 1px #e1e1e1; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .ullist-profile li .profile-customer-title {
            font-size: 0.875rem;
            color: #a4a4a4; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .ullist-profile li h2 {
            font-size: 1.375rem;
            font-weight: bold; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .ullist-profile li .name-confrimation {
            align-self: end; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .ullist-profile li a {
            border-radius: 3px;
            font-size: 0.875rem;
            font-weight: 600;
            color: #566177;
            display: flex;
            align-items: center;
            background-color: #e3e9f0;
            display: inline-flex;
            padding: 0.3125rem 0.9375rem; }
            #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .ullist-profile li a.cu-delete-icon {
              background-color: #ffc6c6;
              color: #de3c3c;
              margin-top: 10px; }
            #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .ullist-profile li a span {
              margin-right: 0.625rem; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .ullist-profile li:last-child {
            justify-self: end; }
      #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .location-delivery-area-address {
        max-height: 10.9375rem;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        touch-action: auto;
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        position: relative;
        grid-gap: 1.25rem; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .location-delivery-area-address .order-location {
          padding: 1.25rem 2.5rem 1.25rem 1.25rem;
          text-align: left;
          font-size: 0.875rem;
          cursor: pointer; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .location-delivery-area-address .order-location > p span {
            font-weight: bold; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .location-delivery-area-address .order-location > span {
            border-radius: 5px;
            background-color: #e3e9f0;
            display: inline-block;
            width: 1.875rem;
            height: 1.875rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            float: left; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .location-delivery-area-address .order-location .cu-location-select {
            display: flex;
            align-items: center;
            margin: 0.625rem 0 0 0; }
            #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .location-delivery-area-address .order-location .cu-location-select span {
              display: inline-block;
              width: 1.875rem;
              height: 1.875rem;
              border-radius: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #E3E9F0;
              margin-right: 0.3125rem;
              cursor: pointer; }
      #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .cu-loyality-points {
        overflow: hidden;
        margin: 0 auto;
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: center;
        grid-gap: 1.25rem;
        padding: 1.25rem; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .cu-loyality-points .cu-loyality-points-title > p {
          font-size: 0.875rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #a4a4a4;
          vertical-align: baseline;
          padding: 0.9375rem 0;
          display: flex;
          align-items: center; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .cu-loyality-points .cu-loyality-points-title > p > span {
            height: 2.1875rem;
            border-radius: 5px;
            background-color: #fff5da;
            display: inline-block;
            padding: 0.3125rem 0.625rem;
            font-size: 0.875rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            color: #ffc10e;
            vertical-align: baseline;
            margin-left: 1.5625rem;
            display: flex;
            align-items: center; }
            #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .cu-loyality-points .cu-loyality-points-title > p > span > svg {
              vertical-align: middle;
              margin-right: 0.625rem; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap #order-profile .cu-loyality-points .btn-right-neworder {
          display: flex;
          align-items: center;
          justify-content: flex-end; }
    #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight {
      float: left;
      width: 30%;
      padding: 1.25rem;
      border-left: 2px solid #efefef; }
      #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .title-cu {
        padding: 0 0.625rem 0.625rem 0.625rem; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .title-cu > h2 {
          font-size: 0.875rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #a4a4a4; }
      #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .last-order-wrap {
        border-radius: 5px;
        background-color: #f2f7fb;
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        align-items: center;
        max-height: 10rem; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .last-order-wrap .slick-track {
          display: flex;
          align-items: center;
          padding: 0.625rem 0; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .last-order-wrap .insight-last-order {
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .last-order-wrap h3 {
          font-size: 0.875rem;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #566177;
          text-align: center; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .last-order-wrap > img {
          margin: 1.25rem;
          cursor: pointer; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .last-order-wrap .last-order-time {
          font-size: 0.75rem;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: #b3bdd1;
          text-align: center; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .last-order-wrap .last-order-details {
          font-size: 0.875rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #566177;
          text-align: center; }
      #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .dob-customer-insight {
        border-bottom: 1px solid #efefef;
        margin-bottom: 0.625rem; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .dob-customer-insight .ullist-dob {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          align-items: center;
          margin-bottom: 0.625rem; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .dob-customer-insight .ullist-dob > li {
            display: inline-block;
            font-size: 0.875rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: 0.6px;
            color: #a4a4a4;
            margin: 0 auto; }
            #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .dob-customer-insight .ullist-dob > li:first-child {
              margin-left: auto; }
            #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .dob-customer-insight .ullist-dob > li:last-child {
              margin-right: auto; }
            #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .dob-customer-insight .ullist-dob > li > span {
              display: block;
              font-weight: bold;
              line-height: 2.29;
              color: #3a3d44;
              font-size: 0.875rem;
              letter-spacing: 0.6px; }
      #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insights-notes {
        overflow: hidden;
        margin: 0 auto; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insights-notes > div:last-child {
          float: right; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insights-notes > div > p {
          font-size: 0.875rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.29;
          letter-spacing: 0.6px;
          color: #3a3d44;
          margin-bottom: 0; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insights-notes > div > p:first-child {
            font-weight: normal;
            line-height: 1.57;
            color: #a4a4a4; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insights-notes > div > a {
          font-size: 0.75rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.83;
          letter-spacing: 0.6px;
          color: #5056ca; }
      #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insight-feedback {
        overflow: hidden;
        padding: 0.625rem 0; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insight-feedback > p {
          font-size: 0.875rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #a4a4a4;
          margin-bottom: 0.3125rem; }
        #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insight-feedback .ullist-feedback {
          text-align: left;
          padding-left: 0 !important;
          margin-left: 0; }
          #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insight-feedback .ullist-feedback li {
            display: inline-block;
            padding-left: 0.625rem; }
            #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insight-feedback .ullist-feedback li:nth-child(1) {
              padding-left: 0 !important; }
            #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insight-feedback .ullist-feedback li:hover .color-smile {
              z-index: 1; }
            #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insight-feedback .ullist-feedback li a {
              position: relative; }
              #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insight-feedback .ullist-feedback li a .color-smile {
                position: absolute;
                z-index: -1;
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center; }
            #display-order .modal-dialog .modal-content .modal-body .crm-details-wrap .customer-insight .customer-insight-feedback .ullist-feedback li.active .color-smile {
              z-index: 1; }
  #display-order .modal-dialog .modal-content .modal-footer {
    padding-top: 0; }

/**********************************/
.cu-delivery-area-location {
  border-radius: 3px;
  border: solid 2px #e4e7eb;
  position: relative;
  padding: 0.625rem;
  text-align: left;
  cursor: pointer; }
  .cu-delivery-area-location span {
    font-weight: 600; }
  .cu-delivery-area-location > p {
    width: 100%;
    margin-bottom: 0.625rem; }
  .cu-delivery-area-location.active {
    border: solid 2px #5056ca; }
    .cu-delivery-area-location.active:after {
      width: 1.5625rem;
      height: 1.5625rem;
      border-radius: 3px;
      border: solid 2px #e4e7eb;
      content: '';
      position: absolute;
      right: 0.625rem;
      top: 0.625rem;
      color: #333; }

.order-location.option-contain.cu-delivery-area-location.active:after {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 3px;
  border: solid 2px #e4e7eb;
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0.625rem;
  top: 0.625rem;
  background-color: #767DFF;
  color: #3A3E9F; }

td.show-details-his > span {
  border-radius: 5px;
  background-color: #cef2d4;
  display: inline-block;
  padding: 0.625rem 0.625rem;
  letter-spacing: 0.6px;
  color: #30ac45;
  font-size: 0.875rem; }
  td.show-details-his > span > svg {
    margin-right: 0.625rem; }

div#display-order .manage-customer-table {
  max-height: 10.625rem;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: auto; }

.pagination-customer-details > ul > li.order-pagination.active {
  background: #5056ca;
  border-color: #5056ca;
  color: #fff; }

.pagination-customer-details > ul > li.order-pagination {
  background: #fff;
  color: #94969b;
  border: solid 1px #cbcfd3; }

div#display-order .past-order {
  font-size: 1.375rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3d3f43; }

div#display-order {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  touch-action: auto; }

.ullist-business-slider {
  text-align: center;
  display: flex;
  align-items: center; }
  .ullist-business-slider > li {
    display: inline-block;
    font-size: 0.625rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #566177;
    text-align: left;
    width: 7.8125rem;
    padding: 0 0.625rem;
    white-space: normal; }
    .ullist-business-slider > li > span {
      display: block;
      font-size: 1.25rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.8px;
      color: #566177; }
    .ullist-business-slider > li:first-child {
      border-right: 1px solid #e9e9e9; }

.total-amount-business-slider {
  width: 10.9375rem;
  margin: 0 auto;
  text-align: center; }
  .total-amount-business-slider > p {
    font-size: 0.625rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #566177;
    margin-bottom: 5px; }
  .total-amount-business-slider > h3 {
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #566177; }

ul.fav-item-slider {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center; }
  ul.fav-item-slider > li {
    display: inline-block;
    vertical-align: middle; }
    ul.fav-item-slider > li img {
      margin: 0 auto; }

ul.fav-item-slider {
  padding-left: 0;
  margin: 0 auto;
  text-align: center; }

ul.fav-item-slider > li:last-child {
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #566177;
  margin-top: 0.625rem; }

ul.fav-item-slider {
  padding: 1.25rem 0; }

ul.fav-item-slider > li > img {
  border: 1px solid #e1e1e1;
  border-radius: 5px; }

.amount-keypad > div:hover {
  opacity: 0.8;
  cursor: pointer; }

.br-table-btn, .deactive-table-btn {
  display: none; }

tr.referal-code-customer {
  cursor: pointer; }
  tr.referal-code-customer.active {
    background-color: #f3f7ff; }
    tr.referal-code-customer.active td > button {
      display: inline-block; }
    tr.referal-code-customer.active td > span {
      display: none; }

button#schedule-btn {
  position: relative; }

button#schedule-btn:hover {
  opacity: 1 !important; }

.modal-body.alert-wrap {
  padding: 0.625rem 1.875rem; }

button.qtyminus.value-qty:focus {
  box-shadow: none; }

div#select-discount-item .dining-option-block.select-discount-option > div {
  min-height: 5.625rem; }

.container-radio-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.container-radio-btn input:checked ~ .checkmark-radio-btn {
  background-color: #5056CA;
  border-color: #5056CA; }

.checkmark-radio-btn:after {
  content: '';
  position: absolute;
  display: none; }

.container-radio-btn input:checked ~ .checkmark-radio-btn:after {
  display: block; }

.container-radio-btn .checkmark-radio-btn:after {
  top: 3px;
  left: 3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white; }

.container-radio-btn {
  color: #333;
  font-weight: normal;
  letter-spacing: 0.43px; }

label.container-radio-btn span {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.6px;
  line-height: 1.3; }

label.container-radio-btn img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3125rem;
  width: 2.1875rem;
  height: 2.1875rem; }

button:focus {
  box-shadow: none !important; }

.order-address-details button#cu-add-address {
  margin-right: 0.625rem; }

.add-to-order-wrapper {
  max-height: 13.4375rem;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: auto; }

.add-to-order-wrapper > div:nth-child(2n) {
  margin-right: 0.625rem; }

button#gift-card-btn {
  width: 6.5625rem; }

.gift-card-details-wrap > div.gift-card-detail {
  width: 47.5%;
  float: left;
  margin-bottom: 1.25rem;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e0e3e6;
  padding: 0.3125rem 0.625rem;
  min-height: 4.6875rem; }

.gift-card-details-wrap {
  padding: 1.875rem 1.875rem 0 1.875rem; }

.gift-card-details-wrap > div.gift-card-detail:nth-child(2n) {
  margin-left: 1.25rem; }

.gift-card-detail > p {
  line-height: 1.71;
  letter-spacing: 0.5px;
  color: #72777c;
  font-size: 0.875rem;
  padding-bottom: 0;
  margin-bottom: 0; }

.gift-card-detail > h4 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 0; }

.select-reason > select {
  width: 100%;
  height: 3.125rem;
  border-radius: 3px;
  background: #fff;
  padding: 0 0.9375rem;
  border: 1px solid #e4e7eb;
  background-image: url(../images/select-arrow.png);
  background-repeat: no-repeat;
  background-position: center right 0.625rem;
  -webkit-appearance: none; }

.select-reason > input {
  width: 100%;
  height: 3.125rem;
  border-radius: 3px;
  background: #fff;
  padding: 0 0.9375rem;
  box-shadow: none;
  border: 1px solid #e4e7eb; }

.select-reason {
  margin-bottom: 0.625rem; }

p.itm-price {
  font-size: 0.75rem;
  color: #3a3d44;
  margin-bottom: 0; }

/**************************/
.wrappers-orders > div {
  float: left; }

.wrappers-orders {
  overflow: hidden;
  clear: both;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e3e7f2;
  margin-bottom: 0.625rem;
  padding: 1.25rem;
  margin: 0 0.625rem 0.625rem; }

.wrappers-orders > .orders-name > span {
  cursor: pointer; }

.wrappers-orders .dlt-btn {
  width: 4%;
  text-align: center;
  cursor: pointer; }

.wrappers-orders .aed-amt {
  width: 24%; }

.wrappers-orders .orders-name {
  width: 72%; }

.wrappers-orders .orders-name > p:nth-child(1) {
  color: red;
  font-size: 0.875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3d3f43;
  margin-bottom: 0.3rem; }

.wrappers-orders .orders-name > p:nth-child(2) {
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #858990; }

.wrappers-orders .aed-amt > span {
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3d3f43; }

.dlt-btn > img {
  vertical-align: top; }

.wrappers-orders .aed-amt > span {
  vertical-align: top; }

/*# sourceMappingURL=displayOrder.css.map */
