a:hover {
  text-decoration: none; }

.modal-body {
  padding: 0;
  border-color: #E3E7F2; }

button.btn.btn-danger.cancel-announce {
  height: 3.125rem;
  font-size: 0.875rem;
  width: 7.8125rem;
  background: #cc3232;
  border-color: #cc3232; }

button:hover {
  opacity: 0.8; }

.modal-footer {
  border-top: medium; }

.order-table {
  max-height: 11.5625rem;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: auto; }

div#order-confirmation .modal-dialog {
  width: 39.6875rem;
  height: 36.875rem;
  box-shadow: 0 10px 40px rgba(133, 139, 151, 0.16);
  border-radius: 3px;
  background-color: #ffffff;
  max-width: 39.6875rem; }

.order-header > h4.order-confirm-title {
  display: block;
  width: 100%;
  text-align: center;
  color: #3f4146;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.86px; }

.order-header > p {
  color: #3f4146;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.43px; }

.order-header {
  padding: 1.875rem 0 0.625rem 0;
  overflow: hidden;
  margin: 0 auto; }

.order-table table tr > th {
  color: #a4a4a4;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.43px; }

.order-table table tr td {
  color: #4b4e53;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.47px; }

.order-table table {
  width: 35rem !important;
  margin: 0 auto; }

.order-table table tr td {
  border-color: #efefef !important; }

.order-table table th {
  border-top: medium none; }

.order-table table tr:last-child {
  border-bottom: 1px solid #efefef !important; }

div#total-order-wrap {
  overflow: hidden;
  margin: 0 auto; }

div#total-order-wrap > div {
  float: left; }

.order-notes {
  width: 40%; }

div#total-confirm-order {
  width: 55%;
  margin-left: 1.25rem; }

div#total-confirm-order > div {
  float: left; }

.modal-body.order-confirmation-wrap {
  padding: 0 2.1875rem; }

.order-notes {
  border-radius: 3px;
  border: 1px dashed #fdc8a0;
  background-color: #fff7ef;
  padding: 1.25rem; }

.order-notes > p:last-child {
  color: #cf8235;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.5px;
  word-break: break-all;
  max-height: 4.375rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 0;
  padding-right: 0.625rem; }

p.notes-title {
  color: #4b4e53;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.43px; }

div#total-order-wrap {
  padding: 1.5625rem 0;
  border-bottom: 1px solid #efefef; }

.order-table table tr th:not(:first-child) {
  text-align: right; }

.order-table table tr td:not(:first-child) {
  text-align: right; }

.referal button.btn.referal-btn {
  height: 3.125rem;
  border-radius: 3px;
  background-color: #4e535d;
  color: #fff;
  padding-left: 0.9375rem;
  padding-right: 1.5625rem; }

button.btn.referal-btn {
  background: url(../images/referal-down.png);
  background-position: center right 8px;
  background-repeat: no-repeat; }

.referal button#schedule-btn {
  padding-left: 1.375rem;
  margin-left: 0.625rem;
  width: 8.4375rem;
  height: 3.125rem;
  border-radius: 3px;
  border: 1px solid #e4e7eb;
  background-color: #ffffff;
  color: #72777c;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.58px;
  text-align: left; }

.datepicker--time-row {
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 5px no-repeat !important; }

.vdatetime {
  display: inline-block; }

.vdatetime > input {
  background: url(/img/pos/schedule-icon.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  width: 19.6875rem;
  height: 3.125rem;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e4e7eb;
  padding: 0.625rem; }

.right-shift input.vdatetime-input.btn.schedule-input.btn-large.datepicker-here {
  width: 18.3125rem; }

div#order-confirmation .modal-footer {
  padding: 0.625rem 2.1875rem 2.1875rem 2.1875rem; }

button#schedule-btn > span {
  margin-left: 0px; }

button#confirm_announcement {
  width: 6.875rem;
  height: 3.125rem;
  box-shadow: 0 2px 2px #d1e6c5;
  border-radius: 3px;
  background-color: #5056ca;
  border-color: #5056ca;
  margin-left: 0.625rem; }

.referal > button > span {
  text-align: right;
  float: right; }

button.btn.referal-btn.dropdown-toggle {
  -webkit-appearance: none !important;
  -moz-appearance: none; }

.dropdown-toggle::after {
  display: none; }

button#schedule-btn:focus {
  box-shadow: none; }

button {
  cursor: pointer; }

button#schedule-btn {
  position: relative; }

button#schedule-btn .datepicker {
  display: none; }

button#schedule-btn .datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: absolute;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  top: -18.125rem; }

button#schedule-btn:hover {
  opacity: 1 !important; }

button:focus {
  box-shadow: none !important; }

/***/

/*# sourceMappingURL=orderConfirmation.css.map */
