#pay-now {
  right: 0;
  left: unset;
  width: 35.625rem;
  margin-top: 0;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  z-index: 1050;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  touch-action: auto; }
  #pay-now .slick-track {
    display: flex;
    align-items: center; }
  #pay-now .modal-dialog {
    max-width: 40.625rem;
    right: 0;
    margin: 0 !important; }
    #pay-now .modal-dialog .modal-content {
      border: medium none; }
      #pay-now .modal-dialog .modal-content .modal-body {
        padding: 1.875rem; }
        #pay-now .modal-dialog .modal-content .modal-body .order-payment {
          margin: 0 auto;
          overflow: hidden;
          margin-bottom: 1.25rem; }
          #pay-now .modal-dialog .modal-content .modal-body .order-payment .order-id {
            width: 75%; }
            #pay-now .modal-dialog .modal-content .modal-body .order-payment .order-id > h2 {
              font-size: 1.5rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #3d3f43; }
            #pay-now .modal-dialog .modal-content .modal-body .order-payment .order-id > p {
              font-size: 0.75rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #3d3f43; }
          #pay-now .modal-dialog .modal-content .modal-body .order-payment .hide-btn {
            width: 25%;
            text-align: right; }
            #pay-now .modal-dialog .modal-content .modal-body .order-payment .hide-btn > button {
              width: 6.25rem;
              height: 3.125rem;
              border-radius: 3px;
              background-color: #5056ca;
              box-shadow: 0 2px 2px 0 #d1e6c5;
              color: #fff;
              border: medium;
              cursor: pointer;
              font-size: 0.875rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.6px;
              color: #ffffff; }
            #pay-now .modal-dialog .modal-content .modal-body .order-payment .hide-btn span {
              position: relative;
              left: 0.625rem;
              top: 2px; }
              #pay-now .modal-dialog .modal-content .modal-body .order-payment .hide-btn span > i {
                font-size: 1.125rem; }
          #pay-now .modal-dialog .modal-content .modal-body .order-payment > div {
            float: left; }
        #pay-now .modal-dialog .modal-content .modal-body .total-amount {
          overflow: hidden;
          border-radius: 5px;
          background-color: #eefae7;
          padding: 1.25rem;
          margin: 0.625rem 0; }
          #pay-now .modal-dialog .modal-content .modal-body .total-amount .payment-amount-title {
            width: 25%; }
            #pay-now .modal-dialog .modal-content .modal-body .total-amount .payment-amount-title .tip-amopunt {
              font-size: 0.875rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #3A3E9F; }
            #pay-now .modal-dialog .modal-content .modal-body .total-amount .payment-amount-title .total-amt {
              font-size: 1rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #3A3E9F; }
            #pay-now .modal-dialog .modal-content .modal-body .total-amount .payment-amount-title > p {
              margin-bottom: 0.625rem; }
          #pay-now .modal-dialog .modal-content .modal-body .total-amount .payment-amount-digit {
            width: 75%;
            text-align: right; }
            #pay-now .modal-dialog .modal-content .modal-body .total-amount .payment-amount-digit > p {
              margin-bottom: 0.3125rem;
              font-size: 0.75rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #3A3E9F; }
            #pay-now .modal-dialog .modal-content .modal-body .total-amount .payment-amount-digit > h2 {
              font-size: 1.5rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #3A3E9F; }
          #pay-now .modal-dialog .modal-content .modal-body .total-amount > div {
            float: left;
            margin: 0 auto; }
        #pay-now .modal-dialog .modal-content .modal-body .payment-method-title {
          border-bottom: solid 2px #e5e9f3;
          margin-bottom: 1.25rem; }
          #pay-now .modal-dialog .modal-content .modal-body .payment-method-title > h2 {
            font-size: 1.125rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #3d3f43;
            padding-bottom: 0.9375rem; }
        #pay-now .modal-dialog .modal-content .modal-body .slick-slider {
          width: 32.5rem; }
          #pay-now .modal-dialog .modal-content .modal-body .slick-slider .slick-slide > div > div {
            width: 7.5rem !important;
            min-height: 6.25rem;
            border-radius: 3px;
            background-color: #ffffff;
            border: solid 1px #dbdfe9;
            padding: 0;
            cursor: pointer;
            display: inline-flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center; }
            #pay-now .modal-dialog .modal-content .modal-body .slick-slider .slick-slide > div > div.active {
              border: solid 2px #5056ca !important; }
          #pay-now .modal-dialog .modal-content .modal-body .slick-slider.active {
            border: solid 2px #5056ca !important; }
        #pay-now .modal-dialog .modal-content .modal-body .payment-input-block {
          overflow: hidden;
          padding: 0.9375rem 0 2.1875rem 0;
          position: relative; }
          #pay-now .modal-dialog .modal-content .modal-body .payment-input-block > input {
            width: 31.375rem;
            height: 3.75rem;
            border-radius: 3px;
            border: 2px solid #e5e9ee;
            background-color: #ffffff;
            text-align: right;
            padding: 0 0.625rem;
            font-size: 1.5rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.9px;
            color: #3d3f43; }
        #pay-now .modal-dialog .modal-content .modal-body .amount-keypad {
          overflow: hidden;
          margin: 0 auto;
          display: grid;
          grid-template-columns: max-content max-content max-content max-content;
          grid-gap: 0.625rem; }
          #pay-now .modal-dialog .modal-content .modal-body .amount-keypad #add-amt {
            cursor: pointer; }
          #pay-now .modal-dialog .modal-content .modal-body .amount-keypad > div {
            width: 7.5rem;
            height: 4.0625rem;
            border-radius: 5px;
            background-image: linear-gradient(180deg, #eeeeee 0%, #d8d8d8 100%);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.08;
            letter-spacing: normal;
            color: #3d3f43; }
          #pay-now .modal-dialog .modal-content .modal-body .amount-keypad > div:nth-child(4), #pay-now .modal-dialog .modal-content .modal-body .amount-keypad .amount-keypad > div:nth-child(8) {
            background-image: linear-gradient(180deg, #5056ca 0%, #2d38aa 100%);
            color: #fff; }
          #pay-now .modal-dialog .modal-content .modal-body .amount-keypad > div:nth-child(12) {
            background-image: linear-gradient(180deg, #cc3232 0%, #bc2525 100%); }
          #pay-now .modal-dialog .modal-content .modal-body .amount-keypad > div:nth-child(13) {
            background-image: linear-gradient(180deg, #fac161 0%, #f76b1c 100%);
            color: #fff; }
        #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown {
          margin: 0 auto; }
          #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-breakdown-title > h1 {
            color: #3d3f43;
            font-size: 1.125rem;
            font-weight: 600;
            border-bottom: 1px solid #e5e9f3;
            padding-bottom: 1.25rem; }
          #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-method-block {
            box-shadow: 0 0.3125rem 1.875rem #e0e7f4;
            border-radius: 3px;
            background-color: #ffffff;
            margin: 1.25rem 0 4.375rem 0; }
            #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-method-block table td img {
              cursor: pointer;
              padding: 0.625rem; }
            #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-method-block table tr {
              height: 3.125rem; }
              #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-method-block table tr th {
                color: #ffffff;
                font-size: 1rem;
                font-weight: 700;
                letter-spacing: 0.57px;
                padding-left: 0.9375rem;
                padding-right: 0.9375rem; }
                #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-method-block table tr th:nth-child(2) {
                  text-align: right; }
                #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-method-block table tr th:first-child {
                  border-top-left-radius: 4px !important; }
                #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-method-block table tr th:last-child {
                  border-top-right-radius: 4px !important; }
              #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-method-block table tr td {
                font-size: 0.875rem;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: 0.5px;
                color: #3a3d44;
                padding-left: 0.9375rem;
                padding-right: 0.9375rem; }
                #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-method-block table tr td:nth-child(2) {
                  text-align: right; }
                #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-method-block table tr td:nth-child(3) {
                  text-align: center; }
              #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-method-block table tr:first-child {
                height: 3.125rem;
                border-radius: 3px 3px 0 0;
                background-color: #5056ca;
                color: #fff; }
              #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-method-block table tr:nth-child(2) {
                border-bottom: 1px solid #eff1f8; }
              #pay-now .modal-dialog .modal-content .modal-body .payment-breakdown .payment-method-block table tr:nth-child(2) td {
                font-weight: normal; }
        #pay-now .modal-dialog .modal-content .modal-body .payment-screen-footer {
          overflow: hidden;
          padding: 1.25rem 0 1.25rem 0;
          display: grid;
          grid-template-columns: 7.5rem 7.5rem 7.5rem 7.5rem;
          grid-gap: 0.625rem;
          align-items: center; }
          #pay-now .modal-dialog .modal-content .modal-body .payment-screen-footer > div {
            float: left;
            height: 3.75rem;
            box-shadow: 0 2px 2px #d1e6c5;
            border-radius: 3px;
            background-color: #4B4E53;
            padding: 0.625rem 1.875rem;
            text-align: center; }
            #pay-now .modal-dialog .modal-content .modal-body .payment-screen-footer > div:first-child {
              margin-left: 0; }
            #pay-now .modal-dialog .modal-content .modal-body .payment-screen-footer > div:last-child {
              box-shadow: 0 2px 2px #e2deda;
              border-radius: 3px;
              background-color: #5056ca; }
          #pay-now .modal-dialog .modal-content .modal-body .payment-screen-footer .footer-wrap {
            padding: 0 !important;
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-content: center;
            height: 4.375rem; }
            #pay-now .modal-dialog .modal-content .modal-body .payment-screen-footer .footer-wrap:hover {
              background-color: #5056ca !important;
              cursor: pointer; }
            #pay-now .modal-dialog .modal-content .modal-body .payment-screen-footer .footer-wrap img {
              align-self: end;
              margin: 0 auto; }
            #pay-now .modal-dialog .modal-content .modal-body .payment-screen-footer .footer-wrap span {
              display: block;
              text-align: center;
              font-size: 0.75rem;
              font-weight: 600;
              letter-spacing: 0.5px;
              color: #fff; }
        #pay-now .modal-dialog .modal-content .modal-body .pay-now-btn-next {
          display: none; }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .margin220 {
    display: grid;
    grid-template-rows: max-content 1fr max-content; }

  /**/
  .modal, #pay-now {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0; }
    .modal .modal-dialog, #pay-now .modal-dialog {
      min-height: 100vh; }
      .modal .modal-dialog .modal-content, #pay-now .modal-dialog .modal-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: none;
        border-radius: 0; }
        .modal .modal-dialog .modal-content .modal-body, #pay-now .modal-dialog .modal-content .modal-body {
          padding: 0; }

  #pay-now .modal-dialog .modal-content .modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column; }
    #pay-now .modal-dialog .modal-content .modal-body > div {
      display: flex;
      flex-direction: column; }
    #pay-now .modal-dialog .modal-content .modal-body .order-payment {
      margin: 0; }
      #pay-now .modal-dialog .modal-content .modal-body .order-payment .order-id {
        width: 65%; }
      #pay-now .modal-dialog .modal-content .modal-body .order-payment .hide-btn {
        width: 35%;
        overflow: hidden; }
        #pay-now .modal-dialog .modal-content .modal-body .order-payment .hide-btn #hide-paynow {
          width: 100%;
          background-color: #CC3232; }
    #pay-now .modal-dialog .modal-content .modal-body .total-amount {
      border: 2px dotted #64C434;
      padding: 10px;
      padding-bottom: 0; }
      #pay-now .modal-dialog .modal-content .modal-body .total-amount .payment-amount-title {
        width: 35%;
        color: #42891B; }
        #pay-now .modal-dialog .modal-content .modal-body .total-amount .payment-amount-title .tip-amopunt {
          color: #333;
          font-weight: 600; }
        #pay-now .modal-dialog .modal-content .modal-body .total-amount .payment-amount-title .total-amt {
          color: #64C434; }
      #pay-now .modal-dialog .modal-content .modal-body .total-amount .payment-amount-digit {
        width: 65%; }
        #pay-now .modal-dialog .modal-content .modal-body .total-amount .payment-amount-digit p {
          color: #333;
          font-weight: 600; }
        #pay-now .modal-dialog .modal-content .modal-body .total-amount .payment-amount-digit h2 {
          margin: 0;
          font-size: 18px;
          color: #64C434;
          margin-top: 5px; }
    #pay-now .modal-dialog .modal-content .modal-body #payment-method .slick-dots {
      display: none !important; }
    #pay-now .modal-dialog .modal-content .modal-body .payment-method-title {
      border: none;
      margin: 0; }
      #pay-now .modal-dialog .modal-content .modal-body .payment-method-title h2 {
        margin: 0; }
    #pay-now .modal-dialog .modal-content .modal-body .slick-initialized {
      width: 100%;
      height: calc(100vh - 255px);
      margin: 0;
      display: none; }
      #pay-now .modal-dialog .modal-content .modal-body .slick-initialized.activePayMethod {
        display: grid; }
      #pay-now .modal-dialog .modal-content .modal-body .slick-initialized .slick-list {
        display: grid;
        width: 100%;
        overflow: auto; }
        #pay-now .modal-dialog .modal-content .modal-body .slick-initialized .slick-list .slick-track {
          display: flex;
          flex-direction: column;
          width: 100% !important;
          transform: none !important; }
          #pay-now .modal-dialog .modal-content .modal-body .slick-initialized .slick-list .slick-track .slick-slide {
            width: 100% !important;
            margin-bottom: 10px; }
            #pay-now .modal-dialog .modal-content .modal-body .slick-initialized .slick-list .slick-track .slick-slide div {
              width: 100% !important; }
              #pay-now .modal-dialog .modal-content .modal-body .slick-initialized .slick-list .slick-track .slick-slide div div {
                display: grid !important;
                grid-template-columns: max-content min-content 1fr;
                align-items: center;
                justify-content: center;
                min-height: auto; }
                #pay-now .modal-dialog .modal-content .modal-body .slick-initialized .slick-list .slick-track .slick-slide div div img {
                  margin-right: 10px; }
                #pay-now .modal-dialog .modal-content .modal-body .slick-initialized .slick-list .slick-track .slick-slide div div label {
                  width: 100%;
                  padding-right: 10px;
                  text-align: left;
                  margin: 0;
                  font-size: 12px; }
      #pay-now .modal-dialog .modal-content .modal-body .slick-initialized .slick-dots {
        display: none !important; }
    #pay-now .modal-dialog .modal-content .modal-body .payment-input-block {
      display: none;
      padding: 0 0 20px 0; }
      #pay-now .modal-dialog .modal-content .modal-body .payment-input-block img {
        top: 13px; }
      #pay-now .modal-dialog .modal-content .modal-body .payment-input-block input {
        width: 100%; }
      #pay-now .modal-dialog .modal-content .modal-body .payment-input-block.paymentInputActive {
        display: block; }
    #pay-now .modal-dialog .modal-content .modal-body .amount-keypad {
      display: none !important;
      width: 100%;
      min-width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr; }
      #pay-now .modal-dialog .modal-content .modal-body .amount-keypad.amountKeypadActive {
        display: grid !important; }
      #pay-now .modal-dialog .modal-content .modal-body .amount-keypad > div {
        width: 100% !important;
        height: 40px;
        font-size: 18px;
        border-radius: 3px; }
        #pay-now .modal-dialog .modal-content .modal-body .amount-keypad > div img {
          width: 50%; }
    #pay-now .modal-dialog .modal-content .modal-body .payment-screen-footer {
      display: none; }
    #pay-now .modal-dialog .modal-content .modal-body .pay-now-btn-next {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #64C434;
      color: #fff;
      border-radius: 3px;
      margin-top: auto;
      height: 3.125rem; } }

/*# sourceMappingURL=payNow.css.map */
