#select-discount-item .modal-dialog .modal-content .modal-body .select-discount-option > div {
  text-align: left;
  padding: 0.625rem 0.9375rem;
  margin-bottom: 0; }
  #select-discount-item .modal-dialog .modal-content .modal-body .select-discount-option > div > p {
    border-radius: 3px;
    background-color: #f99c32;
    display: inline-block;
    padding: 0.3125rem 0.625rem;
    margin-bottom: 0.3125rem;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.5px; }
  #select-discount-item .modal-dialog .modal-content .modal-body .select-discount-option > div > span {
    color: #72777c;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.5px; }
  #select-discount-item .modal-dialog .modal-content .modal-body .select-discount-option > div.active {
    border-color: #5056ca; }
  #select-discount-item .modal-dialog .modal-content .modal-body .select-discount-option > div:hover {
    border-color: #5056ca; }
  #select-discount-item .modal-dialog .modal-content .modal-body .select-discount-option > div:nth-child(2n+1) {
    clear: left; }
#select-discount-item .modal-dialog .modal-content .modal-body .select-discount-option > div:nth-child(2n) {
  float: right; }
#select-discount-item .modal-dialog .modal-content .modal-footer .btn-announce #discount-save {
  width: 7.8125rem;
  height: 2.5rem;
  border-radius: 3px;
  background-color: #5056ca;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-color: #5056ca; }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  #select-discount-item {
    padding: 0 !important; }
    #select-discount-item .modal-dialog {
      margin: 0; }
      #select-discount-item .modal-dialog .modal-content .modal-header {
        height: 80px;
        background-color: #fff; }
      #select-discount-item .modal-dialog .modal-content .modal-body {
        margin: 0; }
        #select-discount-item .modal-dialog .modal-content .modal-body .dining-option-block {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: repeat(5, max-content);
          grid-gap: 0; }
          #select-discount-item .modal-dialog .modal-content .modal-body .dining-option-block .option-contain {
            margin-right: 10px;
            margin-bottom: 20px; }
            #select-discount-item .modal-dialog .modal-content .modal-body .dining-option-block .option-contain.active {
              border: 2px solid #64C434; }
              #select-discount-item .modal-dialog .modal-content .modal-body .dining-option-block .option-contain.active:after {
                background-color: #64C434;
                position: absolute;
                top: 0;
                right: 0;
                border-top-right-radius: 0; }
            #select-discount-item .modal-dialog .modal-content .modal-body .dining-option-block .option-contain:nth-child(2n) {
              margin-right: 0px;
              margin-left: 10px; } }

/*# sourceMappingURL=selectDiscountItem.css.map */
