@import '../pixels_rem.scss';
@import '../variables.scss';
@import '../mixins.scss';

@include responsive(mobile) {
  .new-pos {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;


    .header {
      grid-row-start: 1;
      grid-row-end: 2;

      .header-main {
        grid-template-columns: 1fr;
        padding: 0 $px20;

        .header-main-left {
          display: none;
        }

        .header-main-right {
          justify-content: space-between;

          .user-name, .online, ul {
            display: none;
          }

          .nav-icon {
            background-color: $btn-bg-black;
            width: $px40;
            height: $px40;

            a {
              svg {
                width: $px20;
                height: $px20;
              }
            }
          }

          .curent-sale {
            .curent-sale-title {
              font-weight: 600;
              font-size: $px18;
            }

            .curent-sale-item {
              display: flex;
              align-items: center;

              .text {

              }

              .num {
                background-color: $green-middle;
                color: #fff;
                width: $px25;
                height: $px25;
                border-radius: $btn-border-radius;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: $px10;
                font-size: $px14;
              }
            }
          }

          .setting-dropdown {
            width: 95% !important;
            height: 100vh !important;
            top: 0;
            right: -18px;
            animation: none !important;
            transition: none !important;
            transform: none;
            opacity: 1 !important;
            padding: 20px !important;
          }
        }
      }
    }

    .main {
      grid-template-columns: 1fr;
      position: relative;
      overflow: hidden;
      grid-row-start: 2;
      grid-row-end: 3;

      .main-news {
        display: none;
      }

      .main-body {
        padding: 0;
        border: none;
        grid-template-rows: max-content;
        height: auto;

        .search-field {
          margin-top: 0;
          border-radius: 0;
          border: none;
          border-bottom: 1px solid $gray-middle;
          grid-template-columns: $px60 1fr 1fr;
          padding: $px5 0;
          align-items: stretch;

          .allCategory {
            border-right: 1px solid $gray-middle;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            transition: 0.3s ease-out;

            &.notActive {
              display: none;
            }

            &.active {
              color: $green-middle;
            }

            .fa {
              margin-left: $px10;
              font-weight: 600;
              font-size: $px18;
              transition: 0.3s ease-out;

              &.active {
                transform: rotate(180deg);
              }
            }
          }

          .subCategory {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            transition: 0.3s ease-out;

            &.notActive {
              display: none;
            }

            &.active {
              color: $green-middle;
            }

            .fa {
              margin-left: $px10;
              font-weight: 600;
              font-size: $px18;
              transition: 0.3s ease-out;

              &.active {
                transform: rotate(180deg);
              }
            }
          }

          .search-field-input {
            display: none;
            height: auto;
            grid-column-start: 2;
            grid-column-end: 4;

            &.active {
              display: block;
            }
          }
        }

        .food-wrapper {
          grid-template-columns: 1fr;
          grid-gap: 0;
          height: auto;
          overflow: auto;
          position: relative;
          grid-template-rows: min-content;
          position: relative;

          &.active {
            .food-categories-wrapper {
              top: 0;
            }
          }

          &.notActive {
            .food-categories-wrapper {
              top: -100%;
            }
          }

          .food-block {
            height: 100%;
            grid-template-rows: 1fr;
            padding: 0;
            border-left: none;

            .breadcrumbs {
              display: none;
            }
          }
        }
      }
    }

    .footer {
      height: 75px;
      grid-template-columns: 1fr;

      .footer-slider {
        display: none;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        right: 0;
        bottom: 75px;
        left: 0;
        padding: 0;

        &.footerSliderActive {
          display: grid;

          .footer-slider-list {

          }
        }

        .footer-slider-list {
          display: grid;
          grid-template-columns: 1fr;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          .slick-list {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 0;

            .slick-track {
              width: 100% !important;
              position: absolute;
              top: 70px;
              right: 0;
              bottom: 0px;
              left: 0;
              display: grid;
              overflow: auto;
              background-color: #fff;

              .slick-slide {
                width: auto !important;
                margin: 0;
                height: 50px;
                border-bottom: 1px solid $gray-middle;
                display: grid;
                align-items: center;

                > div {
                  width: 100%;

                  li {
                    width: 100%;
                    background-color: #fff;
                    justify-content: stretch;
                    padding: 0 20px;
                    height: auto;

                    a {
                      color: #333;
                      display: block;
                      text-align: left;
                      font-size: 14px;
                      font-weight: 600;

                      svg {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }

          img {
            display: none !important;
          }
        }
      }

      .footer-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $px20;
        background-color: #fff;

        .footer-button-menu {
          display: none;
          background-color: $btn-bg-black;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: $px25;
          line-height: $px20;
          border-radius: $btn-border-radius;
          width: $header-btn-height;
          height: $header-btn-height;

          &.active {
            display: flex;
          }
        }

        .button {
          padding: 0 $px20;
          display: none;
          margin-right: 0;
          margin-left: $px20;
          background-color: $green-middle;
          flex-grow: 1;
          height: $header-btn-height;

          &.active {
            display: grid;
          }
        }

        .button-cart {
          height: $header-btn-height;
          background-color: $green-middle;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: $btn-border-radius;
          display: none;
          flex-grow: 1;

          &.active {
            display: flex;
          }

          .fa {
            margin-right: $px10;
          }
        }
      }
    }
  }
}

