/*Dine-in changes*/
div#reservation-orders-show .rinning-order-title {padding:  45px;}
.dinein-footer-icon > button > span {
 display:  inline-block;
 vertical-align:  middle;
 line-height:  normal;
 margin-right: 10px;
}
.dinein-footer-icon > button {line-height:  normal;}
.dinein-footer-icon {padding: 20px;}
.dinein-footer-icon > button#dine-pay {width:  131px; text-align: left;}
.floor-section-wrap {overflow:  hidden; padding-right: 8px;}
.floor-section-wrap .floor-section {float:  left; width: 75%;}
.floor-section-wrap .search-dine-table { float: right; width:  25%;}
.search-dine-table input {border: medium none !important;}
.dinein nav#mainNav{border-bottom: medium none;}
.search-dine-table form.form-inline.search-inline{margin: 15px 0;}
.sitting-tbl.round-sitting-tbl {border-radius: 50%;}
.sitting-tbl.round-sitting-tbl span.availble-seat{top: 25px; left: 5px;}
/*for table round*/
.round-six-chairs span.dine-right-top-img {    position: absolute;  right: 0; transform: rotate(-15deg); top: 30px;}
.round-six-chairs span.dine-left-top-img {position: absolute; left: 0; transform: rotate(13deg); top: 30px;}
.round-six-chairs span.dine-right-img {right: 25px; top: 100px; transform: rotate(50deg);}
.round-six-chairs span.dine-left-img {left: 25px; top: 100px; transform: rotate(-50deg);}
div.sitting-tbl-large.full, div.sitting-tbl-large.medium {width:  373px;}
.ten-chairs span.dine-top-full-img {position:  absolute; left: 32%; top: -3px;}
.ten-chairs span.dine-top-left-full-img {position:  absolute; right: 32%; top: -3px;}
.ten-chairs span.dine-bottom-right-full-img {position:  absolute; bottom: -5px; right: 32%;}
.ten-chairs span.dine-bottom-full-img {position:  absolute; bottom: -5px; left: 32%;}
.sitting-image.dine-large.ten-chairs.sevn span.dine-top-img {left: 25%;}
.sitting-image.dine-large.ten-chairs.sevn span.dine-top-full-img {left: 45%;}
.sitting-image.dine-large.ten-chairs.sevn span.dine-top-left-img {right: 25%;}
li#circle-table-shape .sitting-image.round-sitting-image {display:  none;}
/*End table round*/

#dining-option .modal-footer{border-top: medium none; margin-bottom: 20px; }
.option-contain.active:after {
 content: " ";
 /* background-image: url(../../../../public/img/icons/dine-right.png); */
 position: absolute;
 height: 25px;
 width: 25px;
 background-repeat: no-repeat;
 top: 10px;
 right: 10px;
 border-radius: 4px;
 background-color: #dfffcd;
 background-position: center center;
 border-color: #dfffcd !important;
}

/*End Dining option*/

.dm-walk-dine > button > span {
 margin-right:  10px;
}

.dm-walk-dine {
 /*width:  100%;*/
 margin:  0 auto;
 text-align:  center;
 float:  right;
}

.dm-walk-dine {
 /* width:  100%; */
 margin:  0 auto;
 text-align:  center;
 float:  right;
 position:  absolute;
 top: 0;
 right: 0;
 /* left:  unset; */
}


@media only screen and (max-width: 479px){
 span.dine-select-discount{font-size: 10px; margin-left: 3px;}
 #dine-in-wrapper ul.ullist-dinein-table > li{font-size: 10.5px;}
}
@media only screen and (max-width: 991px) {

 #dine-in-wrapper .total-amount-wrapper {bottom:30px;}
 
 #dine-in-wrapper .unavailable-tbl-dropdown {z-index:9;}
 
 #dine-in-wrapper .running-orders-dinein#running-orders-show {padding:20px 10px;}
 
 #dine-in-wrapper .orders-panel {max-width:100% !important; z-index:999;}
 
 .dine-in-tabel-wrapper {padding-bottom:40px; cursor:auto;}
 
 .header-dinein button.popup-btn-save {padding:5px !important; font-size:12px !important;}
 
 div#dine-table-popup .all-tables-wrap > button {width:200px; margin:10px 0;}
 
 div#dine-table-popup .all-tables-wrap {float:unset; margin:0 auto; text-align:center;}
 
 .sitting-dine-wrap > div {margin:15px 3px auto 3px !important;}
 
 #dine-in-wrapper .dine-in-tabel-wrapper, #dine-in-wrapper, #page-top.bg-dark.dinein {overflow:auto; -webkit-overflow-scrolling:touch;
  touch-action:auto;}
 
 ul.ullist-floor > li {margin-left:20px !important;}
 
 #dine-in-wrapper ul.ullist-dinein-table > li {margin-left:10px;}
 
 ul.ullist-floor > li:first-child {margin-left:0 !important;}
 
 #page-top.bg-dark.dinein {background:#fff !important;}
 
 .navbar-nav-sidebar.header-dinein {margin-left:0; padding:10px;}
 
 .dinein nav#mainNav {border-bottom:medium none;}
 
 .navbar-nav-sidebar.header-dinein > div {float:left; width:50%;}
 
 .dinein .content-wrapper#dine-in-wrapper {margin-top:75px;}
 
 .dm-screen-wrap.dine-in-screen .wrap-hambtn {padding:20px;}
 
 .dinein nav#mainNav {padding:0;}
 
 .header-dinein .all-tables-wrap {display:none;}
 
 div#ham-btn, #left-fixed-menu {display:block;}
 
 div#navbarResponsive.collapse {display:block;}
 
 .dm-walk-dine > button {width:95px; height:55px;}
 
 .dm-manager nav#mainNav {padding:0;}
 
 .dm-screen-wrap .dm-walk-dine {position:static;}
 
 .dm-screen-wrap .dm-title {padding:15px;}
 
 .dm-screen-wrap .dm-title > h2 {font-size:30px;}
 
 div#dm-content-wrapper {padding:15px;}
 
 div#ham-btn {float:left; padding:15px;}
 
 .left-btn-wrap > .dm-btn:nth-child(2) {margin:20px 0;}
 
 .left-btn-wrap > .dm-btn {width:195px;}
 
 .dm-btn-wrap > .right-btn-wrap {margin-top:40px; float:none;}
 
 .hamburger {
  position:absolute;
  top:8px;
  left:70px;
  line-height:18px;
  padding:14px 10px;
  color:#fff;
  border:0;
  font-size:30px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  background:#50a721;
  border-radius:4px;
 }
}
 
 @media only screen and (min-width: 992px){
  small.delivered-hide > img{display: none;}
  .dm-screen-wrap.dine-in-screen{display: none;}
  div#dp-content-wrapper {padding-left:  40px;padding-right:  40px;}
  body#page-top.dispatch-screen .content-wrapper{padding-bottom: 70px; }
  body#page-top.dispatch-screen .dm-screen-wrap .dm-title{padding-left: 70px;}
  body#page-top.dispatch-screen .inner-content-dm{width: 100%; padding: 0 25px;}
  div.service-manager-overlay#dp-content-wrapper {margin-top:  0 !important;}
  li.nav-item.dp-dropbtn > a.active ~ ul.dp-dropdown-content {display: block !important;}
  body#page-top.dispatch-screen #mainNav.fixed-top .delivery-manager-st .navbar-sidenav {
   height:  150vh !important;
  }
  body#page-top.dm-manager.bg-dark{overflow: hidden !important;}
  .dm-ready-order-wrapper-future {
   height: calc(100vh - 200px);
   overflow-x:  hidden;
   overflow-y:  auto;
   -webkit-overflow-scrolling: touch;
   touch-action: auto;
  }
  .dm-ready-order-wrapper {
   height: calc(100vh - 230px);
   overflow-x:  hidden;
   overflow-y:  auto !important;
   -webkit-overflow-scrolling: touch;
   touch-action: auto;
  }
 }


/*Dine in page*/
.change-dine-in-location > button > span {
 display:  inline-block;
 vertical-align:  middle;
 margin-right: 5px;
}
.content-wrapper#dine-in-wrapper{margin-top: 30px;}
ul.ullist-floor > li {display:  inline-block; margin-left: 35px; padding-bottom: 10px;}
ul.ullist-floor {padding-left: 0;}
ul.ullist-floor > li > a {letter-spacing: 0.5px; color: #72747b; font-size:  14px;}
ul.ullist-floor > li.active > a {color: #3d3f43; font-weight:  bold;}
.floor-section {margin:  20px auto 0 auto; overflow:  hidden; max-width:100%;}
ul.ullist-floor > li.active {border-bottom: 2px solid #62bb31;}
ul.ullist-dinein-table > li {display:  inline-block; margin-left:  35px; letter-spacing: 0.5px; color: #8c949e; font-size: 14px;}
ul.ullist-dinein-table {padding-left:  0;}
li#unavailable-seat > span {
 background-color:  #c84c4c;
 display:  inline-block;
 border-radius:  4px;
 padding: 5px 8px;
}

ul.ullist-dinein-table > li > span {
 font-size: 14px;
 font-weight: 600;
 color:  #fff;
 margin-right:  5px;
 line-height: 13px;
}

li#available-seat > span {
 background-color: #62bb31;
 display: inline-block;
 border-radius: 4px;
 padding: 5px 8px;
}

li#available-soon-seat > span {
 background-color: #faa03c;
 display: inline-block;
 border-radius: 4px;
 padding: 5px 8px;
}
.dinein-table-control > .dinein-seat-available {float:  left;}
.dinein-table-control > .zoom-wrap-dinein {float:  right; margin-right: 35px;    position: relative; z-index: 999;}
.dine-in-tabel-wrapper {overflow:  hidden; margin:  0 auto; width:  100%; max-width:  100%; height: 100vh;
 background:  #f8fbff;
 position:  absolute;
 width:  100%;
 left:  0;
 right:  0;
 margin:  0 auto;
 cursor: move;
}
.inner-dinein-table {padding-top: 20px; border-top: solid 2px #e3e7f2;}
.round-dinein-circle {position: relative; width: 85px; height: 85px; box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.19); background-color: #ffffff; border: solid 1px #d8dce1; border-radius:  50%;}
.zoom-wrap-dinein > div {display:  inline-block; vertical-align: middle;}
.sub-inner-round {
 width: 27px;
 height: 27px;
 border: solid 1px #d8dce1;
 border-radius:  50%;
 margin:  0 auto;
 display:  inline-block;
 position:  absolute;
 left: 0;
 right:  0;
 top: 7px;
}

.inner-round {
 width: 44px;
 height: 44px;
 border: solid 1px #d8dce1;
 border-radius:  50%;
 text-align:  center;
 margin:  0 auto;
 display:  inline-block;
 position:  absolute;
 top: 19px;
 left: 2px;
 right:  0;
}
span#dine-top {
 position:  absolute;
 left:  0;
 right:  0;
 top: -4px;
 margin:  0 auto;
 text-align:  center;
}

span#dine-left {
 position: absolute;
 top: 33px;
 left: 9px;
}

span#dine-right {
 position:  absolute;
 right: 6px;
 top: 32px;
}

span#dine-bottom {
 position:  absolute;
 bottom: 0;
 left:  0;
 right:  0;
 text-align:  center;
}
.round-dinein-circle > span{cursor: pointer;}
.zoom-wrap-dinein .POSItemOptions_quantity_inputs {
 box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.19);
 background-color: #ffffff;
 border: solid 1px #d8dce1;
 width:  154px;
 margin-right: 20px;
}
div#sitting-dinein-table {
 overflow:  hidden;
 margin:  0 auto;
 max-width:  100%;
 width:  100%;
 text-align: center;
 position: relative;
}

.sitting-dine-wrap {
 margin:  0 auto;
}

div.sitting-tbl {
 /*width: 105px;
 height: 105px;
 object-fit: contain;
  transform: rotate(-45deg);
 border-radius: 12px;
 background-color: #ffffff;
 border: solid 1px #d4dae5;*/
}

.sitting-dine-wrap > div {
 display: inline-block;
 margin-left: 100px;
}
span.availble_soon-seat {
 background:  #faa03c;
 width: 15px;
 height: 15px;
 display:  inline-block;
 border-radius: 5px;
 margin-left: 5px;
 top: 5px;
 position: absolute;
 left: 0;
}
span.availble-seat {
 background:  #62bb31;
 width: 15px;
 height: 15px;
 display:  inline-block;
 border-radius: 5px;
 margin-left: 5px;
 top: 5px;
 position: absolute;
 left: 0;
}
span.unavailble-seat {
 background:  #c84c4c;
 width: 15px;
 height: 15px;
 display:  inline-block;
 border-radius: 5px;
 margin-left: 5px;
 top: 5px;
 position: absolute;
 left: 0;
}
.sitting-image {position:  relative; padding: 20px; cursor: pointer;}

span.dine-top-img {
 position:  absolute;
 left:  0;
 right:  0;
 text-align:  center;
 display:  inline-block;
 top: -3px;
}

span.dine-left-img {
 position:  absolute;
 left:  0;
 top: 45px;
 display:  inline-block;
}

span.dine-right-img {
 display:  inline-block;
 position:  absolute;
 right:  0;
 top: 45px;
}

span.dine-bottom-img {
 display:  inline-block;
 position:  absolute;
 bottom: -5px;
 text-align:  center;
 left:  0;
 right:  0;
}
.sitting-tbl-large, .sitting-tbl-long {
 width: 191px;
 height: 105px;
 border-radius: 12px;
 background-color: #ffffff;
 border: solid 1px #d4dae5;
}
.sitting-tbl-long {height: 191px; width: 105px;}
div#sitting-dinein-table > .sitting-dine-wrap {margin-bottom: 40px;}
div.sitting-tbl,div.sitting-tbl-large,div.sitting-tbl-long{  letter-spacing: 1.1px; color: #a2aec4; font-size: 30px; position: relative;}
span.tbl-number {
 position:  absolute;
 left:  0;
 right:  0;
 text-align:  center;
 top: 25%;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 70px;
 letter-spacing: 1.1px;
 color: #a2aec4;
 font-size: 30px;
}
span.dine-select-discount {
 letter-spacing: 0.5px;
 color: #ffffff !important;
 background:  #62bb31;
 padding:  5px;
 border-radius: 4px;
 margin-left: 10px;
}
div.sitting-tbl-long span.tbl-number{top: 40%;}
.sitting-dine-wrap > div:first-child {margin-left: 35px;}
span.dine-left_side-img, span.dine-right_side-img {position:  absolute; right:  0; top: 68%;}
span.dine-left_side-img {left: 0; right: unset;}
span.dine-bottom-right-img {position:  absolute; bottom: -5px; right: 40px;}
span.dine-top-left-img {position:  absolute; top: -3px; right: 40px;}
.sitting-image.dine-large span.dine-bottom-img {bottom: -5px; left: 40px; right:  unset;}
.sitting-image.dine-large span.dine-top-img {right:  unset; left: 40px;}
/*End Dine In page*/

/*Draggable*/
[draggable] {
 -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 user-select: none;
}

.dine-in-tabel-wrapper[draggable=true] {cursor: move;}
.dine-in-tabel-wrapper[draggable=true]:hover {border: dashed 1px rgb(27, 161, 226);}

.moving {
 opacity: 0.25;
 border: dashed 1px red;
 -webkit-transform: scale(0.8);
 -moz-transform: scale(0.8);
 -ms-transform: scale(0.8);
 -o-transform: scale(0.8);
}

/*End*/


#dine-in-wrapper .orders-panel {height: calc(100vh - 175px); max-width: 33.5%;}
#dine-in-wrapper{overflow: hidden;}
#dine-in-wrapper .left-container{margin-right: 0;}
div#dine-in-wrapper.full-dinein .left-container {
 max-width:  100%;
 width:  100%;
 flex:  0 0 100%;
}
#dine-in-wrapper .orders-panel{position: relative; right: -5006px;}
/*Dining section*/
span#no-view-img, span#sea-view-img, span#green-view-img, span#city-view-img{display: none;}
span#no-view-img.editable-view, span#sea-view-img.editable-view, span#green-view-img.editable-view, span#city-view-img.editable-view{display: inline-block;}

nav#left-side-section {
 overflow:  hidden;
 position:  fixed;
 left:  80px;
 width:  225px;
 height:  100vh;
 top: 0;
 background:#f2f7fb;
 border-right: 2px solid #e3e7f2;
}
.dining-section .dm-screen-wrap .dm-title{padding-left: 0;}
.dining-section .content-wrapper{margin-left: 305px;}
.dining-section nav#mainNav {width: calc(100% - 305px);}
#exampleAccordion-dine span.nav-link-text{letter-spacing: 0.5px; color: #72747b; font-size: 14px; display: inline-block; vertical-align: top; line-height: 20px;
 margin-left: 15px; }
ul#exampleAccordion-dine > li {padding: 5px 20px; margin: 0 10px; border-left: 3px solid #f2f7fb;}
ul#exampleAccordion-dine {margin-top: 24px;}
ul#exampleAccordion-dine > li:first-child {margin-bottom: 15px; text-align:  center; position:  relative; margin: 0 30px; border-radius: 4px; border: solid 1px #3f8618; padding: 0;}
ul#exampleAccordion-dine > li:first-child a.nav-link {letter-spacing: 0.4px; color: #3f8618; font-size:  12px; font-weight: bold;}
ul#exampleAccordion-dine > li:first-child a.nav-link span {position: absolute;     left: 10px; font-size: 18px; top: 3px; font-weight: 100;}
ul#exampleAccordion-dine > li:hover, ul#exampleAccordion-dine > li.active{background: #fff; border-color: #62bb31; }
ul#exampleAccordion-dine li.nav-item.active svg path, ul#exampleAccordion-dine li.nav-item:hover svg path {fill: #3f8618;}
p#setup-location {letter-spacing: 1.9px; color: #9e9e9e; font-size: 12px; font-weight:  bold;}
.dining-section nav#mainNav{height: 150px; border-bottom: medium none; padding: 10px 30px;}
.dining-section .content-wrapper#dine-in-wrapper {margin-top: 90px;}
.dining-section .dm-title{padding-top: 0;}
ul.ullist-setup-location > li {display:  inline-block;}
ul.ullist-setup-location > li > a {color: #9e9e9e; font-size:  14px;}
ul.ullist-setup-location > li span {padding: 0 10px;}
ul.ullist-setup-location, ul.ullist-dining-area {padding-left: 0;}
.setup-location-section {overflow:  hidden; margin:  0 auto;}
ul.ullist-setup-location > li.active a, ul.ullist-dining-area > li.active > a {color: #3d3f43; font-weight:  bold;}
ul.ullist-dining-area > li {display:  inline-block; margin-left: 30px;}
ul.ullist-dining-area > li > a {letter-spacing: 0.5px;color: #72747b; font-size:  14px;}
ul.ullist-dining-area > li:first-child {margin-left:  0;}
li#add-dining-area {width: 107px; border-radius: 4px; background-color: #62bb31; box-shadow: 0 2px 2px 0 #d1e6c5; text-align:  center; padding:  10px; letter-spacing: 0.6px;
 color: #ffffff;
}
li#add-dining-area > a { color:  #fff;}
ul.ullist-dining-area {border-bottom: 2px solid #e5e9f3; padding-bottom: 12px;}
ul.ullist-selected-area {
 padding-left:  0;
}
ul.ullist-selected-area > li {display: inline-block;}
li#selected-area-title {letter-spacing: 0.9px; color: #3d3f43; font-size: 24px;}
ul.ullist-selected-area > li:nth-child(2) span, ul.ullist-selected-area > li:nth-child(3) span {
 text-align: center;
 border-radius: 6px;
 background-color: #e3e9f0;
 display: inline-block;
 width: 30px;
 height:  30px;
 display: flex;
 align-items:  center;
 justify-content:  center;
}
ul.ullist-selected-area > li:nth-child(2) {margin-left: 20px;margin-right: 8px;}
ul.ullist-selected-area > li:nth-child(3) span{background-color: #ffc6c6;}
.choose-table-dining {
 overflow:  hidden;
 margin:  0 auto;
 border-radius: 8px;
 background-color: #ffffff;
 border: solid 1px #e5e9f3;
 padding: 8px 15px;
}

.choose-table-dining > div {
 /*float: left;*/
 width:  49%;
 display: inline-block;
 vertical-align: middle;
}

ul.ullist-table-shape {
 padding-left: 0;
 margin-bottom: 0;
}

ul.ullist-table-shape > li  span {
 display: block;
 letter-spacing: 0.4px;
 color: #72747b;
 font-size:  12px;
}

ul.ullist-table-shape > li {
 display:  inline-block;
}

li#circle-table-shape {
 width: 75px;
 height: 75px;
 /*  border-radius: 27.5px;
   background-color: #f0f4fc;
   border: dotted 1px #c6cad1;*/
 display: inline-flex;
 align-items:  center;
 justify-content:  center;
 vertical-align:  middle;
 margin-left: 20px;
}

li#circle-table-shape > a {
 vertical-align:  middle;
 line-height: 10px;
}

li#square-table-shape {
 width: 75px;
 height: 75px;
 /*  border-radius: 8px;
   background-color: #f0f4fc;
   border: dotted 1px #c6cad1;*/
 display: inline-flex;
 align-items: center;
 justify-content: center;
 vertical-align: middle;
 margin: 0 15px;
}

li#long-table-shape {
 width: 100px;
 height: 55px;
 /*  border-radius: 8px;
   background-color: #f0f4fc;
   border: dotted 1px #c6cad1;*/
 display: inline-flex;
 align-items: center;
 justify-content: center;
 vertical-align: middle;
}
ul.ullist-table-shape > li > a {line-height:  10px;}
ul.ullist-table-shape > li > a {
 letter-spacing: 0.5px;
 color: #72747b;
 font-size:  14px;
}
li#sea-view,li#green-view, li#city-view, li#no-view {
 width: 40px;
 height: 40px;
 border-radius: 8px;
 background-color: #30a3ff;
 cursor: pointer;
}
li#green-view{background-color: #62bb31;}
li#city-view{background-color: #484848;}
li#no-view{background-color: #c0ccd6;}
ul.ullist-table-shape.color-shapdine > li {margin: 0 5px;}
.dining-section div#dine-in-wrapper {padding: 0 20px; overflow: hidden;}
.dining-section .inner-dinein-table {
 padding-top: 20px;
 border-top: medium none;
 padding: 125px 90px 80px 90px;
 margin-top: 30px;
 /*width: 1200px;*/
 margin: 0 auto;
}
.dining-section .dine-in-tabel-wrapper{background-color: #fff; margin-top: 30px;
 position: unset; height: unset; overflow: hidden; padding-bottom: 50px;}
.dining-section .inner-dinein-table > span {position:  absolute;}
span#no-view-img {top: 0;  text-align:  center; margin:  0 auto; }
span#sea-view-img {left:  0;}
span#green-view-img {right:  0;}
span#city-view-img { bottom: 0;  text-align: center;  margin: 0 auto;}
.dining-section .inner-dinein-table{position: relative;}
span.view-txt {position:  absolute; left:  0; color: #fff;  letter-spacing: 0.5px; color: #ffffff; font-size: 14px; font-weight: bold;}
/*span#no-view-img {*/
/*background:  #c0ccd6;*/
/*width: 900px;*/
/*height: 70px;*/
/*position: absolute;*/
/*top: 25px;*/
/*border-radius:  8px;*/
/*}*/
span#no-view-img > span {left:  40px; top: 24px;}
span#sea-view-img > span {transform:  rotate(-90deg); bottom: 50px;}
span#green-view-img > span {transform: rotate(90deg); top: 50px; width: 100%; width: 80px;}
span#city-view-img > span { left: 70px; text-align: center; top: 28px;}
.dining-section  div.sitting-tbl, .dining-section  div.sitting-tbl-large, .dining-section  div.sitting-tbl-long {
 /*    background-color: rgba(240, 244, 252, 0.48);*/
}
.sitting-image.active{border: 1px dashed #808daa; border-radius: 50%;}
.dining-section span.availble_soon-seat, .dining-section span.availble-seat,.dining-section span.unavailble-seat {display: none;}
body#page-top.dining-section{}
.dining-section div.sitting-tbl.active:before {
 /*  content: " ";
   border: 1px dashed #808daa;
   height: 160px;
   width: 160px;
   border-radius: 50%;
   position: absolute;
   left: -29px;
   right: 0;
   margin: 0 auto;
   top: -30px;*/
}
.dining-section div.sitting-tbl.active span.tbl-number, .dining-section div.sitting-tbl-large.active span.tbl-number,
.dining-section div.sitting-tbl-long.active span.tbl-number{display: none;}
.dining-section div.sitting-tbl.active ul.dining-edit-tbl, .dining-section div.sitting-tbl-large.active ul.dining-edit-tbl,
.dining-section div.sitting-tbl-long.active ul.dining-edit-tbl {
 display: block;
 position: absolute;
 top: 15%;
 left: 0;
 text-align: center;
 right: 0;
 margin: 0 auto;
}
.dining-section .left-container{max-width: 100% !important;}
ul.dining-edit-tbl > li {    background: #808daa;
 color: #fff;
 font-size: 12px;
 width: 28px;
 height: 28px;
 border-radius: 50%;
 vertical-align: middle;
 line-height: 29px;
 display: inline-flex;
 align-items: center;
 justify-content: center;}
ul.dining-edit-tbl > li:hover, ul.dining-edit-tbl > li.active{background: #52A0EB;}
ul.dining-edit-tbl {padding-left: 0; padding: 25px 0; display: none;}
.sitting-dine-wrap > div{vertical-align: top;}
ul.dining-edit-tbl > li.active:first-child ul.edit-tbl-nmbr {display: block;}
ul.dining-edit-tbl > li  .tbl-nbr-select, ul.dining-edit-tbl > li .chair-nbr-select {border-radius: 4px; background-color: #4e535d; width: 64px; height: 40px; color:  #fff;     border: medium none;
 border-radius: 4px; margin-left: 10px;}
ul.edit-tbl-nmbr > li {letter-spacing: 0.4px; color: #ffffff; font-size:  12px;}
ul.edit-tbl-nmbr{min-width: 163px; top: 80px; left: 0;}
ul.dp-dropdown-content.edit-tbl-nmbr:before{
 left: 17px;
 top: -14px;
 transform: rotate(90deg);
}
.dining-section div#sitting-dinein-table{padding-top: 30px;}
.sitting-tbl-large.active:before {
 content: " ";
 border: 1px dashed #808daa;
 height: 230px;
 width: 230px;
 border-radius: 50%;
 position: absolute;
 left: -21px;
 right: 0;
 margin: 0 auto;
 top: -60px;
}
.sitting-tbl-long.active:before {
 content: " ";
 border: 1px dashed #808daa;
 height: 240px;
 width: 220px;
 border-radius: 50%;
 position: absolute;
 left: -60px;
 right: 0;
 margin: 0 auto;
 top: -25px;
}
div.sitting-tbl-long ul.dining-edit-tbl {
 padding: 65px 0;
}
.dining-section .contain-body-class {
 height: calc(100vh - 50px);
 overflow-y: auto;
 -webkit-overflow-scrolling: touch;
 touch-action: auto;
}
.dining-views-wrapper{position: relative;}
span.editable-view {
 border: 1px dashed #808daa;
 padding:  20px;
 border-radius: 8px;
}
span.zoom-view{display: none;}
span.editable-view span.zoom-view{display: block; position: relative; text-align: center; bottom: 350px !important; left: 5px;}
.ui-rotatable-handle.ui-draggable-dragging {visibility:  hidden;}
.clear {clear:both;}
#long-table-shape .sitting-image.dine-large{display: none;}
#square-table-shape .sitting-image.dine-square{display: none;}
li.ui-draggable.ui-draggable-handle.inside-drop-zone > a {
 display:  none;
 list-style-type:  none;
 text-decoration: none;
 overflow:  hidden;
}

li.ui-draggable.ui-draggable-handle.inside-drop-zone {
 list-style-type:  none;
}
body#page-top.dining-section {background:  #fff !important;}
li.nav-item.logo-wrap > a:hover span {color: #fff;}
li.nav-item.logo-wrap > a:hover{color: #fff !important;}
ul#exampleAccordion-dine > li:hover a span, ul#exampleAccordion-dine > li.active a span{color: #3f8618 !important;}
ul.dining-edit-tbl > li .tbl-nbr-select, ul.dining-edit-tbl > li .chair-nbr-select {
 -webkit-appearance:  none;
 -moz-appearance: none;
 /*background-image: url(img/icons/referal-down.png);*/
 background-repeat:  no-repeat;
 background-position: center right 10px;
 padding-left: 10px;
}
.sitting-tbl-long ul.edit-tbl-nmbr{top: 115px;}
.sitting-tbl-large ul.edit-tbl-nmbr{left: 20px;}
.sitting-image .ui-rotatable-handle{background: none;}
/*Images view*/


/*End Images view*/
/*End Dining section*/
Span.editable-view .ui-rotatable-handle {
 /* background-image: url("https://d3jjfdwi6rnqlf.cloudfront.net/img/icons/resize-arrow.png"); */
 background-repeat: no-repeat;
 background-size: 100% 100%;
 height: 25px;
 width: 25px;
 position: absolute;
}

.ui-rotatable-handle-sw {
 bottom: -27px;
 left: -27px;
}

.ui-rotatable-handle-nw {
 top: -8px;
 left: -8px;
}

.ui-rotatable-handle-se {
 bottom: -5px;
 right: -4px;
 
}
ul.dining-edit-tbl {text-align: center;}
.ui-rotatable-handle-ne {
 top: -14px;
 right: -9px;
 transform: rotate(90deg);
}
body#page-top.dinein{}
.dinein div#dine-in-wrapper {height: calc(100vh - 40px);}
.navbar-nav-sidebar.header-dinein {width: 100%;}
@media only screen and (max-width: 1400px) and (min-width: 1024px) {
 .dinein div#dine-in-wrapper .left-container {max-width: 66.5%;}
 .dinein div#dine-in-wrapper.full-dinein .left-container{max-width: 100% !important;}
}
.dinein #dine-in-wrapper .orders-panel {height: calc(100vh - 75px) !important;}
button.tables-btn-style.active {
 height: 51px;
 border-radius: 4px;
 background-color: #62bb31;
 box-shadow: 0 2px 2px 0 #d1e6c5;
 padding: 0 20px;
 border: medium none;
 font-size: 14px;
 font-weight: 600;
 letter-spacing: 0.5px;
 text-align: center;
 color: #ffffff;
}

button.tables-btn-style {height: 51px; border-radius: 4px; border: solid 2px #c7c7c7; background: #fff; padding: 0 20px; font-size: 14px;
 font-weight: 600;
 letter-spacing: 0.5px;
 text-align: center;
 color: #7c7e85;
}
.all-tables-wrap {float:  right; padding-top: 5px;}
.sitting-dine-wrap > div{margin-left: 50px;}
.sitting-dine-wrap{text-align: left;}
div#sitting-dinein-table > .sitting-dine-wrap{margin-bottom: 70px;}
span.booked-time {position:  absolute; bottom: 0; font-size: 10px; left: 8px; bottom: 8px; border-radius: 4px; background-color: #faa03c; color:  #fff; font-weight: 600;
 padding: 2px 5px;
}
.unavailable-tbl-dropdown {position:  absolute; bottom: 0; height: 20px; width:  100%; z-index: 99999;}
.unavailable-tbl-dropdown > button {padding: 0; text-align: center;
 margin: 0 auto;
 width: 100%;
 background: unset;
 background-color: #e73030;
 position: absolute;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
 height: 20px;}
.unavailable-tbl-dropdown > button > span {
 transform: rotate(90deg);
 display:  inline-block;
 color: #fff;
 font-weight:  bold;
 vertical-align:  top;
 position: relative;
 top: -3px;
}
.unavailable-tbl-dropdown .dropdown-menu {min-width: unset; border-radius: 8px; background-color: #41454d; box-shadow: 0 2px 4px 0 rgba(187, 187, 187, 0.5); margin-top:15px}
.unavailable-tbl-dropdown .dropdown-menu > a {color:  #fff; letter-spacing: 0.4px; font-size:  12px;}
.unavailable-tbl-dropdown .dropdown-menu > a:hover{color: #000;}
/*Address destails UI in pos*/
.location-delivery-area-address {
 max-height: 175px;
 overflow-y:  auto;
 overflow-x:  hidden;
 padding-bottom: 20px !important;
 -webkit-overflow-scrolling: touch;
 touch-action: auto;
}

.order-address-details button#cu-add-address{margin-right: 10px;}
div#delivery-area-address > div{padding: 0 30px;}
.option-contain{margin: 30px auto 0 auto;}
.add-to-order-wrapper {max-height: 215px; overflow-y:  auto; overflow-x:  hidden;   -webkit-overflow-scrolling: touch;
 touch-action: auto;}
.add-to-order-wrapper > div:nth-child(2n){margin-right: 10px;}
div#select-discount .dining-options-block.select-discount{padding: 0 40px !important;}
.dining-option-block.select-discount-option > div:nth-child(2n){margin-right: 10px;}
.dining-option-block.select-discount-option {max-height:  315px; overflow-y:  auto; overflow-x:  hidden;  -webkit-overflow-scrolling: touch;
 touch-action: auto;}
div#select-discount-item .modal-dialog{max-width: 400px;}
/*.customer-insight {min-height: 625px;}*/
/*End*/


/*Running Order*/
table#running-order th {
 letter-spacing: 0.4px;
 color: #a4a4a4;
 font-size: 12px;
 font-weight:  normal;
}

table#running-order tr.dine-table-content {
 letter-spacing: 0.4px;
 color: #3d3f43;
 font-size:  14px;
}

.running-orders-dinein#running-orders-show {
 padding: 50px;
}

.rinning-order-title > h2 {
 color: #3d3f43;
 font-size:  24px;
 font-weight: 600;
}

.running-order-wrap {
 overflow:  hidden;
 margin:  0 auto;
 max-width:  100%;
 width:  100%;
}
td.dine-order-tabel > span {
 width: 60px;
 height: 60px;
 border-radius: 4px;
 background-color: #e4e8f1;
 display:  inline-block;
 text-align: center;
 /* padding: 30px; */
 padding-top: 15px;
}

table#running-order tr td > span {
 letter-spacing: 0.5px;
 color: #3d3f43;
 font-size:  18px;
 font-weight:  600;
 display:  block;
}
table#running-order .dining-for-button {
 display:  inline-block;
 overflow:  hidden;
 vertical-align: middle;
}

table#running-order span.dinefor-reprint {
 width: 119px;
 height: 35px;
 border-radius: 4px;
 border: solid 1px #62bb31;
 display:  inline-block;
 text-align:  center;
 padding-top: 6px;
 letter-spacing: 0.6px;
 color: #62bb31;
 font-size:  14px;
 cursor:  pointer;
 font-weight: 600;
}

table#running-order span.dinefor-paynow {
 width: 119px;
 height: 35px;
 border-radius: 4px;
 background-color: #62bb31;
 display: block;
 text-align:  center;
 padding-top: 6px;
 margin-top:  8px;
 color:  #fff;
 font-size: 14px;
 font-weight: 600;
 cursor:  pointer;
}

table#running-order td.order-time-det {
 /*vertical-align:  top;*/
 /* display:  inline-block; */
}

table#running-order td.done-soon-order > span {
 border-radius: 4px;
 background-color: #faa03c;
 display: inline-block !important;
 font-size:  12px !important;
 color:  #fff !important;
 padding:  5px;
}

table#running-order td.running-order-details > span {
 border-radius: 4px;
 background-color: #e73030;
 display: inline-block !important;
 font-size: 12px !important;
 color: #fff !important;
 padding: 5px;
}
table#running-order tr > td:first-child {
 border-left: 2px solid #e5e9f4;
}

table#running-order tr > td:last-child {
 border-right: 2px solid #e5e9f4;
}

table#running-order tr:last-child {
 border-bottom: 2px solid #e5e9f4;
}
table#running-order tr td{border-top: 2px solid #e5e9f4; height: 110px; vertical-align: middle; border-bottom: 2px solid #e5e9f4;}
td.order-time-det > span {
 font-size: 14px !important;
 font-weight: normal !important;
 display: inline-block !important;
 vertical-align: middle;
 width: 140px;
 
}
table#running-order{border-spacing: 0 30px; border-collapse: separate;}
tr.dine-table-heading th {
 border-top: medium none;
 border-bottom:  2px solid #e5e9f4;
 padding-bottom: 20px;
}
.running-order-table-wrap {
 max-height: calc(100vh - 175px);
 overflow-y:  auto;
 overflow-x:  hidden;
 padding-right: 15px;
 -webkit-overflow-scrolling: touch;
 touch-action: auto;
}
div#completed-orders-show.running-orders-dinein {
 padding: 45px;
}
span.dinefor-paynow > svg {
 margin-right:  10px;
 vertical-align: middle;
 width: 24px;
}
span.dinefor-reprint > svg {
 vertical-align:  middle;
 margin-right: 10px;
}
/*End Running Order*/

/*pos.html*/
li#setting-icon > a {vertical-align:  middle; display:  inherit;}
.table-pos-btn button.popup-btn-save {height:  40px; width: 29.5%;}
.table-pos-btn {margin:  0 auto; padding-bottom: 20px;}
/*End pos.html*/

.dm-walk-dine > button {
 width: 126px;
 height: 74px;
 background-color: #50a721;
 border: medium none;
 float:  left;
 font-size: 14px;
 font-weight: 600;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: 0.5px;
 color: #ffffff;
 box-shadow:  0 2px 24px 0 rgba(224, 231, 244, 0.16);
}

/*End Dine-in Changes*/


/*Dine in page*/
.change-dine-in-location > button > span {
 display:  inline-block;
 vertical-align:  middle;
 margin-right: 5px;
}
.content-wrapper#dine-in-wrapper{margin-top: 30px;}
ul.ullist-floor > li {display:  inline-block; margin-left: 35px; padding-bottom: 10px;}
ul.ullist-floor {padding-left: 0;}
ul.ullist-floor > li > a {letter-spacing: 0.5px; color: #72747b; font-size:  14px;}
ul.ullist-floor > li.active > a {color: #3d3f43; font-weight:  bold;}
.floor-section {margin:  20px auto 0 auto; overflow:  hidden; max-width:100%;}
ul.ullist-floor > li.active {border-bottom: 2px solid #62bb31;}
ul.ullist-dinein-table > li {display:  inline-block; margin-left:  35px; letter-spacing: 0.5px; color: #8c949e; font-size: 14px;}
ul.ullist-dinein-table {padding-left:  0;}
li#unavailable-seat > span {
 background-color:  #c84c4c;
 display:  inline-block;
 border-radius:  4px;
 padding: 5px 8px;
}

ul.ullist-dinein-table > li > span {
 font-size: 14px;
 font-weight: 600;
 color:  #fff;
 margin-right:  5px;
 line-height: 13px;
}

li#available-seat > span {
 background-color: #62bb31;
 display: inline-block;
 border-radius: 4px;
 padding: 5px 8px;
}

li#available-soon-seat > span {
 background-color: #faa03c;
 display: inline-block;
 border-radius: 4px;
 padding: 5px 8px;
}
.dinein-table-control > .dinein-seat-available {float:  left;}
.dinein-table-control > .zoom-wrap-dinein {float:  right; margin-right: 35px;    position: relative; z-index: 999;}
.dine-in-tabel-wrapper {overflow:  hidden; margin:  0 auto; width:  100%; max-width:  100%; height: 100vh;
 background:  #f8fbff;
 position:  absolute;
 width:  100%;
 left:  0;
 right:  0;
 margin:  0 auto;
 cursor: move;
}
.inner-dinein-table {padding-top: 20px; border-top: solid 2px #e3e7f2;}
.round-dinein-circle {position: relative; width: 85px; height: 85px; box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.19); background-color: #ffffff; border: solid 1px #d8dce1; border-radius:  50%;}
.zoom-wrap-dinein > div {display:  inline-block; vertical-align: middle;}
.sub-inner-round {
 width: 27px;
 height: 27px;
 border: solid 1px #d8dce1;
 border-radius:  50%;
 margin:  0 auto;
 display:  inline-block;
 position:  absolute;
 left: 0;
 right:  0;
 top: 7px;
}

.inner-round {
 width: 44px;
 height: 44px;
 border: solid 1px #d8dce1;
 border-radius:  50%;
 text-align:  center;
 margin:  0 auto;
 display:  inline-block;
 position:  absolute;
 top: 19px;
 left: 2px;
 right:  0;
}
span#dine-top {
 position:  absolute;
 left:  0;
 right:  0;
 top: -4px;
 margin:  0 auto;
 text-align:  center;
}

span#dine-left {
 position: absolute;
 top: 33px;
 left: 9px;
}

span#dine-right {
 position:  absolute;
 right: 6px;
 top: 32px;
}

span#dine-bottom {
 position:  absolute;
 bottom: 0;
 left:  0;
 right:  0;
 text-align:  center;
}
.round-dinein-circle > span{cursor: pointer;}
.zoom-wrap-dinein .POSItemOptions_quantity_inputs {
 box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.19);
 background-color: #ffffff;
 border: solid 1px #d8dce1;
 width:  154px;
 margin-right: 20px;
}
div#sitting-dinein-table {
 overflow:  hidden;
 margin:  0 auto;
 max-width:  100%;
 width:  100%;
 text-align: center;
 position: relative;
}

.sitting-dine-wrap {
 margin:  0 auto;
}

div.sitting-tbl {
 width: 105px;
 height: 105px;
 object-fit: contain;
 /* transform: rotate(-45deg); */
 border-radius: 12px;
 background-color: #ffffff;
 border: solid 1px #d4dae5;
}

.sitting-dine-wrap > div {
 display: inline-block;
 margin-left: 100px;
}
span.availble_soon-seat {
 background:  #faa03c;
 width: 15px;
 height: 15px;
 display:  inline-block;
 border-radius: 5px;
 margin-left: 5px;
 top: 5px;
 position: absolute;
 left: 0;
}
span.availble-seat {
 background:  #62bb31;
 width: 15px;
 height: 15px;
 display:  inline-block;
 border-radius: 5px;
 margin-left: 5px;
 top: 5px;
 position: absolute;
 left: 0;
}
span.unavailble-seat {
 background:  #c84c4c;
 width: 15px;
 height: 15px;
 display:  inline-block;
 border-radius: 5px;
 margin-left: 5px;
 top: 5px;
 position: absolute;
 left: 0;
}
.sitting-image {position:  relative; padding: 20px; cursor: pointer;}

span.dine-top-img {
 position:  absolute;
 left:  0;
 right:  0;
 text-align:  center;
 display:  inline-block;
 top: -3px;
}

span.dine-left-img {
 position:  absolute;
 left:  0;
 top: 45px;
 display:  inline-block;
}

span.dine-right-img {
 display:  inline-block;
 position:  absolute;
 right:  0;
 top: 45px;
}

span.dine-bottom-img {
 display:  inline-block;
 position:  absolute;
 bottom: -5px;
 text-align:  center;
 left:  0;
 right:  0;
}
.sitting-tbl-large, .sitting-tbl-long {
 width: 191px;
 height: 105px;
 border-radius: 12px;
 background-color: #ffffff;
 border: solid 1px #d4dae5;
}
.sitting-tbl-long {height: 191px; width: 105px;}
div#sitting-dinein-table > .sitting-dine-wrap {margin-bottom: 40px;}
div.sitting-tbl,div.sitting-tbl-large,div.sitting-tbl-long{  letter-spacing: 1.1px; color: #a2aec4; font-size: 30px; position: relative;}
span.tbl-number {
 position:  absolute;
 left:  0;
 right:  0;
 text-align:  center;
 top: 25%;
}
span.dine-select-discount {
 letter-spacing: 0.5px;
 color: #ffffff !important;
 background:  #62bb31;
 padding:  5px;
 border-radius: 4px;
 margin-left: 10px;
}
div.sitting-tbl-long span.tbl-number{top: 40%;}
.sitting-dine-wrap > div:first-child {margin-left: 35px;}
span.dine-left_side-img, span.dine-right_side-img {position:  absolute; right:  0; top: 68%;}
span.dine-left_side-img {left: 0; right: unset;}
span.dine-bottom-right-img {position:  absolute; bottom: -5px; right: 40px;}
span.dine-top-left-img {position:  absolute; top: -3px; right: 40px;}
.sitting-image.dine-large span.dine-bottom-img {bottom: -5px; left: 40px; right:  unset;}
.sitting-image.dine-large span.dine-top-img {right:  unset; left: 40px;}
#dine-in-wrapper .orders-panel {height: calc(100vh - 175px); max-width: 33.5%;}
#dine-in-wrapper{overflow: hidden;}
#dine-in-wrapper .left-container{margin-right: 0;}
div#dine-in-wrapper.full-dinein .left-container {
 max-width:  100%;
 width:  100%;
 flex:  0 0 100%;
}
#dine-in-wrapper .orders-panel{position: relative; right: -5006px;}
.all-tables-wrap >button {
 margin-right: 5px;
}
body#page-top.dinein #app {
 margin-top: 0;
}
/*End Dine In page*/