$color_1: #c7254e;
$color_2: #fff;
$color_3: #ffffff;
$color_4: #3d3f43;
$color_5: #7c7e85;
$color_6: #000;
$color_7: #72747b;
$color_8: #3a3d44;
$color_9: #62bb31;
$color_10: #3f831a;
$color_11: #a4a4a4;
$color_12: #000000;
$background_color_1: #f9f2f4;
$background_color_2: #50a721;
$background_color_3: #62bb31;
$background_color_4: #ffffff;
$background_color_5: #f39347;
$background_color_6: #f8a634;
$background_color_7: #52a0eb;
$background_color_8: #464c56;
$border_color_1: transparent #464c56 transparent transparent;

/*Delivery Manager screen*/
/*body#page-top.dm-manager .content-wrapper#dm-content-wrapper {
    margin-top:  0;
}*/
/*.dm-order-take-away{display: none;}*/
/*ul.dm-ullist > li.active {
    border-color: #62bb31;
}*/
/*delivery manager popup*/
/*End delivery maanger popup*/
/*Design for Auto Adjust and full screen*/
/*body#page-top.dm-manager {zoom: 0.9;}*/
/*End Design */
/*for moz*/
.da-image {
  text-align: center;
}
#delivery-assistant {
  .btn-announce {
    text-align: right;
    flex: auto !important;
  }
}
a.da-link {
  padding: 2px 10px;
  font-size: 15px;
  color: $color_1;
  background-color: $background_color_1;
  border-radius: 4px;
}
div#navbarResponsive.delivery-manager-st {
  ul#exampleAccordion {
    >li.nav-item {
      padding: 10px 3px !important;
      >.nav-link {
        color: $color_2;
        margin: 0 5px !important;
        padding: 10px 10px 14px 10px !important;
        vertical-align: middle;
        >svg {
          vertical-align: middle;
        }
      }
    }
  }
}
.dm-walk-dine {
  >button {
    width: 126px;
    height: 74px;
    background-color: $background_color_2;
    border: medium none;
    float: left;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $color_3;
    box-shadow: 0 2px 24px 0 rgba(224, 231, 244, 0.16);
    >span {
      margin-right: 10px;
    }
  }
  margin: 0 auto;
  text-align: center;
  float: right;
  margin: 0 auto;
  text-align: center;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
button#dm-walkin {
  background-color: $background_color_3;
  border-bottom-left-radius: 20px;
}
.dm-screen-wrap {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  background: #fff;
  .dm-title {
    width: 100%;
    padding-left: 70px;
  }
}
.dm-title {
  >h2 {
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color_4;
  }
  >p {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color_4;
  }
  margin: 0 auto;
  padding-top: 0;
  overflow: hidden;
  text-align: left;
  width: 1180px;
  max-width: 100%;
}
.dm-manager {
  nav#mainNav {
    border-bottom: medium none;
  }
  .contain-body-class {
    background: #62bb31;
  }
}
body#page-top.dm-manager {
  background: #fff !important;
  border: medium none !important;
  overflow: hidden !important;
}
div#dm-content-wrapper {
  padding: 20px 80px;
  .inner-content-dm {
    width: 100%;
    max-width: 100%;
  }
}
.dm-btn-wrap {
  >.left-btn-wrap {
    >button.active {
      height: 51px;
      border-radius: 4px;
      background-color: $background_color_3;
      box-shadow: 0 2px 2px 0 #d1e6c5;
      padding: 0 20px;
      border: medium none;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      text-align: center;
      color: $color_3;
    }
    float: left;
  }
  margin: 0 auto;
  overflow: hidden;
  >.right-btn-wrap {
    float: right;
    >ul {
      width: 195px;
    }
  }
}
.left-btn-wrap {
  >.dm-btn {
    height: 51px;
    border-radius: 4px;
    border: solid 2px #c7c7c7;
    background: #fff;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: $color_5;
  }
  >button {
    &:nth-child(2) {
      margin: 0 10px;
    }
  }
}
div#take-away-order {
  button#ready {
    >a {
      width: 105px;
    }
  }
}
div#dm-delivery-in-progress {
  button#ready {
    >a {
      width: 110px;
      margin-left: 10px;
    }
  }
}
.ready-order-wraper-right {
  button#ready {
    >a {
      pointer-events: none;
      background: #dce1ee;
    }
  }
}
.right-btn-wrap {
  >button {
    height: 50px;
    border-radius: 4px;
    background-color: $background_color_4;
    border: solid 1px #e4e7eb;
    padding: 0 20px;
    width: 195px;
    text-align: left;
    letter-spacing: 0.5px;
    color: $color_4;
    font-size: 14px;
    background: url(/img/pos/select-arrow.png);
    background-position: center right 8px;
    background-repeat: no-repeat;
    >span {
      display: inline-block;
      text-align: right;
      float: right;
    }
  }
  ul {
    li {
      >a {
        color: $color_4;
        font-size: 14px;
      }
      &:last-child {
        padding-bottom: 0;
      }
      text-align: center;
      padding-bottom: 10px;
      font-size: 14px;
      color: $color_4;
    }
  }
}
.right-btn-wrap.show {
  li {
    >a {
      color: $color_6;
      padding: 5px 15px;
    }
  }
}
.dm-order-details-wrap {
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: solid 1px #e5e9f3;
  .dm-delivery-details-btn {
    float: left;
  }
  .dm-delivery-assistants {
    float: right;
  }
}
ul.dm-ullist {
  >li {
    display: inline-block;
    text-align: left;
    padding-right: 20px;
    position: relative;
    >a {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: $color_7;
    }
    >span {
      width: 36px;
      border-radius: 15px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      text-align: center;
      color: $color_3;
      padding: 7px 0;
      margin-left: 10px;
    }
    &:first-child {
      >span {
        background-color: $background_color_7;
      }
    }
  }
  padding-left: 0;
  margin-bottom: 0;
  position: relative;
  top: 25px;
  >li.active {
    >a {
      color: $color_6;
    }
    &:after {
      content: " ";
      position: absolute;
      top: 43px;
      width: 140px;
      border: 1px solid #62bb31;
      left: 0;
      z-index: 7;
    }
  }
  >li.pick {
    >span {
      background-color: $background_color_6;
    }
  }
  >li.dm-delivered {
    >span {
      background-color: $background_color_3;
    }
  }
}
button {
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}
button#dm-assistant {
  height: 50px;
  border-radius: 4px;
  background-color: $background_color_5;
  box-shadow: 0 2px 2px 0 #f7dcc6;
  border: medium none;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: $color_3;
}
.dm-ready-order-wrapper {
  overflow: hidden;
  margin: 0 auto;
  padding-top: 15px;
  .ready-order-wraper-left {
    margin-right: 25px;
    float: unset;
    width: unset !important;
  }
  .ready-order-wraper-right {
    float: left;
  }
}
.ready-order-wraper-left {
  width: unset !important;
  >.dm-contain-order {
    float: left;
    width: 420px;
  }
}
.dm-contain-order {
  .dm-deliver-detail {
    float: left;
    width: 170px;
    -webkit-overflow-scrolling: touch;
    touch-action: auto;
  }
  .dm-deliver-detail-right {
    float: right;
    text-align: right;
    width: 198px;
  }
  overflow: hidden;
  width: 570px;
  min-height: 235px;
  border-radius: 4px;
  background-color: $background_color_4;
  box-shadow: 0 3px 30px 0 #e0e7f4;
  margin: 10px 10px 25px 10px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dm-deliver-detail {
  >h4 {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: $color_8;
  }
  >p {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $color_8;
  }
  text-align: left;
}
.dm-deliver-detail-right {
  >p.dm-amt {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: $color_9;
  }
  >p.dm-time {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $color_7;
  }
}
button.ready {
  border: medium none;
  background: #fff;
  padding-right: 0;
  >a {
    width: 80px;
    display: inline-block;
    border-radius: 4px;
    background-color: $background_color_3;
    padding: 8px 0;
    font-size: 14px;
    color: $color_2;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-left: 10px;
  }
  >span {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    padding-right: 8px;
    color: $color_10;
  }
}
.inner-content-dm {
  margin: 0 auto;
  width: 1185px;
  margin: 0 auto;
}
#mainNav.fixed-top {
  .delivery-manager-st {
    .navbar-sidenav {
      height: 100vh !important;
    }
  }
}
div#delivery-manager {
  .modal-dialog {
    width: 1000px;
    border-radius: 4px;
    background-color: $background_color_4;
    box-shadow: 0 10px 40px 0 rgba(133, 139, 151, 0.16);
    max-width: 1000px;
  }
  .btn-announce {
    text-align: right;
    flex: auto;
  }
  .modal-footer {
    padding-top: 0;
    padding-left: 35px;
  }
}
.dm-ready-order-wrap {
  overflow: hidden;
  margin: 0 auto;
  padding: 35px;
  border: solid 1px #e4e7eb;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
  border: solid 1px #e4e7eb;
  border-radius: 4px;
  >.dm-ready-order-right {
    width: 40%;
    float: left;
  }
  >.dm-ready-order-left {
    width: 60%;
    float: left;
  }
  .dm-ready {
    >* {
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.6px;
      color: $color_11;
      margin-bottom: 10px;
    }
    >h5 {
      font-weight: bold;
      color: $color_8;
    }
  }
}
.dm-ready-order-left {
  .referal {
    margin-top: 30px;
  }
}
.dm-confirmation-wrap {
  padding: 20px !important;
  overflow: hidden;
  margin: 0 auto;
}
.dm-order-confirmation {
  overflow: hidden;
  margin: 0 auto;
  border: solid 1px #e4e7eb;
  //margin-top: 20px;
  border-radius: 4px;
  .order-table {
    padding: 0 15px 15px 15px;
    max-height: 462px;
  }
}
div#dm-order-past-wrap {
  .order-amt-charges {
    padding-right: 35px;
  }
}
div#dm-confirm-order-tab {
  >.order-amt-title {
    float: left;
    width: 70%;
    padding-left: 30px;
  }
  >.order-amt-charges {
    float: left;
    width: 30%;
  }
  .order-amt-title {
    >p {
      &:last-child {
        color: $color_11;
        font-weight: normal;
        border-bottom: medium none;
      }
      //border-bottom: solid 1px #efefef;
      margin-bottom: 0;
      padding: 10px 0px;
      line-height: 10px;
    }
  }
  .order-amt-charges {
    >p {
      //border-bottom: solid 1px #efefef;
      margin-bottom: 0;
      padding: 10px 0px;
      line-height: 10px;
      font-weight: 600;
      &:last-child {
        border-bottom: medium none;
      }
    }
  }
}
button#status-history {
  width: 168px;
  height: 50px;
  border-radius: 4px;
  background-color: $background_color_3;
  box-shadow: 0 2px 2px 0 #d1e6c5;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: $color_3;
  margin-right: 10px;
  >span {
    padding-right: 10px;
  }
}
button#recipt-history {
  width: 168px;
  height: 50px;
  border-radius: 4px;
  background-color: $background_color_3;
  box-shadow: 0 2px 2px 0 #d1e6c5;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: $color_3;
  margin-right: 10px;
  display: none;
  >span {
    padding-right: 10px;
  }
}
h3.order-history-dm {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: $color_12;
  padding: 15px 27px;
  //margin-top: 20px;
  margin-bottom: 0;
}
div#dm-order-history-rec {
  .order-table {
    table {
      tr {
        th {
          text-align: left !important;
        }
        td {
          text-align: left !important;
        }
      }
    }
  }
  display: none;
}
.dm-ready-order-wrapper-future {
  overflow: hidden;
  margin: 0 auto;
  padding-top: 20px;
  >div.ready-order-wraper-left {
    margin-right: 25px;
  }
  >div {
    float: left;
  }
}
.select-driver {
  >button {
    height: 50px;
    background: #fff;
    border: solid 1px #e4e7eb;
    padding: 0 20px;
    width: 190px !important;
    text-align: left;
    letter-spacing: 0.5px;
    color: $color_4;
    font-size: 14px;
    background: url(/img/pos/select-arrow.png);
    background-position: center right 8px;
    background-repeat: no-repeat;
    >span {
      float: right;
    }
  }
  padding: 20px 0;
  ul {
    li {
      &:last-child {
        padding-bottom: 0;
      }
      text-align: center;
      padding-bottom: 10px;
      color: $color_4;
      >a {
        color: $color_4;
        font-size: 14px;
      }
    }
    width: 12%;
  }
  p {
    color: $color_4;
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 3px;
  }
}
div#ham-btn {
  display: none;
}
#left-fixed-menu {
  display: none;
}
.delivered-order-table {
  th {
    letter-spacing: 0.4px;
    color: $color_11;
    font-size: 12px;
    font-weight: normal;
    border: medium none;
    text-transform:uppercase;
  }
  .show-details-his {
    cursor: pointer;
  }
  table {
    tr {
      td {
        letter-spacing: 0.6px;
        color: $color_8;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
  .select-driver {
    >* {
      &:not(.dropdown-menu) {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
.avg-delivery-time {
  >p {
    line-height: 1.86;
    letter-spacing: 0.5px;
    color: $color_4;
    font-size: 14px;
    >span {
      font-weight: 600;
      font-size: 14px;
    }
  }
  padding-left: 20px;
}
.dp-dropdown-content {
  li {
    >a {
      color: $color_2;
    }
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.4px;
    color: $color_2;
    cursor: pointer;
  }
  display: none;
  position: absolute;
  min-width: 149px;
  border-radius: 4px;
  background-color: $background_color_8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 22px;
  left: 80px;
  padding-left: 0;
}
li.nav-item.dp-dropbtn {
  &:hover {
    ul.dp-dropdown-content {
      display: block !important;
    }
  }
}
ul.dp-dropdown-content {
  &:before {
    content: "\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: $border_color_1;
    position: absolute;
    left: -12px;
    top: 10px;
  }
}
.modal-body.dm-confirmation-wrap.dm-con {
  >.dm-ready-order-wrap {
    width: 40%;
  }
  >div {
    float: left;
    float: left;
  }
  >div.dm-order-confirmation {
    width: 58%;
    margin-left: 2%;
  }
}
.order-table {
  table {
    width: 556px !important;
    margin: 0 auto;
  }
}
.referal.print-btn {
  width: 60%;
  .referal {
    display: inline-block;
    margin-left: 10px;
  }
}
div#dm-payment-type-order {
  overflow: hidden;
  clear: both;
}
@media only screen and (min-width: 992px) {
  small.delivered-hide {
    >img {
      display: none;
    }
  }
  .dm-screen-wrap.dine-in-screen {
    display: none;
  }
  li.nav-item.dp-dropbtn {
    >a.active {
      &~ul.dp-dropdown-content {
        display: block !important;
      }
    }
  }
  body#page-top.dm-manager.bg-dark {
    overflow: hidden !important;
  }
  .dm-ready-order-wrapper-future {
    height: calc(100vh - 200px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: auto;
  }
  .dm-ready-order-wrapper {
    height: calc(100vh - 292px);
    overflow-x: hidden;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    touch-action: auto;
  }
}

.btn-success {
  color: #fff;
  background-color: #62bb31;
  border-color: #62bb31;
}
div#dm-payment-type-order table th, div#dm-payment-type-order table tr td {
  padding-left: 0;
}

p.payments-title {
  color: #a4a4a4;
  font-size: 14px;
}