/*Dine-in changes*/
/*for table round*/
/*End table round*/
/*End Dining option*/
/*Dine in page*/
/*End Dine In page*/
/*Draggable*/
/*End*/
/*Dining section*/
/*span#no-view-img {*/
/*background:  #c0ccd6;*/
/*width: 900px;*/
/*height: 70px;*/
/*position: absolute;*/
/*top: 25px;*/
/*border-radius:  8px;*/
/*}*/
/*Images view*/
/*End Images view*/
/*End Dining section*/
/*Address destails UI in pos*/
/*.customer-insight {min-height: 625px;}*/
/*End*/
/*Running Order*/
/*End Running Order*/
/*pos.html*/
/*End pos.html*/
/*End Dine-in Changes*/
div#reservation-orders-show {
  .rinning-order-title {
    padding: 45px;
  }
}
.dinein-footer-icon {
  >button {
    >span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      margin-right: 10px;
    }
    line-height: normal;
  }
  padding: 20px;
  >button#dine-pay {
    width: 131px;
    text-align: left;
  }
}
.floor-section-wrap {
  overflow: hidden;
  padding-right: 8px;
  .floor-section {
    float: left;
    width: 75%;
  }
  .search-dine-table {
    float: right;
    width: 25%;
  }
}
.search-dine-table {
  input {
    border: medium none !important;
  }
  form.form-inline.search-inline {
    margin: 15px 0;
  }
}
.dinein {
  nav#mainNav {
    border-bottom: medium none;
  }
  div#dine-in-wrapper {
    height: calc(100vh - 40px);
  }
  #dine-in-wrapper {
    .orders-panel {
      height: calc(100vh - 75px) !important;
    }
  }
}
.sitting-tbl.round-sitting-tbl {
  border-radius: 50%;
  span.availble-seat {
    top: 25px;
    left: 5px;
  }
}
.round-six-chairs {
  span.dine-right-top-img {
    position: absolute;
    right: 0;
    transform: rotate(-15deg);
    top: 30px;
  }
  span.dine-left-top-img {
    position: absolute;
    left: 0;
    transform: rotate(13deg);
    top: 30px;
  }
  span.dine-right-img {
    right: 25px;
    top: 100px;
    transform: rotate(50deg);
  }
  span.dine-left-img {
    left: 25px;
    top: 100px;
    transform: rotate(-50deg);
  }
}
div.sitting-tbl-large.full {
  width: 373px;
}
div.sitting-tbl-large.medium {
  width: 373px;
}
.ten-chairs {
  span.dine-top-full-img {
    position: absolute;
    left: 32%;
    top: -3px;
  }
  span.dine-top-left-full-img {
    position: absolute;
    right: 32%;
    top: -3px;
  }
  span.dine-bottom-right-full-img {
    position: absolute;
    bottom: -5px;
    right: 32%;
  }
  span.dine-bottom-full-img {
    position: absolute;
    bottom: -5px;
    left: 32%;
  }
}
.sitting-image.dine-large.ten-chairs.sevn {
  span.dine-top-img {
    left: 25%;
  }
  span.dine-top-full-img {
    left: 45%;
  }
  span.dine-top-left-img {
    right: 25%;
  }
}
li#circle-table-shape {
  .sitting-image.round-sitting-image {
    display: none;
  }
  width: 75px;
  height: 75px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-left: 20px;
  >a {
    vertical-align: middle;
    line-height: 10px;
  }
}
#dining-option {
  .modal-footer {
    border-top: medium none;
    margin-bottom: 20px;
  }
}
.option-contain.active {
  &:after {
    content: " ";
    position: absolute;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    top: 10px;
    right: 10px;
    border-radius: 4px;
    background-color: #dfffcd;
    background-position: center center;
    border-color: #dfffcd !important;
  }
}
.dm-walk-dine {
  >button {
    >span {
      margin-right: 10px;
    }
    width: 126px;
    height: 74px;
    background-color: #50a721;
    border: medium none;
    float: left;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
    box-shadow: 0 2px 24px 0 rgba(224, 231, 244, 0.16);
  }
  margin: 0 auto;
  text-align: center;
  float: right;
  margin: 0 auto;
  text-align: center;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
.change-dine-in-location {
  >button {
    >span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}
.content-wrapper#dine-in-wrapper {
  margin-top: 30px;
}
ul.ullist-floor {
  >li {
    display: inline-block;
    margin-left: 35px;
    padding-bottom: 10px;
    >a {
      letter-spacing: 0.5px;
      color: #72747b;
      font-size: 14px;
    }
  }
  padding-left: 0;
  >li.active {
    >a {
      color: #3d3f43;
      font-weight: bold;
    }
    border-bottom: 2px solid #62bb31;
  }
}
.floor-section {
  margin: 20px auto 0 auto;
  overflow: hidden;
  max-width: 100%;
}
ul.ullist-dinein-table {
  >li {
    display: inline-block;
    margin-left: 35px;
    letter-spacing: 0.5px;
    color: #8c949e;
    font-size: 14px;
    >span {
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      margin-right: 5px;
      line-height: 13px;
    }
  }
  padding-left: 0;
}
li#unavailable-seat {
  >span {
    background-color: #c84c4c;
    display: inline-block;
    border-radius: 4px;
    padding: 5px 8px;
  }
}
li#available-seat {
  >span {
    background-color: #62bb31;
    display: inline-block;
    border-radius: 4px;
    padding: 5px 8px;
  }
}
li#available-soon-seat {
  >span {
    background-color: #faa03c;
    display: inline-block;
    border-radius: 4px;
    padding: 5px 8px;
  }
}
.dinein-table-control {
  >.dinein-seat-available {
    float: left;
  }
  >.zoom-wrap-dinein {
    float: right;
    margin-right: 35px;
    position: relative;
    z-index: 999;
  }
}
.dine-in-tabel-wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background: #f8fbff;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: move;
}
.inner-dinein-table {
  padding-top: 20px;
  border-top: solid 2px #e3e7f2;
}
.round-dinein-circle {
  position: relative;
  width: 85px;
  height: 85px;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  border: solid 1px #d8dce1;
  border-radius: 50%;
  >span {
    cursor: pointer;
  }
}
.zoom-wrap-dinein {
  >div {
    display: inline-block;
    vertical-align: middle;
  }
  .POSItemOptions_quantity_inputs {
    box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    border: solid 1px #d8dce1;
    width: 154px;
    margin-right: 20px;
  }
}
.sub-inner-round {
  width: 27px;
  height: 27px;
  border: solid 1px #d8dce1;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 7px;
}
.inner-round {
  width: 44px;
  height: 44px;
  border: solid 1px #d8dce1;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  top: 19px;
  left: 2px;
  right: 0;
}
span#dine-top {
  position: absolute;
  left: 0;
  right: 0;
  top: -4px;
  margin: 0 auto;
  text-align: center;
}
span#dine-left {
  position: absolute;
  top: 33px;
  left: 9px;
}
span#dine-right {
  position: absolute;
  right: 6px;
  top: 32px;
}
span#dine-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
div#sitting-dinein-table {
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  >.sitting-dine-wrap {
    margin-bottom: 40px;
    margin-bottom: 70px;
  }
}
.sitting-dine-wrap {
  margin: 0 auto;
  text-align: left;
  >div {
    display: inline-block;
    margin-left: 100px;
    vertical-align: top;
    margin-left: 50px;
    &:first-child {
      margin-left: 35px;
    }
  }
}
span.availble_soon-seat {
  background: #faa03c;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
  margin-left: 5px;
  top: 5px;
  position: absolute;
  left: 0;
}
span.availble-seat {
  background: #62bb31;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
  margin-left: 5px;
  top: 5px;
  position: absolute;
  left: 0;
}
span.unavailble-seat {
  background: #c84c4c;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
  margin-left: 5px;
  top: 5px;
  position: absolute;
  left: 0;
}
.sitting-image {
  position: relative;
  padding: 20px;
  cursor: pointer;
  .ui-rotatable-handle {
    background: none;
  }
}
span.dine-top-img {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  display: inline-block;
  top: -3px;
}
span.dine-left-img {
  position: absolute;
  left: 0;
  top: 45px;
  display: inline-block;
}
span.dine-right-img {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 45px;
}
span.dine-bottom-img {
  display: inline-block;
  position: absolute;
  bottom: -5px;
  text-align: center;
  left: 0;
  right: 0;
}
.sitting-tbl-large {
  width: 191px;
  height: 105px;
  border-radius: 12px;
  background-color: #ffffff;
  border: solid 1px #d4dae5;
  ul.edit-tbl-nmbr {
    left: 20px;
  }
}
.sitting-tbl-long {
  width: 191px;
  height: 105px;
  border-radius: 12px;
  background-color: #ffffff;
  border: solid 1px #d4dae5;
  height: 191px;
  width: 105px;
  ul.edit-tbl-nmbr {
    top: 115px;
  }
}
div.sitting-tbl {
  letter-spacing: 1.1px;
  color: #a2aec4;
  font-size: 30px;
  position: relative;
}
div.sitting-tbl-large {
  letter-spacing: 1.1px;
  color: #a2aec4;
  font-size: 30px;
  position: relative;
}
div.sitting-tbl-long {
  letter-spacing: 1.1px;
  color: #a2aec4;
  font-size: 30px;
  position: relative;
  span.tbl-number {
    top: 40%;
  }
  ul.dining-edit-tbl {
    padding: 65px 0;
  }
}
span.tbl-number {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  letter-spacing: 1.1px;
  color: #a2aec4;
  font-size: 30px;
}
span.dine-select-discount {
  letter-spacing: 0.5px;
  color: #ffffff !important;
  background: #62bb31;
  padding: 5px;
  border-radius: 4px;
  margin-left: 10px;
}
span.dine-left_side-img {
  position: absolute;
  right: 0;
  top: 68%;
  left: 0;
  right: unset;
}
span.dine-right_side-img {
  position: absolute;
  right: 0;
  top: 68%;
}
span.dine-bottom-right-img {
  position: absolute;
  bottom: -5px;
  right: 40px;
}
span.dine-top-left-img {
  position: absolute;
  top: -3px;
  right: 40px;
}
.sitting-image.dine-large {
  span.dine-bottom-img {
    bottom: -5px;
    left: 40px;
    right: unset;
  }
  span.dine-top-img {
    right: unset;
    left: 40px;
  }
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.dine-in-tabel-wrapper[draggable=true] {
  cursor: move;
  &:hover {
    border: dashed 1px rgb(27, 161, 226);
  }
}
.moving {
  opacity: 0.25;
  border: dashed 1px red;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
#dine-in-wrapper {
  .orders-panel {
    height: calc(100vh - 175px);
    max-width: 33.5%;
    position: relative;
    right: -5006px;
  }
  overflow: hidden;
  .left-container {
    margin-right: 0;
  }
}
div#dine-in-wrapper.full-dinein {
  .left-container {
    max-width: 100%;
    width: 100%;
    flex: 0 0 100%;
  }
}
span#no-view-img {
  display: none;
  top: 0;
  text-align: center;
  margin: 0 auto;
  >span {
    left: 40px;
    top: 24px;
  }
}
span#sea-view-img {
  display: none;
  left: 0;
  >span {
    transform: rotate(-90deg);
    bottom: 50px;
  }
}
span#green-view-img {
  display: none;
  right: 0;
  >span {
    transform: rotate(90deg);
    top: 50px;
    width: 100%;
    width: 80px;
  }
}
span#city-view-img {
  display: none;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  >span {
    left: 70px;
    text-align: center;
    top: 28px;
  }
}
span#no-view-img.editable-view {
  display: inline-block;
}
span#sea-view-img.editable-view {
  display: inline-block;
}
span#green-view-img.editable-view {
  display: inline-block;
}
span#city-view-img.editable-view {
  display: inline-block;
}
nav#left-side-section {
  overflow: hidden;
  position: fixed;
  left: 80px;
  width: 225px;
  height: 100vh;
  top: 0;
  background: #f2f7fb;
  border-right: 2px solid #e3e7f2;
}
.dining-section {
  .dm-screen-wrap {
    .dm-title {
      padding-left: 0;
    }
  }
  .content-wrapper {
    margin-left: 305px;
  }
  nav#mainNav {
    width: calc(100% - 305px);
    height: 150px;
    border-bottom: medium none;
    padding: 10px 30px;
  }
  .content-wrapper#dine-in-wrapper {
    margin-top: 90px;
  }
  .dm-title {
    padding-top: 0;
  }
  div#dine-in-wrapper {
    padding: 0 20px;
    overflow: hidden;
  }
  .inner-dinein-table {
    padding-top: 20px;
    border-top: medium none;
    padding: 125px 90px 80px 90px;
    margin-top: 30px;
    margin: 0 auto;
    position: relative;
    >span {
      position: absolute;
    }
  }
  .dine-in-tabel-wrapper {
    background-color: #fff;
    margin-top: 30px;
    position: unset;
    height: unset;
    overflow: hidden;
    padding-bottom: 50px;
  }
  span.availble_soon-seat {
    display: none;
  }
  span.availble-seat {
    display: none;
  }
  span.unavailble-seat {
    display: none;
  }
  div.sitting-tbl.active {
    span.tbl-number {
      display: none;
    }
    ul.dining-edit-tbl {
      display: block;
      position: absolute;
      top: 15%;
      left: 0;
      text-align: center;
      right: 0;
      margin: 0 auto;
    }
  }
  div.sitting-tbl-large.active {
    span.tbl-number {
      display: none;
    }
    ul.dining-edit-tbl {
      display: block;
      position: absolute;
      top: 15%;
      left: 0;
      text-align: center;
      right: 0;
      margin: 0 auto;
    }
  }
  div.sitting-tbl-long.active {
    span.tbl-number {
      display: none;
    }
    ul.dining-edit-tbl {
      display: block;
      position: absolute;
      top: 15%;
      left: 0;
      text-align: center;
      right: 0;
      margin: 0 auto;
    }
  }
  .left-container {
    max-width: 100% !important;
  }
  div#sitting-dinein-table {
    padding-top: 30px;
  }
  .contain-body-class {
    height: calc(100vh - 50px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: auto;
  }
}
#exampleAccordion-dine {
  span.nav-link-text {
    letter-spacing: 0.5px;
    color: #72747b;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    margin-left: 15px;
  }
}
ul#exampleAccordion-dine {
  >li {
    padding: 5px 20px;
    margin: 0 10px;
    border-left: 3px solid #f2f7fb;
    &:first-child {
      margin-bottom: 15px;
      text-align: center;
      position: relative;
      margin: 0 30px;
      border-radius: 4px;
      border: solid 1px #3f8618;
      padding: 0;
      a.nav-link {
        letter-spacing: 0.4px;
        color: #3f8618;
        font-size: 12px;
        font-weight: bold;
        span {
          position: absolute;
          left: 10px;
          font-size: 18px;
          top: 3px;
          font-weight: 100;
        }
      }
    }
    &:hover {
      background: #fff;
      border-color: #62bb31;
      a {
        span {
          color: #3f8618 !important;
        }
      }
    }
  }
  margin-top: 24px;
  >li.active {
    background: #fff;
    border-color: #62bb31;
    a {
      span {
        color: #3f8618 !important;
      }
    }
  }
  li.nav-item.active {
    svg {
      path {
        fill: #3f8618;
      }
    }
  }
  li.nav-item {
    &:hover {
      svg {
        path {
          fill: #3f8618;
        }
      }
    }
  }
}
p#setup-location {
  letter-spacing: 1.9px;
  color: #9e9e9e;
  font-size: 12px;
  font-weight: bold;
}
ul.ullist-setup-location {
  >li {
    display: inline-block;
    >a {
      color: #9e9e9e;
      font-size: 14px;
    }
    span {
      padding: 0 10px;
    }
  }
  padding-left: 0;
  >li.active {
    a {
      color: #3d3f43;
      font-weight: bold;
    }
  }
}
ul.ullist-dining-area {
  padding-left: 0;
  border-bottom: 2px solid #e5e9f3;
  padding-bottom: 12px;
  >li.active {
    >a {
      color: #3d3f43;
      font-weight: bold;
    }
  }
  >li {
    display: inline-block;
    margin-left: 30px;
    >a {
      letter-spacing: 0.5px;
      color: #72747b;
      font-size: 14px;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}
.setup-location-section {
  overflow: hidden;
  margin: 0 auto;
}
li#add-dining-area {
  width: 107px;
  border-radius: 4px;
  background-color: #62bb31;
  box-shadow: 0 2px 2px 0 #d1e6c5;
  text-align: center;
  padding: 10px;
  letter-spacing: 0.6px;
  color: #ffffff;
  >a {
    color: #fff;
  }
}
ul.ullist-selected-area {
  padding-left: 0;
  >li {
    display: inline-block;
    &:nth-child(2) {
      span {
        text-align: center;
        border-radius: 6px;
        background-color: #e3e9f0;
        display: inline-block;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      margin-left: 20px;
      margin-right: 8px;
    }
    &:nth-child(3) {
      span {
        text-align: center;
        border-radius: 6px;
        background-color: #e3e9f0;
        display: inline-block;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffc6c6;
      }
    }
  }
}
li#selected-area-title {
  letter-spacing: 0.9px;
  color: #3d3f43;
  font-size: 24px;
}
.choose-table-dining {
  overflow: hidden;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 1px #e5e9f3;
  padding: 8px 15px;
  >div {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
  }
}
ul.ullist-table-shape {
  padding-left: 0;
  margin-bottom: 0;
  >li {
    span {
      display: block;
      letter-spacing: 0.4px;
      color: #72747b;
      font-size: 12px;
    }
    display: inline-block;
    >a {
      line-height: 10px;
      letter-spacing: 0.5px;
      color: #72747b;
      font-size: 14px;
    }
  }
}
li#square-table-shape {
  width: 75px;
  height: 75px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: 0 15px;
}
li#long-table-shape {
  width: 100px;
  height: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
li#sea-view {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #30a3ff;
  cursor: pointer;
}
li#green-view {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #30a3ff;
  cursor: pointer;
  background-color: #62bb31;
}
li#city-view {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #30a3ff;
  cursor: pointer;
  background-color: #484848;
}
li#no-view {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #30a3ff;
  cursor: pointer;
  background-color: #c0ccd6;
}
ul.ullist-table-shape.color-shapdine {
  >li {
    margin: 0 5px;
  }
}
span.view-txt {
  position: absolute;
  left: 0;
  color: #fff;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
.sitting-image.active {
  border: 1px dashed #808daa;
  border-radius: 50%;
}
body#page-top.dining-section {
  background: #fff !important;
}
ul.dining-edit-tbl {
  >li {
    background: #808daa;
    color: #fff;
    font-size: 12px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 29px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: #52A0EB;
    }
    .tbl-nbr-select {
      border-radius: 4px;
      background-color: #4e535d;
      width: 64px;
      height: 40px;
      color: #fff;
      border: medium none;
      border-radius: 4px;
      margin-left: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-repeat: no-repeat;
      background-position: center right 10px;
      padding-left: 10px;
    }
    .chair-nbr-select {
      border-radius: 4px;
      background-color: #4e535d;
      width: 64px;
      height: 40px;
      color: #fff;
      border: medium none;
      border-radius: 4px;
      margin-left: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-repeat: no-repeat;
      background-position: center right 10px;
      padding-left: 10px;
    }
  }
  >li.active {
    background: #52A0EB;
    &:first-child {
      ul.edit-tbl-nmbr {
        display: block;
      }
    }
  }
  padding-left: 0;
  padding: 25px 0;
  display: none;
  text-align: center;
}
ul.edit-tbl-nmbr {
  >li {
    letter-spacing: 0.4px;
    color: #ffffff;
    font-size: 12px;
  }
  min-width: 163px;
  top: 80px;
  left: 0;
}
ul.dp-dropdown-content.edit-tbl-nmbr {
  &:before {
    left: 17px;
    top: -14px;
    transform: rotate(90deg);
  }
}
.sitting-tbl-large.active {
  &:before {
    content: " ";
    border: 1px dashed #808daa;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    position: absolute;
    left: -21px;
    right: 0;
    margin: 0 auto;
    top: -60px;
  }
}
.sitting-tbl-long.active {
  &:before {
    content: " ";
    border: 1px dashed #808daa;
    height: 240px;
    width: 220px;
    border-radius: 50%;
    position: absolute;
    left: -60px;
    right: 0;
    margin: 0 auto;
    top: -25px;
  }
}
.dining-views-wrapper {
  position: relative;
}
span.editable-view {
  border: 1px dashed #808daa;
  padding: 20px;
  border-radius: 8px;
  span.zoom-view {
    display: block;
    position: relative;
    text-align: center;
    bottom: 350px !important;
    left: 5px;
  }
}
span.zoom-view {
  display: none;
}
.ui-rotatable-handle.ui-draggable-dragging {
  visibility: hidden;
}
.clear {
  clear: both;
}
#long-table-shape {
  .sitting-image.dine-large {
    display: none;
  }
}
#square-table-shape {
  .sitting-image.dine-square {
    display: none;
  }
}
li.ui-draggable.ui-draggable-handle.inside-drop-zone {
  >a {
    display: none;
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
  }
  list-style-type: none;
}
li.nav-item.logo-wrap {
  >a {
    &:hover {
      span {
        color: #fff;
      }
      color: #fff !important;
    }
  }
}
Span.editable-view {
  .ui-rotatable-handle {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 25px;
    width: 25px;
    position: absolute;
  }
}
.ui-rotatable-handle-sw {
  bottom: -27px;
  left: -27px;
}
.ui-rotatable-handle-nw {
  top: -8px;
  left: -8px;
}
.ui-rotatable-handle-se {
  bottom: -5px;
  right: -4px;
}
.ui-rotatable-handle-ne {
  top: -14px;
  right: -9px;
  transform: rotate(90deg);
}
body#page-top.dinein {
}
.navbar-nav-sidebar.header-dinein {
  width: 100%;
}
button.tables-btn-style.active {
  height: 51px;
  border-radius: 4px;
  background-color: #62bb31;
  box-shadow: 0 2px 2px 0 #d1e6c5;
  padding: 0 20px;
  border: medium none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}
button.tables-btn-style {
  height: 51px;
  border-radius: 4px;
  border: solid 2px #c7c7c7;
  background: #fff;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #7c7e85;
}
.all-tables-wrap {
  float: right;
  padding-top: 5px;
}
span.booked-time {
  position: absolute;
  bottom: 0;
  font-size: 10px;
  left: 8px;
  bottom: 8px;
  border-radius: 4px;
  background-color: #faa03c;
  color: #fff;
  font-weight: 600;
  padding: 2px 5px;
}
.unavailable-tbl-dropdown {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  z-index: 99999;
  >button {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background: unset;
    background-color: #e73030;
    position: absolute;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 20px;
    >span {
      transform: rotate(90deg);
      display: inline-block;
      color: #fff;
      font-weight: bold;
      vertical-align: top;
      position: relative;
      top: -3px;
    }
  }
  .dropdown-menu {
    min-width: unset;
    border-radius: 8px;
    background-color: #41454d;
    box-shadow: 0 2px 4px 0 rgba(187, 187, 187, 0.5);
    margin-top: 15px;
    >a {
      color: #fff;
      letter-spacing: 0.4px;
      font-size: 12px;
      &:hover {
        color: #000;
      }
    }
  }
}
.location-delivery-area-address {
  max-height: 175px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 20px !important;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
}
.order-address-details {
  button#cu-add-address {
    margin-right: 10px;
  }
}
div#delivery-area-address {
  >div {
    padding: 0 30px;
  }
}
.option-contain {
  margin: 30px auto 0 auto;
}
.add-to-order-wrapper {
  max-height: 215px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
  >div {
    &:nth-child(2n) {
      margin-right: 10px;
    }
  }
}
div#select-discount {
  .dining-options-block.select-discount {
    padding: 0 40px !important;
  }
}
.dining-option-block.select-discount-option {
  >div {
    &:nth-child(2n) {
      margin-right: 10px;
    }
  }
  max-height: 315px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
}
div#select-discount-item {
  .modal-dialog {
    max-width: 400px;
  }
}
table#running-order {
  th {
    letter-spacing: 0.4px;
    color: #a4a4a4;
    font-size: 12px;
    font-weight: normal;
  }
  tr.dine-table-content {
    letter-spacing: 0.4px;
    color: #3d3f43;
    font-size: 14px;
  }
  tr {
    td {
      >span {
        letter-spacing: 0.5px;
        color: #3d3f43;
        font-size: 18px;
        font-weight: 600;
        display: block;
      }
      border-top: 2px solid #e5e9f4;
      height: 110px;
      vertical-align: middle;
      border-bottom: 2px solid #e5e9f4;
    }
    >td {
      &:first-child {
        border-left: 2px solid #e5e9f4;
      }
      &:last-child {
        border-right: 2px solid #e5e9f4;
      }
    }
    &:last-child {
      border-bottom: 2px solid #e5e9f4;
    }
  }
  .dining-for-button {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
  }
  span.dinefor-reprint {
    width: 119px;
    height: 35px;
    border-radius: 4px;
    border: solid 1px #62bb31;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    letter-spacing: 0.6px;
    color: #62bb31;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
  }
  span.dinefor-paynow {
    width: 119px;
    height: 35px;
    border-radius: 4px;
    background-color: #62bb31;
    display: block;
    text-align: center;
    padding-top: 6px;
    margin-top: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  td.done-soon-order {
    >span {
      border-radius: 4px;
      background-color: #faa03c;
      display: inline-block !important;
      font-size: 12px !important;
      color: #fff !important;
      padding: 5px;
    }
  }
  td.running-order-details {
    >span {
      border-radius: 4px;
      background-color: #e73030;
      display: inline-block !important;
      font-size: 12px !important;
      color: #fff !important;
      padding: 5px;
    }
  }
  border-spacing: 0 30px;
  border-collapse: separate;
}
.running-orders-dinein#running-orders-show {
  padding: 50px;
}
.rinning-order-title {
  >h2 {
    color: #3d3f43;
    font-size: 24px;
    font-weight: 600;
  }
}
.running-order-wrap {
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
td.dine-order-tabel {
  >span {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background-color: #e4e8f1;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
  }
}
td.order-time-det {
  >span {
    font-size: 14px !important;
    font-weight: normal !important;
    display: inline-block !important;
    vertical-align: middle;
    width: 140px;
  }
}
tr.dine-table-heading {
  th {
    border-top: medium none;
    border-bottom: 2px solid #e5e9f4;
    padding-bottom: 20px;
  }
}
.running-order-table-wrap {
  max-height: calc(100vh - 175px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 15px;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
}
div#completed-orders-show.running-orders-dinein {
  padding: 45px;
}
span.dinefor-paynow {
  >svg {
    margin-right: 10px;
    vertical-align: middle;
    width: 24px;
  }
}
span.dinefor-reprint {
  >svg {
    vertical-align: middle;
    margin-right: 10px;
  }
}
li#setting-icon {
  >a {
    vertical-align: middle;
    display: inherit;
  }
}
.table-pos-btn {
  button.popup-btn-save {
    height: 40px;
    width: 29.5%;
  }
  margin: 0 auto;
  padding-bottom: 20px;
}
@media only screen and (max-width: 479px) {
  span.dine-select-discount {
    font-size: 10px;
    margin-left: 3px;
  }
  #dine-in-wrapper {
    ul.ullist-dinein-table {
      >li {
        font-size: 10.5px;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  small.delivered-hide {
    margin-top: 5px;
    margin-left: 0 !important;
    >span {
      display: none;
    }
  }
  .delivered-order-table {
    td.show-details-his {
      >span {
        >span {
          display: none;
        }
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
  small.delivered-refresh-data {
    >span {
      display: none;
    }
  }
  #dine-in-wrapper {
    .total-amount-wrapper {
      bottom: 30px;
    }
    .unavailable-tbl-dropdown {
      z-index: 9;
    }
    .running-orders-dinein#running-orders-show {
      padding: 20px 10px;
    }
    .orders-panel {
      max-width: 100% !important;
      z-index: 999;
    }
    .dine-in-tabel-wrapper {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      touch-action: auto;
    }
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: auto;
    ul.ullist-dinein-table {
      >li {
        margin-left: 10px;
      }
    }
  }
  .dine-in-tabel-wrapper {
    padding-bottom: 40px;
    cursor: auto;
  }
  .header-dinein {
    button.popup-btn-save {
      padding: 5px !important;
      font-size: 12px !important;
    }
    .all-tables-wrap {
      display: none;
    }
  }
  div#dine-table-popup {
    .all-tables-wrap {
      >button {
        width: 200px;
        margin: 10px 0;
      }
      float: unset;
      margin: 0 auto;
      text-align: center;
    }
  }
  .sitting-dine-wrap {
    >div {
      margin: 15px 3px auto 3px !important;
    }
  }
  #page-top.bg-dark.dinein {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: auto;
    background: #fff !important;
  }
  ul.ullist-floor {
    >li {
      margin-left: 20px !important;
      &:first-child {
        margin-left: 0 !important;
      }
    }
  }
  .navbar-nav-sidebar.header-dinein {
    margin-left: 0;
    padding: 10px;
    >div {
      float: left;
      width: 50%;
    }
  }
  .dinein {
    nav#mainNav {
      border-bottom: medium none;
      padding: 0;
    }
    .content-wrapper#dine-in-wrapper {
      margin-top: 75px;
    }
  }
  .dm-screen-wrap.dine-in-screen {
    .wrap-hambtn {
      padding: 20px;
    }
  }
  div#ham-btn {
    display: block;
    float: left;
    padding: 15px;
  }
  #left-fixed-menu {
    display: block;
  }
  div#navbarResponsive.collapse {
    display: block;
  }
  .dm-walk-dine {
    >button {
      width: 95px;
      height: 55px;
    }
  }
  .dm-manager {
    nav#mainNav {
      padding: 0;
    }
  }
  .dm-screen-wrap {
    .dm-walk-dine {
      position: static;
    }
    .dm-title {
      padding: 15px;
      >h2 {
        font-size: 30px;
      }
    }
  }
  div#dm-content-wrapper {
    padding: 15px;
  }
  .left-btn-wrap {
    >.dm-btn {
      &:nth-child(2) {
        margin: 20px 0;
      }
      width: 195px;
    }
  }
  .dm-btn-wrap {
    >.right-btn-wrap {
      margin-top: 40px;
      float: none;
    }
  }
  .hamburger {
    position: absolute;
    top: 8px;
    left: 70px;
    line-height: 18px;
    padding: 14px 10px;
    color: #fff;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
    background: #50a721;
    border-radius: 4px;
  }
}
@media only screen and (min-width: 992px) {
  small.delivered-hide {
    >img {
      display: none;
    }
  }
  .dm-screen-wrap.dine-in-screen {
    display: none;
  }
  div#dp-content-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
  body#page-top.dispatch-screen {
    .content-wrapper {
      padding-bottom: 70px;
    }
    .dm-screen-wrap {
      .dm-title {
        padding-left: 70px;
      }
    }
    .inner-content-dm {
      width: 100%;
      padding: 0 25px;
    }
    #mainNav.fixed-top {
      .delivery-manager-st {
        .navbar-sidenav {
          height: 150vh !important;
        }
      }
    }
  }
  div.service-manager-overlay#dp-content-wrapper {
    margin-top: 0 !important;
  }
  li.nav-item.dp-dropbtn {
    >a.active {
      ~ {
        ul.dp-dropdown-content {
          display: block !important;
        }
      }
    }
  }
  body#page-top.dm-manager.bg-dark {
    overflow: hidden !important;
  }
  .dm-ready-order-wrapper-future {
    height: calc(100vh - 200px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: auto;
  }
  .dm-ready-order-wrapper {
    height: calc(100vh - 230px);
    overflow-x: hidden;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    touch-action: auto;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1024px) {
  .dinein {
    div#dine-in-wrapper {
      .left-container {
        max-width: 66.5%;
      }
    }
    div#dine-in-wrapper.full-dinein {
      .left-container {
        max-width: 100% !important;
      }
    }
  }
}
