/*Dispatch screen*/
body#page-top.dispatch-screen {
  background: #fff !important;
  border: medium; }
  body#page-top.dispatch-screen footer.sticky-footer {
    background: #5a6374 !important; }
    body#page-top.dispatch-screen footer.sticky-footer .container {
      overflow: hidden;
      padding: 25px 0;
      width: 1185px;
      margin: 0 auto; }
      body#page-top.dispatch-screen footer.sticky-footer .container > div {
        float: left;
        width: 50%; }
      body#page-top.dispatch-screen footer.sticky-footer .container .dp-right-footer {
        float: right !important;
        text-align: right; }
  body#page-top.dispatch-screen nav#mainNav {
    border: medium none; }
  body#page-top.dispatch-screen .contain-body-class {
    background: #62bb31 !important; }

h2#dp-total-order {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff; }

ul.ullist-dp {
  padding-left: 0; }
  ul.ullist-dp > li {
    border-radius: 4px;
    background-color: #62bb31;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    padding: 10px 15px; }
  ul.ullist-dp li.dp-btn-exit {
    display: none; }

.dp-right-footer .ullist-dp > li {
  display: inline-block;
  cursor: pointer; }

li.dp-prev-btn {
  margin: 0 5px; }
  li.dp-prev-btn > span {
    padding-right: 10px; }

li.dp-next-btn > span {
  padding-left: 10px; }

.dp-left-footer {
  overflow: hidden;
  vertical-align: middle; }
  .dp-left-footer h2#dp-total-order {
    padding: 20px 0;
    margin-bottom: 0; }

button.rectangle-sample {
  height: 35px;
  border-radius: 4px;
  background-color: #62bb31;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  border: medium none;
  position: absolute;
  top: 20px;
  right: 15px; }

.dp-box-wrap {
  height: 249px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 3px 30px 0 #e0e7f4;
  position: relative; }

.dp-inner-box-wrap {
  overflow: hidden;
  width: 100%;
  display: inline-block;
  padding: 15px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: auto; }
  .dp-inner-box-wrap .left-inner-dp {
    float: left; }
  .dp-inner-box-wrap .right-inner-dp {
    float: right; }

.dp-box-footer {
  clear: both;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ebeef3;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%; }
  .dp-box-footer > p {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: 0.5px;
    color: #3d3f43;
    margin-bottom: 0;
    padding: 10px 15px; }

ul.dispatch-screen-order-details {
  margin-bottom: 0;
  padding-left: 0; }
  ul.dispatch-screen-order-details > li {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.5px;
    color: #72777c;
    list-style-type: none;
    cursor: pointer; }

h1#dp-order-no {
  font-size: 80px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.9px;
  text-align: center;
  color: #ebeef3;
  position: absolute;
  top: 60px;
  right: 15px; }

p#dp-order-id {
  letter-spacing: 0.5px;
  color: #62bb31;
  font-size: 12px;
  cursor: pointer; }

.left-inner-dp > h5 {
  letter-spacing: 0.6px;
  color: #3a3d44;
  font-weight: bold;
  font-size: 14px; }
  .left-inner-dp > h5 > span {
    border-radius: 8px;
    display: inline-block;
    background-color: #62bb31;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 4px 8px;
    margin-left: 15px; }

div#dp-content-wrapper {
  overflow: hidden; }

.block1-wrap-dp > div {
  margin-left: 30px; }
  .block1-wrap-dp > div:first-child {
    margin-left: 0; }

.inner-content-dm > .block1-wrap-dp {
  padding-top: 15px;
  overflow: hidden;
  padding-left: 15px;
  padding-bottom: 15px; }

div#hide-block1-dp {
  display: none; }

#dp-content-wrapper.service-manager-overlay {
  background: #fff;
  height: calc(100% - 100px);
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }

footer.sticky-footer.sticky-header-overlay {
  width: 100%;
  z-index: 99999; }

.dp-dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none; }

.dp-dropdown {
  position: relative;
  display: inline-block; }
  .dp-dropdown:hover .dp-dropdown-content {
    display: block; }

.dp-dropdown-content {
  display: none;
  position: absolute;
  min-width: 149px;
  border-radius: 4px;
  background-color: #464c56;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 22px;
  left: 80px;
  padding-left: 0; }
  .dp-dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.4px;
    color: #fff;
    cursor: pointer; }
    .dp-dropdown-content li:first-child {
      color: #a2a6ac; }
    .dp-dropdown-content li:hover {
      background-color: #464c53; }

li.nav-item.dp-dropbtn {
  position: relative; }
  li.nav-item.dp-dropbtn:hover ul.dp-dropdown-content {
    display: block !important; }

.dropdown:hover .dp-dropbtn {
  background-color: #3e8e41; }

ul.dp-dropdown-content:before {
  content: " ";
  content: "\A";
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #464c56 transparent transparent;
  position: absolute;
  left: -12px;
  top: 10px; }

ul.ullist-dp li a {
  color: #fff; }

ul.ullist-dp li:nth-child(n+1) {
  margin-left: 5px; }

/*# sourceMappingURL=dispatchScreen.css.map */
