$color_1: #ffffff;
$color_2: #ebeef3;
$color_3: #72777c;
$color_4: #3d3f43;
$color_5: #62bb31;
$color_6: #3a3d44;
$color_7: #fff;
$color_8: white;
$color_9: #a2a6ac;
$background_color_1: #62bb31;
$background_color_2: #ffffff;
$background_color_3: #ebeef3;
$background_color_4: #4CAF50;
$background_color_5: #464c56;
$background_color_6: #464c53;
$background_color_7: #3e8e41;
$border_color_1: transparent #464c56 transparent transparent;

/*Dispatch screen*/
body#page-top.dispatch-screen {
  footer.sticky-footer {
    background: #5a6374 !important;

    .container {
      > div {
        float: left;
        width: 50%;
      }

      overflow: hidden;
      padding: 25px 0;
      width: 1185px;
      margin: 0 auto;

      .dp-right-footer {
        float: right !important;
        text-align: right;
      }
    }
  }

  background: #fff !important;
  border: medium;

  nav#mainNav {
    border: medium none;
  }

  .contain-body-class {
    background: #62bb31 !important;
  }
}

h2#dp-total-order {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: $color_1;
}

ul.ullist-dp {
  padding-left: 0;

  > li {
    border-radius: 4px;
    background-color: $background_color_1;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: $color_1;
    padding: 10px 15px;
  }

  li.dp-btn-exit {
    display: none;
  }
}

.dp-right-footer {
  .ullist-dp {
    > li {
      display: inline-block;
      cursor: pointer;
    }
  }
}

li.dp-prev-btn {
  > span {
    padding-right: 10px;
  }

  margin: 0 5px;
}

li.dp-next-btn {
  > span {
    padding-left: 10px;
  }
}

.dp-left-footer {
  overflow: hidden;
  vertical-align: middle;

  h2#dp-total-order {
    padding: 20px 0;
    margin-bottom: 0;
  }
}

button.rectangle-sample {
  height: 35px;
  border-radius: 4px;
  background-color: $background_color_1;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: $color_1;
  border: medium none;
  position: absolute;
  top: 20px;
  right: 15px;
}

.dp-box-wrap {
  //width: 23%;
  height: 249px;
  border-radius: 4px;
  background-color: $background_color_2;
  box-shadow: 0 3px 30px 0 #e0e7f4;
  position: relative;
}

.dp-inner-box-wrap {
  overflow: hidden;
  width: 100%;
  display: inline-block;
  padding: 15px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;

  .left-inner-dp {
    float: left;
  }

  .right-inner-dp {
    float: right;
  }
}

.dp-box-footer {
  clear: both;
  overflow: hidden;
  border-radius: 4px;
  background-color: $background_color_3;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;

  > p {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: 0.5px;
    color: $color_4;
    margin-bottom: 0;
    padding: 10px 15px;
  }
}

ul.dispatch-screen-order-details {
  margin-bottom: 0;
  padding-left: 0;

  > li {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.5px;
    color: $color_3;
    list-style-type: none;
    cursor: pointer;
  }
}

h1#dp-order-no {
  font-size: 80px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.9px;
  text-align: center;
  color: $color_2;
  position: absolute;
  top: 60px;
  right: 15px;
}

p#dp-order-id {
  letter-spacing: 0.5px;
  color: $color_5;
  font-size: 12px;
  cursor: pointer;
}

.left-inner-dp {
  > h5 {
    letter-spacing: 0.6px;
    color: $color_6;
    font-weight: bold;
    font-size: 14px;

    > span {
      border-radius: 8px;
      display: inline-block;
      background-color: $background_color_1;
      color: $color_7;
      font-size: 14px;
      letter-spacing: 0.6px;
      padding: 4px 8px;
      margin-left: 15px;
    }
  }
}

div#dp-content-wrapper {
  overflow: hidden;
}

.block1-wrap-dp {
  > div {
    //float: left;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.inner-content-dm {
  > .block1-wrap-dp {
    padding-top: 15px;
    overflow: hidden;
    padding-left: 15px;
    padding-bottom: 15px;
  }
}

div#hide-block1-dp {
  display: none;
}

#dp-content-wrapper.service-manager-overlay {
  background: #fff;
  height: calc(100% - 100px);
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

footer.sticky-footer.sticky-header-overlay {
  width: 100%;
  z-index: 99999;
}

.dp-dropbtn {
  background-color: $background_color_4;
  color: $color_8;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dp-dropdown {
  position: relative;
  display: inline-block;

  &:hover {
    .dp-dropdown-content {
      display: block;
    }
  }
}

.dp-dropdown-content {
  display: none;
  position: absolute;
  min-width: 149px;
  border-radius: 4px;
  background-color: $background_color_5;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 22px;
  left: 80px;
  padding-left: 0;

  li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.4px;
    color: $color_7;
    cursor: pointer;

    &:first-child {
      color: $color_9;
    }

    &:hover {
      background-color: $background_color_6;
    }
  }
}

li.nav-item.dp-dropbtn {
  position: relative;

  &:hover {
    ul.dp-dropdown-content {
      display: block !important;
    }
  }
}

.dropdown {
  &:hover {
    .dp-dropbtn {
      background-color: $background_color_7;
    }
  }
}

ul.dp-dropdown-content {
  &:before {
    content: " ";
    content: "\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: $border_color_1;
    position: absolute;
    left: -12px;
    top: 10px;
  }
}

ul.ullist-dp {
  li {
    a {
      color: #fff;
    }
  }
}

ul.ullist-dp {
  li {
    &:nth-child(n+1) {
      margin-left: 5px;
    }
  }
}