$color_coal_black: #3a3d44;
$background_color_white: #ffffff;
$background_color_light_white: #eff3f6;

.ullist-inventory-location {
  > li {
    list-style-type: none;
    cursor: pointer;

    &:hover {
      background-color: $background_color_light_white;
    }
  }
}

ul.ullist-inventory-location {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;

  > li {
    > a {
      color: $color_coal_black;
      font-size: 14px;
    }
  }
}

.search-location {
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(217, 222, 229, 0.5);
  background-color: $background_color_white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
}

form.form-inline.search-inline {
  margin: 0;
}
.inventory-location-wrapper {
  background: #f2f7fb;
  margin-left: 80px;
  text-align:left;
}
#page-top.bg-dark {
  background-color: #f2f7fb !important;
}