$primary-color : #ff00ff;
$button-color : #b808f8;

// Body
$body-bg: #f5f8fa;
$body-bg-login: #dedede;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Base colors
$white: #FFFFFF;
$black: #2A2A2A;
$blue: #136fe7;
$green: #62bb31;
$red: #de4040;
$orange: #ef7f2a;

// Set theme
$color-theme: $green;

// Brands
$brand-primary: $blue;
$brand-info: #8eb4cb;
$brand-success: $green;
$brand-warning: #cbb956;
$brand-danger: $red;

// Layout settings
$sidebar-menu: $color-theme;
$sidebar-menu-width: 80px;
$sidebar-menu-width-expand: 200px;
$sidebar-submenu: #f2f7fb;
$sidebar-submenu-width: 225px;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Media query
$media-large-screen: 1921px;
$media-4k: 2560px;
$media-laptop-l: 1441px;
$media-laptop: 1024px;
$media-tablet-l: 991px;
$media-tablet: 768px;
$media-tablet-s: 560px;
$media-mobile-l: 425px;
$media-mobile-m: 375px;
$media-mobile-s: 320px;

// Misc
$rounded                  : 3px;
$sticky-footer-height : 100px;
$navbar-base-height : 500px;
$sidebar-collapsed-width : 400px;
$sidebar-base-width: 410px;
$gray-900 : #ffff00;
$gray-800 : #ffff0f;